Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

feat(fw,tests): change EOF to stack_height_increase
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
Due: tox

feat(tests): bls point generator and extra add g1/g2 coverage.
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/msm_G1_bls.json
  whitelist.txt
Due: tox

feat(exceptions): Add system contract failures
  src/ethereum_test_exceptions/exceptions.py
Due: tox

feat(clis): Add system contract failures
  src/ethereum_clis/clis/execution_specs.py
Due: tox

fix(tools): Refactor system contract deploy tests to account to EIP changes
  src/ethereum_test_tools/utility/generators.py
Due: tox

change test and helper methods
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox

Blake2 test spec refactor
  converted-ethereum-tests.txt
  tests/istanbul/eip152_blake2/common.py
  tests/istanbul/eip152_blake2/conftest.py
  tests/istanbul/eip152_blake2/spec.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

feat(clis,exceptions,specs): Pydantic validation using exception mapper
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_clis/types.py
  src/ethereum_test_exceptions/__init__.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
Due: tox

fix(specs): Skip block exception check on requests modifications
  src/ethereum_test_specs/blockchain.py
Due: tox

fix(tests): EIP-4844: mark block as skip block exception verification
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

fix(docs): Links
  docs/consuming_tests/blockchain_test.md
  docs/consuming_tests/blockchain_test_engine.md
  docs/consuming_tests/exceptions.md
  docs/consuming_tests/state_test.md
  docs/consuming_tests/transaction_test.md
Due: tox-docs

convert back to little-endian encoding
  tests/prague/eip6110_deposits/helpers.py
Due: tox

refactor(exceptions): Mapper mappings allow regex, convert from `property` to `ClassVar`
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_test_exceptions/__init__.py
  src/ethereum_test_exceptions/exception_mapper.py
Due: tox

fix(docs): tox
  docs/consuming_tests/exceptions.md
Due: tox-docs

new(tests): EOF validation CALLF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF validation RETF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF validation JUMPF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF validation RETF stack overflow (#1341)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

refactor(tests): EIP-152: Spec m, h, t0, t1 defaults
  tests/istanbul/eip152_blake2/common.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

refactor(tests): EIP-152: test IDs
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

feat(tests): Blake2 test spec refactor (#1395)
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  tests/istanbul/eip152_blake2/common.py
  tests/istanbul/eip152_blake2/conftest.py
  tests/istanbul/eip152_blake2/spec.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox, tox-docs

Add cases for calling with all call opcode variants
  docs/CHANGELOG.md
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox, tox-docs

🐞 fix: Add missing yParity in Authorization tuple
  src/ethereum_test_types/types.py
Due: tox

Refactor and remove misleading comment
  src/ethereum_test_types/types.py
Due: tox

feat(tests): Additional EIP-2935 coverage (#1379)
  docs/CHANGELOG.md
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox, tox-docs

feat(entry-point): Add filler reader, which parses legacy fillers
  pyproject.toml
  src/cli/filler_reader.py
Due: tox

parse json fillers by python script WIP
  file.txt
  pyproject.toml
  src/cli/filler_reader.py
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/structures/__init__.py
  src/cli/fillerconvert/structures/account.py
  src/cli/fillerconvert/structures/common/__init__.py
  src/cli/fillerconvert/structures/common/common.py
  src/cli/fillerconvert/structures/environment.py
  src/cli/fillerconvert/structures/expect_section.py
  src/cli/fillerconvert/structures/general_transaction.py
  src/cli/fillerconvert/structures/state_test_filler.py
Due: tox

tox: lint fixes
  src/cli/filler_reader.py
Due: tox

fix(fillerconvert): transaction: Handle data with access list, default gasPrice
  src/cli/fillerconvert/structures/general_transaction.py
Due: tox

fix(fillerconvert): Expect has default `indexes`
  src/cli/fillerconvert/structures/expect_section.py
Due: tox

fill convert compile yul
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/structures/common/common.py
  src/cli/fillerconvert/structures/environment.py
  src/cli/fillerconvert/structures/expect_section.py
  src/cli/fillerconvert/structures/state_test_filler.py
Due: tox

fix(fillerconvert): Parsing fixes to main file
  src/cli/fillerconvert/fillerconvert.py
Due: tox

support labels in expect section support different transaction types parse labels in code
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/structures/account.py
  src/cli/fillerconvert/structures/common/common.py
  src/cli/fillerconvert/structures/environment.py
  src/cli/fillerconvert/structures/expect_section.py
  src/cli/fillerconvert/structures/general_transaction.py
  src/cli/fillerconvert/structures/state_test_filler.py
Due: tox

uv,pyproject: Add `eth_abi`
  pyproject.toml
Due: none

static test try
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/state_static.py
  tests/cancun/state_test/__init__.py
  tests/cancun/state_test/add11Filler.json
  tests/cancun/state_test/add11_ymlFiller.yml
  uv.lock
Due: tox

fix(fillerconvert): Common: Parse ABI code, use `Address`, `HexNumber`, `Bytes`
  src/cli/fillerconvert/structures/common/common.py
Due: tox

Some fixes
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/state_static.py
Due: tox

fillconvert support all tests in etehreum tests
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/structures/common/common.py
  src/cli/fillerconvert/structures/common/compile_yul.py
  src/cli/fillerconvert/structures/environment.py
  src/cli/fillerconvert/structures/expect_section.py
  src/cli/fillerconvert/structures/general_transaction.py
  src/cli/fillerconvert/structures/state_test_filler.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/state_static.py
Due: tox

refactor
  src/ethereum_test_specs/state_static.py
Due: tox
