Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

chore(fw): raise an exception if an opcode recieves an invalid keyword argument (#1739)
  docs/CHANGELOG.md
  src/ethereum_test_vm/opcode.py
  src/ethereum_test_vm/tests/test_vm.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/create/test_create_one_byte.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/double_call_combinations.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox, tox-docs

remove zkevm marker from eip2537bls12381 prague tests
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
Due: tox

🚧 wip(EIP-7928): Block-level Access Lists
  tests/unscheduled/eip7928_block-level_access_lists/__init__.py
Due: tox

✨ feat(EIP-7928): Spec params
  tests/unscheduled/eip7928_block-level_access_lists/spec.py
Due: tox

refactor(cli): remove unnecessary Docker wrapper functions
  src/cli/extract_config.py
Due: tox

feat(clz): add jump operation test case for CLZ
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

🧹 chore(EIP-7928): Rename package
  tests/unscheduled/eip7928_block_level_access_lists/__init__.py
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

✨ feat(EIP-7928): Test cases
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

refactor(all): modernize codebase with python 3.11 features (#1812)
  docs/CHANGELOG.md
  src/cli/order_fixtures.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/pydantic.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/utility/generators.py
  src/ethereum_test_types/account_types.py
  src/ethereum_test_types/trie.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/logging/logging.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox, tox-docs

add valid opcodes for Osaka
  src/ethereum_test_forks/forks/forks.py
Due: tox

minor fixes to remove dead code
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/eels_resolver.py
Due: tox

bug(forks): add valid opcodes for Osaka (#1827)
  src/ethereum_test_forks/forks/forks.py
Due: tox

set explicit transaction gas cap
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

bug(tests): enforce transaction gas limit in Osaka (#1830)
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

refactor(benchmark): don't mark the BLS12-381 tests for benchmarking (#1822)
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
Due: tox

refactor(tests): update CLZ jump operation test to use opcode parameterization
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

chore: rename zkevm tests to benchmark.
  .github/configs/evm.yaml
  docs/CHANGELOG.md
  tests/benchmark/__init__.py
  tests/benchmark/conftest.py
  tests/benchmark/helpers.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox, tox-docs

chore(docs): changelog.
  docs/CHANGELOG.md
Due: tox-docs

refactor(tests,fw,tox,docs): rename zkevm marker to benchmark
  .github/workflows/tox_verify.yaml
  docs/getting_started/code_standards.md
  docs/running_tests/releases.md
  src/ethereum_test_specs/base.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/conftest.py
  tests/benchmark/test_worst_compute.py
  tox.ini
Due: tox, tox-docs

chore(docs): align changelog docs for future releases.
  docs/CHANGELOG.md
  docs/running_tests/releases.md
Due: tox-docs

chore(tests): remove zkevm specific nomenclature from docstrings
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

chore(ci|docs): rename zkevm releases to benchmark.
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  docs/running_tests/releases.md
  whitelist.txt
Due: tox-docs

refactor(tests): enhance CLZ jump operation test with additional parameterization
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

chore: bump eels resolution.
  eels_resolutions.json
Due: none

feat(tests): add jump operation test case for CLZ (#1824)
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

chore(ci): feature.yaml
  .github/configs/feature.yaml
Due: none

chore: remove rogue comment.
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore: final tweaks after rebase.
  docs/CHANGELOG.md
  tests/benchmark/test_worst_opcode.py
Due: tox, tox-docs

chore(ci|tests): more updates for fusaka devnet 2 release (#1776)
  .github/configs/feature.yaml
  eels_resolutions.json
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

Apply suggestions from code review
  .github/configs/feature.yaml
  docs/CHANGELOG.md
Due: tox-docs

fixes
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/transaction_types.py
Due: tox

fix
  src/ethereum_test_types/transaction_types.py
Due: tox

refactor(benchmark): rename `zkevm` tests to `benchmark` (#1804)
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  docs/getting_started/code_standards.md
  docs/running_tests/releases.md
  src/ethereum_test_specs/base.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/__init__.py
  tests/benchmark/conftest.py
  tests/benchmark/helpers.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
  tox.ini
  whitelist.txt
Due: tox, tox-docs

benchmark: cover memory opcodes
  tests/benchmark/test_worst_memory.py
Due: tox

lints
  tests/benchmark/test_worst_memory.py
Due: tox

adjust parameters range
  tests/benchmark/test_worst_memory.py
Due: tox

add wildcard to SENDER_NOT_EOA exception regexp
  src/ethereum_clis/clis/ethrex.py
Due: tox

update pending regex's
  src/ethereum_clis/clis/ethrex.py
Due: tox

add GAS_ALLOWANCE_EXCEEDED exception
  src/ethereum_clis/clis/ethrex.py
Due: tox

add TYPE_3_TX_BLOB_COUNT_EXCEEDED exception
  src/ethereum_clis/clis/ethrex.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
