Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

fix(tests): update blob base cost in eip7918 spec to 2**13
  tests/osaka/eip7918_blob_reserve_price/spec.py
Due: tox

🧹 chore(EIP-7928): bal_hash header
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/block_types.py
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
Due: tox

🧹 chore: Revert changes to EELS resolution
  eels_resolutions.json
Due: none

🧹 chore: Populate bal_hash env
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_types.py
Due: tox

✨ feat(EIP-7928): Add BAL to block body
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

fix(tests): fix invalid log opcode keyword 7702 fails (#1856)
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

feat(benchmark): add coverage for CREATE and CREATE2 (#1847)
  tests/benchmark/test_worst_bytecode.py
Due: tox

feat(tests): add EIP-7907 big-code-size payment evasion benchmark test
  tests/osaka/eip7907_meter_code_size_and_increase_limit/__init__.py
  tests/osaka/eip7907_meter_code_size_and_increase_limit/spec.py
  tests/osaka/eip7907_meter_code_size_and_increase_limit/test_big_contract_benchmark.py
Due: tox

fix(tests): fixes EXTCODECOPY bench test
  tests/benchmark/test_worst_bytecode.py
Due: tox

✨ feat(EIP-7928): Add pokebal package
  pyproject.toml
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
  uv.lock
Due: tox

removed solc dependency (#1759)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/dev/porting_legacy_tests.md
  docs/getting_started/installation.md
  docs/getting_started/installation_troubleshooting.md
  docs/writing_tests/fork_methods.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
  docs/writing_tests/writing_a_new_test.md
  pyproject.toml
  pytest-check-eip-versions.ini
  pytest-execute-hive.ini
  pytest-execute.ini
  pytest.ini
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/help/tests/test_help.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/solc/solc.py
  src/pytest_plugins/solc/tests/__init__.py
  src/pytest_plugins/solc/tests/test_solc.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/constantinople/eip1014_create2/test_recreate.py
  tests/homestead/yul/test_yul_example.py
  tox.ini
  uv.lock
Due: tox, tox-docs

docs: revamp the state test tutorial with a non-yul example
  docs/writing_tests/tutorials/state_transition.md
Due: tox-docs

fixed broken links
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  docs/running_tests/test_formats/common_types.md
  docs/writing_tests/tutorials/state_transition.md
  pyproject.toml
  pytest.ini
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/solc/solc.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tox.ini
  uv.lock
Due: tox, tox-docs

feat(benchmark): add clz benchmark with the same input
  tests/benchmark/test_worst_compute.py
Due: tox

feat(benchmark): add clz benchmark with the diff input
  tests/benchmark/test_worst_compute.py
Due: tox

refactor(benchmark): enhance clz benchmarks
  tests/benchmark/test_worst_compute.py
Due: tox

refactor(tests): parameterize for varying leading zero lengths
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(tests): add test for CLZ opcode with varying gas costs
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

refactor(tests): rename and update CLZ gas cost test to handle boundary conditions
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

refactor(tests): rename CLZ gas cost test for clarity
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

refactor(fill,deps): forbid yul code in python tests; remove `solc-select` dependency
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/dev/porting_legacy_tests.md
  docs/getting_started/installation.md
  docs/getting_started/installation_troubleshooting.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  docs/running_tests/test_formats/common_types.md
  docs/writing_tests/fork_methods.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
  docs/writing_tests/writing_a_new_test.md
  pyproject.toml
  pytest-check-eip-versions.ini
  pytest-execute-hive.ini
  pytest-execute.ini
  pytest.ini
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/help/tests/test_help.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/solc/solc.py
  src/pytest_plugins/solc/tests/__init__.py
  src/pytest_plugins/solc/tests/test_solc.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/constantinople/eip1014_create2/test_recreate.py
  tests/homestead/yul/test_yul_example.py
  tox.ini
  uv.lock
Due: tox, tox-docs

refactor(tests): update contract deployment to include storage
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

refactor(tests): update clz test to reduce test number
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

refactor(tests): update for readability
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(CLZ): add call operation test case for CLZ
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(tests): add test for CLZ opcode with varying gas costs (#1859)
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

Apply suggestions from code review
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

Update docs/writing_tests/writing_a_new_test.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

docs: misc changes
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

docs: add getting started guide for EEST opcode minilang (#1818)
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

feat(clz): add stack overflow test case
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(clz): add push operation with same value test
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

refactor(clz): reduce test case
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

fix(ci): Speed up slow unit tests by reusing t8n server
  CLAUDE.md
  pytest-framework.ini
  src/cli/gentest/tests/test_cli.py
  src/cli/tests/test_pytest_fill_command.py
  src/conftest.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/transition_tool.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
  tox.ini
Due: tox, tox-docs

refactor(fill): add flag to more tests
  src/cli/gentest/tests/test_cli.py
  src/cli/tests/test_pytest_fill_command.py
  src/pytest_plugins/filler/tests/test_output_directory.py
Due: tox

type(tests): convert create suicide during init
  tests/frontier/create/test_create_suicide_during_init.py
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInitFiller.json
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInit_ThenStoreThenReturnFiller.json
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInit_WithValueFiller.json
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInit_WithValueToItselfFiller.json
Due: tox

fix(tests): double P256VERIFY gas constant (#1857)
  tests/osaka/eip7951_p256verify_precompiles/spec.py
Due: tox

feat(docs): update converting tests instruction
  docs/dev/porting_legacy_tests.md
Due: tox-docs

feat(benchmark): add pure calldata transaction case (#1820)
  tests/benchmark/test_worst_blocks.py
Due: tox

type(tests): convert create suicide store test
  tests/frontier/create/test_create_suicide_store.py
  tests/static/state_tests/stCreateTest/CREATE_AcreateB_BSuicide_BStoreFiller.json
Due: tox
