Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

feat(stubs): Add `pytest_metadata`
  stubs/pytest_metadata/__init__.pyi
  stubs/pytest_metadata/plugin.pyi
Due: none

fix(pyproject.toml): Re-enable untyped imports checks
  pyproject.toml
  src/ethereum_clis/transition_tool.py
Due: tox

fix(tests): Use relative imports in tests
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip7702.py
Due: tox

📄 docs: Remove redundant test
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

📄 docs: Remove redundant test (#2292)
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

chore(tooling): Add ruff ARG002, 003, 005 rules and fix all violations
  pyproject.toml
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_base_types/tests/test_base_types.py
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_rpc/rpc_types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_specs/blobs.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_vm/opcodes.py
  src/pytest_plugins/custom_logging/plugin_logging.py
  src/pytest_plugins/custom_logging/tests/test_logging.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  src/pytest_plugins/filler/ported_tests.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_filling_session.py
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/static_violation.py
  tests/prague/eip6110_deposits/helpers.py
Due: tox

refactor(tests/benchmark): Optimize generators usages
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_memory.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

chore(tooling): Add ruff ARG002, 003, 005 rules and fix all violations (#2291)
  pyproject.toml
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_base_types/tests/test_base_types.py
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_rpc/rpc_types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_specs/blobs.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_vm/opcodes.py
  src/pytest_plugins/custom_logging/plugin_logging.py
  src/pytest_plugins/custom_logging/tests/test_logging.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  src/pytest_plugins/filler/ported_tests.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_filling_session.py
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/static_violation.py
  tests/prague/eip6110_deposits/helpers.py
Due: tox

fix(src,tests): Fix import typing errors (#2290)
  pyproject.toml
  src/ethereum_clis/transition_tool.py
  stubs/pytest_metadata/__init__.pyi
  stubs/pytest_metadata/plugin.pyi
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip7702.py
Due: tox

fix(tests): Fix test expectations for BAL oog tests
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

refactor(benchmark): update worst statefule scenario
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

refactor unop worst case
  tests/benchmark/test_worst_compute.py
Due: tox

refactor: update blockhash case
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix: update linting comment length
  src/ethereum_test_benchmark/benchmark_code_generator.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_memory.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

refactor(benchmark): update modexp cases by parameterization
  tests/benchmark/test_worst_compute.py
Due: tox

refactor: remove blockchain filler in worst block cases
  tests/benchmark/test_worst_blocks.py
Due: tox

fix linting and typing issue
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_memory.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

refactor(benchmark): update code generator interface
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
Due: tox

refactor(benchmark): update worst compute scenario
  tests/benchmark/test_worst_compute.py
Due: tox

fix: resolve failing blob and block has tests
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

refactor(benchmark): update worst opcode scenario
  tests/benchmark/test_worst_opcode.py
Due: tox

fix incorrect logic for missing coverage
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_memory.py
Due: tox

refactor(benchmark): update worst memory scenario
  tests/benchmark/test_worst_memory.py
Due: tox

refactor(benchmark): update worst bytecode scenario
  tests/benchmark/test_worst_bytecode.py
Due: tox

refactor(benchmark): Improve max_iterations calculation
  src/ethereum_test_benchmark/benchmark_code_generator.py
Due: tox

feat(benchmark): add setup_blocks and update tests
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

✨ feat(tests): EIP-7928 coinbase test cases
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

✨ feat(tests): EIP-7928 coinbase test cases (#2294)
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

chore: update Amsterdam commit hash for resolver
  .github/configs/eels_resolutions.json
  src/pytest_plugins/eels_resolutions.json
Due: none

chore: add changelog entry
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

fix(tests): Fix test expectations for BAL oog tests (#2293)
  .github/configs/eels_resolutions.json
  docs/CHANGELOG.md
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox, tox-docs, tox-changelog

chore: add CHANGELOG entry for #2297
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

fix(tests): Fix and add cases for BALs tests for SSTORE OOG conditions
  src/ethereum_test_types/block_access_list/expectations.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

chore: update test case reference for new SSTORE w/ OOG boundary cases
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

fix(specs): Make sure setup blocks are always used
  src/ethereum_test_specs/benchmark.py
Due: tox

refactor(benchmark): update to benchmark test wrapper (#2160)
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_memory.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

feat(tests): add initial XEN test
  tests/benchmark/mainnet/__init__.py
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

feat(tests): update XEN mint test [dirty]
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

feat(tests): add XEN approval spam test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox
