Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(consume): don't parametrize tests for unsupported fixture formats (#1315)
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/decorator.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Due: tox, tox-docs

chore(docs): add `fill` section to changelog.
  docs/CHANGELOG.md
Due: tox-docs

unit test to check transition tool support
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

chore(fill): fix `--fork/--from/--until` for transition forks (#1311)
  docs/CHANGELOG.md
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_markers.py
Due: tox, tox-docs

chore(docs): update changelog.
  docs/CHANGELOG.md
Due: tox-docs

chore(fill): fix transition fork state test node ids.
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/pytest_plugins/filler/filler.py
Due: tox, tox-docs

Update src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/helpers.py
Due: tox

chore(fill): add review comments.
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/pytest_plugins/filler/filler.py
Due: tox

chore(fill): fix transition fork state test node ids (#1313)
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/pytest_plugins/filler/filler.py
Due: tox, tox-docs

hack fix
  src/ethereum_test_specs/blockchain.py
Due: tox

Implement gas cost test cases for most CALL operations
  tests/berlin/eip2929_gas_cost_increases/test_gas_cost.py
Due: tox

RESET: More changes
  src/ethereum_test_specs/state_json.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/refiller/refiller.py
Due: tox

Add example test
  tests/homestead/contractCreationOOGdontLeaveEmptyContractFiller.json
Due: none

fix: `GethTransitionTool` did not init TransitionTool``
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
Due: tox, tox-docs

docs: combine workflows; use token-based authentification
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_main.yaml
Due: none

fix: `GethTransitionTool` did not init TransitionTool`` (#1276)
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
Due: tox, tox-docs

docs: combine workflows; use token-based authentification (#1317)
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_main.yaml
Due: none

fix(consume): don't raise an error with an unknown fork
  src/ethereum_test_forks/helpers.py
  src/pytest_plugins/consume/consume.py
Due: tox

feat(consume): add `forks` and `fixture_formats` as top-level index metadata
  src/cli/gen_index.py
  src/ethereum_test_fixtures/consume.py
Due: tox

fix(consume): register markers for all forks in index file
  src/pytest_plugins/consume/consume.py
Due: tox

docs: improve changelog
  docs/CHANGELOG.md
Due: tox-docs

Apply code review suggestions
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

Refactor target_address to fixture
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

Apply suggestions from code review
  src/pytest_plugins/consume/consume.py
Due: tox

fix(consume): patch-up commits from code review
  src/pytest_plugins/consume/consume.py
Due: tox

fix(ci,docs): fix docs deployment introduced in #1317
  .github/workflows/docs_deploy.yaml
Due: none

fix(consume): allow consumption of fixtures with unknown forks (#1318)
  docs/CHANGELOG.md
  src/cli/gen_index.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_forks/helpers.py
  src/pytest_plugins/consume/consume.py
Due: tox, tox-docs

feat(consume): add support for ethereum/{tests,legacytests} tarball urls
  src/pytest_plugins/consume/releases.py
  whitelist.txt
Due: tox

fix(consume): fix tag matching when fetching releases
  src/pytest_plugins/consume/releases.py
Due: tox

docs: add advisory to changelog about cache dir changes
  docs/CHANGELOG.md
Due: tox-docs

fix(consume): don't extract to hard-coded fixtures directory
  src/pytest_plugins/consume/consume.py
Due: tox

fix(ci,docs): fix docs deployment introduced in #1317 (#1319)
  .github/workflows/docs_deploy.yaml
Due: none

fix(consume): revert incorrect "fix" from 39b0f542
  src/pytest_plugins/consume/releases.py
Due: tox

conversion: generalize non-partial and add empty code dimension
  tests/verkle/eip7748/accounts.py
Due: tox

conversion: add test case for empty-code with non-empty storage non-partial conversion
  tests/verkle/eip7748/accounts.py
Due: tox
