Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

clarify gas prices
  src/ethereum_test_forks/__init__.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

reentrancy test
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

fix Ruff
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

chore(deps): add dependency on ethereum-rlp (#1080)
  pyproject.toml
  uv.lock
Due: none

Update tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
Due: tox

feat(tests): EIP-2537: add cross-check to verify JSON gas values
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
Due: tox

fix(tests): EIP-2537: vector update 2
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G2_bls.json
Due: none

fix(tests): EIP-2537 update vectors
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/pairing_check_bls.json
Due: none

style(tests): clean-up git merge artifact from docstring
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
Due: tox

style(tests): remove superflous line-too-long (E501) pragmas
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
Due: tox

docs(tests): add source of 2537 JSON test vectors
  tests/prague/eip2537_bls_12_381_precompiles/vectors/test-vectors.md
Due: tox-docs

test
  tests/frontier/opcodes/test_selfdestruct.py
Due: tox

coverage script to detect blockchain tests
  .github/workflows/coverage.yaml
Due: none

fix(fill,fw): use t8n fork name in resolutions keys
  .github/configs/eels_resolutions.json
  eels_resolutions.json
Due: none

chore(ci): remove EELSmaster entry from ci eels_resolutions.json
  .github/configs/eels_resolutions.json
Due: none

transaction test failure
  tests/frontier/transactions/test_transactions.py
Due: tox

fix(fill,fw,ci): use t8n fork name in eels resolutions keys (#1088)
  .github/configs/eels_resolutions.json
  eels_resolutions.json
Due: none

docs: add documentation, changelog
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
Due: tox-docs

feat(forks): Adds `supports_blobs` method
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

refactor,fix(plugins/forks): `fork_transition_test` marker
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_markers.py
Due: tox

fix(forks): Transition fork comparisons
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

refactor(tests): EIP-4844, EIP-7691: Fill fork transition blob tests in newer forks
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
Due: tox

fix(ci): bump uv version in ci
  .github/actions/setup-uv/action.yaml
Due: none

verify intermidiate block state in blockchain test
  src/ethereum_test_specs/blockchain.py
  tests/frontier/examples/__init__.py
  tests/frontier/examples/test_block_intermidiate_state.py
  whitelist.txt
Due: tox

fix(ci): bump uv version in ci workflows (#1091)
  .github/actions/setup-uv/action.yaml
Due: none

fix(eof): eofwrap.py to ignore invalid blocks (#1028)
  src/cli/eofwrap.py
Due: tox

refactor(plugins/forks): Validity markers as classes
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_bad_validity_markers.py
  src/pytest_plugins/forks/tests/test_markers.py
Due: tox, tox-docs

✨ feat: Tox environment for gentets
  src/cli/gentest/source_code_generator.py
  src/config/app.py
Due: tox

✨ feat: Gentest tox using pytest
  src/cli/gentest/tests/__init__.py
  src/cli/gentest/tests/test_cli.py
  tox.ini
Due: tox

✨ feat: Gentest fill
  src/cli/gentest/tests/test_cli.py
  tox.ini
Due: tox

unit test
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/tests/test_expect.py
Due: tox

stubs
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/schemas/common/types.py
  stubs/rlp/__init__.pyi
  stubs/rlp/codec.pyi
  uv.lock
Due: tox

json schema verification: verify block headers in generated blockchain tests
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/schemas/blockchain/genesis.py
  src/ethereum_test_fixtures/schemas/blockchain/test.py
  src/ethereum_test_fixtures/schemas/common/types.py
  src/ethereum_test_fixtures/verify_format.py
  whitelist.txt
Due: tox

verify blockHeader == encoded rlp in generated tests
  src/ethereum_test_fixtures/schemas/blockchain/genesis.py
  src/ethereum_test_fixtures/schemas/blockchain/headers.py
  src/ethereum_test_fixtures/schemas/blockchain/test.py
  src/ethereum_test_fixtures/schemas/common/types.py
  whitelist.txt
Due: tox

format ruff
  src/ethereum_test_fixtures/schemas/blockchain/headers.py
  src/ethereum_test_fixtures/schemas/blockchain/test.py
  src/ethereum_test_fixtures/schemas/common/types.py
  src/ethereum_test_fixtures/verify.py
  src/ethereum_test_fixtures/verify_format.py
Due: tox

add rlp dependency
  pyproject.toml
Due: none

refactor using ethereum-rlp
  pyproject.toml
  src/ethereum_test_fixtures/schemas/blockchain/headers.py
  src/ethereum_test_fixtures/verify_format.py
  stubs/rlp/__init__.pyi
  stubs/rlp/codec.pyi
  uv.lock
Due: tox

fix(specs): Unit test
  src/ethereum_test_specs/tests/test_expect.py
Due: tox

fix(tests): Fix intermediate state test
  tests/frontier/examples/test_block_intermediate_state.py
Due: tox

Update test expectations to match updated inputs
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
