Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

feat(consume): propagate stdout and stderr in hive test result
  src/pytest_plugins/pytest_hive/pytest_hive.py
  whitelist.txt
Due: tox

Apply suggestions from code review
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Due: tox

static test try
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/state_static.py
  tests/cancun/state_test/__init__.py
  tests/cancun/state_test/add11Filler.json
  tests/cancun/state_test/add11_ymlFiller.yml
  uv.lock
Due: tox

Fix underflow test by reducing unnecessary stack pushes
  tests/frontier/opcodes/test_swap.py
Due: tox

fix(tests): EIP-7702 verification/merge issue (#1358)
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(plugins/spec_version_checker): Sort modules (#1357)
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox

fillconvert support all tests in etehreum tests
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/structures/common/common.py
  src/cli/fillerconvert/structures/common/compile_yul.py
  src/cli/fillerconvert/structures/environment.py
  src/cli/fillerconvert/structures/expect_section.py
  src/cli/fillerconvert/structures/general_transaction.py
  src/cli/fillerconvert/structures/state_test_filler.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/state_static.py
Due: tox

Apply suggestions from code review
  src/pytest_plugins/logging.py
Due: tox

Apply suggestions from code review
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

chore(consume): tidy-up ini file
  pytest-consume.ini
Due: none

fix(consume): don't include setup logs from call logs
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

Some fixes
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/state_static.py
Due: tox

feat(plugins/forks): Add `valid_at` marker
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
Due: tox, tox-docs

Parametrize fill function using `valid_at`
  src/ethereum_test_specs/state_static.py
Due: tox

Fill works 🎉
  src/ethereum_test_specs/state_static.py
Due: tox

fix check of unset account fields
  src/ethereum_test_specs/state_static.py
Due: tox

fix account-should-not-exist
  src/ethereum_test_specs/state_static.py
Due: tox

fix(plugins/refiller): warn instead of error for parsing failures
  src/pytest_plugins/refiller/refiller.py
Due: tox

refactor
  src/ethereum_test_specs/state_static.py
Due: tox

fix(plugins/refiller): Check filler file name before loading
  src/pytest_plugins/refiller/refiller.py
Due: tox

fix exceptions
  src/cli/fillerconvert/structures/expect_section.py
  src/ethereum_test_specs/state_static.py
Due: tox

Update exceptions
  src/ethereum_test_exceptions/exceptions.py
Due: tox

Remove eip4750_functions/test_code_validation.py unreachable tests moved to new file
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Due: tox

Consider container kind to determine if container is duplicated
  src/ethereum_test_specs/eof.py
Due: tox

Update eof_tracker.md
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox-docs

Format code
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_minimal_valid_eof1_multiple_code_sections.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_type_section_size.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_unknown_section.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_unreachable_code_sections.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_stack_range_maximally_broad.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_underflow.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_embedded_container.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_embedded_container_invalid.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_returncontract.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_initcode_container.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_max_nested_containers.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_runtime_container.py
Due: tox

added pseudo contract that just returns withdrawals requests
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
Due: tox

fix state_static
  src/ethereum_test_specs/state_static.py
Due: tox

add refilled test verification uv run fillerconvert mode=verify folder_path=/home/wins/Ethereum/execution-spec-tests/fixtures/state_tests/legacy_state_tests export refilled test in a single .json file
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/verify_filled.py
  src/ethereum_test_fixtures/collector.py
  src/pytest_plugins/filler/filler.py
Due: tox

add original stExample test fillers
  tests/cancun/state_test/__init__.py
  tests/legacy_state_tests/stExample/__init__.py
  tests/legacy_state_tests/stExample/accessListExampleFiller.yml
  tests/legacy_state_tests/stExample/add11Filler.json
  tests/legacy_state_tests/stExample/add11_ymlFiller.yml
  tests/legacy_state_tests/stExample/basefeeExampleFiller.yml
  tests/legacy_state_tests/stExample/eip1559Filler.yml
  tests/legacy_state_tests/stExample/indexesOmitExampleFiller.yml
  tests/legacy_state_tests/stExample/invalidTrFiller.json
  tests/legacy_state_tests/stExample/labelsExampleFiller.yml
  tests/legacy_state_tests/stExample/mergeTestFiller.yml
  tests/legacy_state_tests/stExample/rangesExampleFiller.yml
  tests/legacy_state_tests/stExample/yulExampleFiller.yml
Due: tox

fix verification
  src/cli/fillerconvert/verify_filled.py
Due: tox

removed unnecessary offset update
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
Due: tox

fix(github): Pin cmake to a pre-4.0.0 version
  .github/actions/build-evm-client/evmone/action.yaml
Due: none

fix(github): Pin cmake to a pre-4.0.0 version (#1364)
  .github/actions/build-evm-client/evmone/action.yaml
Due: none

delegatecall
  converted-ethereum-tests.txt
Due: none
