Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

feat(forks): create ordered fork registry.
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/compose_fork.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/pytest_plugins/forks/forks.py
  whitelist.txt
Due: tox

feat(forks): fix most bugs, registry works, Prague failing tests.
  src/ethereum_test_forks/base_eip.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/compose_fork.py
  src/ethereum_test_forks/forks/prague/eips/eip7691.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_forks.py
Due: tox

chore: rebase fixes.
  src/cli/eofwrap.py
Due: tox

style(make): add more hints to input prompts
  src/cli/eest/make/commands/test.py
Due: tox

chore(make): update docstrings so they pass ruff/lint as-is
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
Due: none

new(tests): EOF - mix RETF with INVALID, RETF underflow (#1264)
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
Due: tox

new(tests): EOF - ensure EOFCREATE bumps nonce as EIP-161
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

new(tests): extend RJUMP over unreachable code (#1267)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

feat: Add network name (mainnet, holesky, sepolia)
  src/ethereum_test_fixtures/config.py
  src/ethereum_test_specs/config.py
  tests/frontier/config/test_config.py
Due: tox

new(tests): EOF validation JUMPF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF validation JUMPF stack overflow (#1269)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): Add tests for ambiguous subcontainer kind
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

new(tests): Add tests for ambiguous subcontainer kind (#1266)
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

refactor(cli): update eest_make_test.mp4 with a new example
  docs/writing_tests/img/eest_make_test.mp4
Due: none

temp: disable system contract addition
  src/ethereum_test_forks/forks/forks.py
Due: tox

eip7748: add eoa test cases
  tests/verkle/eip7748/accounts.py
Due: tox

chore: update description and notation
  tests/frontier/opcodes/test_calldataload.py
Due: tox

new(tests): EOF - ensure EOFCREATE frame uses separate memory
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

new(tests): EOF - ensure EOFCREATE processes transfer
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

new(tests): EOF - ensure EOF creation tx processes transfer
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
Due: tox

hack the hack
  src/ethereum_test_specs/blockchain.py
Due: tox

refactor(cli): update eest_make_test.mp4 with a bigger font
  docs/writing_tests/img/eest_make_test.mp4
Due: none

feat(make): add more hints to user input prompts
  src/cli/eest/make/commands/test.py
Due: tox

feat(make): add interactive test directory selection
  src/cli/eest/make/commands/test.py
Due: tox

feat(make): allow creation of a new test module within an existing tests subfolder
  src/cli/eest/make/commands/test.py
Due: tox

feat(make): add interactive test directory selection with enhanced UX
  src/cli/eest/make/commands/test.py
Due: tox

feat(make): finalize test creation UX with PR feedback adjustments
  src/cli/eest/make/commands/test.py
Due: tox

refactor(cli): correct function name in test templates
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
Due: tox

feat(consume): add nethermind support to consume direct
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/nethermind.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
  src/ethereum_clis/clis/nethermind.py
  whitelist.txt
Due: tox, tox-docs

fix(consume): fix-up after adding pr review commit
  src/ethereum_clis/clis/nethermind.py
Due: tox

Apply suggestions from code review
  src/ethereum_clis/clis/nethermind.py
Due: tox

refactor(cli): update eest_make_test.mp4
  docs/writing_tests/img/eest_make_test.mp4
Due: none

new(tests): EOF - CALLF/JUMPF/RETF and memory
  tests/osaka/eip7692_eof_v1/eip4750_functions/helpers.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

fix(consume): fix test result detection for state tests with nethtest
  src/ethereum_clis/clis/nethermind.py
Due: tox
