Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

refactor(logging): avoid modifying original log record in ColorFormatter
  src/pytest_plugins/logging.py
Due: tox

refactor(consume): improve docstring and clean-up
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

feat(consume): subclass Logger and add a get_logger helper
  src/pytest_plugins/logging.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

docs(logging): add logger to online docs
  docs/dev/index.md
  docs/dev/logging.md
  docs/navigation.md
  whitelist.txt
Due: tox-docs

🧹 chore(EIP-7623): Remove duplicate fixture
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
Due: tox

removed comment and updated CHANGELOG.md
  docs/CHANGELOG.md
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
Due: tox, tox-docs

chore(logger): remove unused attribute
  src/pytest_plugins/logging.py
Due: tox

feat(logger): allow logger to be used by standalone (none-pytest) apps
  docs/dev/logging.md
  src/pytest_plugins/logging.py
Due: tox, tox-docs

🧹 chore(EIP-7623): Remove duplicate fixture (#1381)
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
Due: tox

tests(logger): make logging a package and add unit tests
  pytest-consume.ini
  src/pytest_plugins/logging/__init__.py
  src/pytest_plugins/logging/logging.py
  src/pytest_plugins/logging/tests/__init__.py
  src/pytest_plugins/logging/tests/test_logging.py
  whitelist.txt
Due: tox

refactor(logger): use a ClassVar for `running_in_docker`
  src/pytest_plugins/logging/logging.py
Due: tox

feat(consume): add logging to consume engine
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

new(tests): Add exhaustive EOF stack underflow tests
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): Add exhaustive EOF stack underflow tests (#1378)
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): Add EOF validation tests for stack underflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(forks): Remove `CancunEIP7692`
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7692_eof_v1/__init__.py
Due: tox

change(github,tox): Rename `eip7692` -> `future`
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  tox.ini
Due: none

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

Apply suggestions from code review
  docs/CHANGELOG.md
  tox.ini
Due: tox-docs

fix: tox
  docs/CHANGELOG.md
Due: tox-docs

new(tests): EIP-7685: add more test cases for request types (#1340)
  docs/CHANGELOG.md
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
Due: tox, tox-docs

tests(consume): improve test id pattern matching in collect-only test
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

tests(logging): fix-up color formatter monkeypatching
  src/pytest_plugins/logging/tests/test_logging.py
Due: tox

feat(consume): improve formatting of hive propagated captured output
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

chore(consume): minor change in propagated hive test detail
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

chore(consume): moar minor change in propagated hive test detail
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

feat(consume): enable logging, propagate logs to hive results (#1361)
  docs/CHANGELOG.md
  docs/dev/index.md
  docs/dev/logging.md
  docs/navigation.md
  pytest-consume.ini
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/logging/__init__.py
  src/pytest_plugins/logging/logging.py
  src/pytest_plugins/logging/tests/__init__.py
  src/pytest_plugins/logging/tests/test_logging.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  whitelist.txt
Due: tox, tox-docs

chore(deps): specifiy range contraints for types-requests
  pyproject.toml
  uv.lock
Due: none

docs(deps): document how to manage eest dependencies
  docs/dev/deps_and_packaging.md
  docs/dev/index.md
  whitelist.txt
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

Update docs/dev/deps_and_packaging.md
  docs/dev/deps_and_packaging.md
Due: tox-docs

chore(deps): specifiy range contraints for types-requests (#1387)
  pyproject.toml
  uv.lock
Due: none

Update docs/dev/index.md
  docs/dev/index.md
Due: tox-docs

fix(tests): EIP-7702: use penultimate block number instead of fixing block 0
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/filler/pre_alloc.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

docs(deps): document how to manage eest dependencies (#1388)
  docs/CHANGELOG.md
  docs/dev/deps_and_packaging.md
  docs/dev/index.md
  whitelist.txt
Due: tox-docs

refactor(tests): Merge EOF stack underflow tests
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

refactor(tests): Merge EOF stack underflow tests (#1384)
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(tests): Prevent EOF max stack height above number of inputs
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
Due: tox

fix(tests): de-duplicate EOF stack underflow tests
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
