Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

fix types
  src/ethereum_test_specs/state_static.py
Due: tox

chore: Remove unnecessary file
  file.txt
Due: none

chore(specs): avoid using an itertools object as a pydantic model attribute
  src/ethereum_test_specs/base.py
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

docs: fix tox
  docs/CHANGELOG.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(specs): Parse and fill original Filler.json using static test loader (#1362)
  .vscode/settings.json
  docs/CHANGELOG.md
  pyproject.toml
  pyrightconfig.json
  src/cli/fillerconvert/fillerconvert.py
  src/cli/fillerconvert/verify_filled.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/static_state/__init__.py
  src/ethereum_test_specs/static_state/account.py
  src/ethereum_test_specs/static_state/common/__init__.py
  src/ethereum_test_specs/static_state/common/common.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
  src/ethereum_test_specs/static_state/environment.py
  src/ethereum_test_specs/static_state/expect_section.py
  src/ethereum_test_specs/static_state/general_transaction.py
  src/ethereum_test_specs/static_state/state_static.py
  src/ethereum_test_specs/static_state/state_test_filler.py
  src/pytest_plugins/filler/static_filler.py
  uv.lock
Due: tox, tox-docs

unit test to check transition tool support
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

feat(clis): Add unit test to CI-only checks
  src/ethereum_clis/tests/test_transition_tools_support.py
  tox.ini
Due: tox

fix(clis): Tests: Make t8n support unit tests run on installed t8n tools only
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

fix(clis): Geth non-optional binary
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/transition_tool.py
Due: tox

support evmone action on macOS
  .github/actions/build-evm-client/evmone/action.yaml
Due: none

fix(clis): type fix
  src/ethereum_clis/transition_tool.py
Due: tox

build evms for unit tests framework CI
  .github/workflows/tox_verify.yaml
Due: none

fix(clis): unit test non-sorted forks
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

feat(clis): Implement `is_installed` method for `EthereumCLI`
  src/ethereum_clis/ethereum_cli.py
Due: tox

add Prague resolution for eels in CI
  .github/configs/eels_resolutions.json
Due: none

refactor(fw): Generalize `installed_t8n` fixture
  src/conftest.py
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

chore(specs): avoid using an `itertools` object in the `BaseTest` pydantic model (#1414)
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
Due: tox, tox-docs

feat(unit-tests): verify transition tool support (#1263)
  .github/actions/build-evm-client/evmone/action.yaml
  .github/configs/eels_resolutions.json
  .github/workflows/tox_verify.yaml
  src/conftest.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/tests/test_transition_tools_support.py
  src/ethereum_clis/transition_tool.py
  tox.ini
Due: tox

chore(ci,docs): add a github action to check links in .md, .py (#1375)
  .github/workflows/check-links.yml
  .lycheeignore
Due: none

Update versioning.py
  src/ethereum_test_tools/utility/versioning.py
Due: tox

fix(ci): fix bad indentation in yml; update title
  .github/workflows/check-links.yml
Due: none

fix(ci): fix bad indentation in yml; update title (#1419)
  .github/workflows/check-links.yml
Due: none

Update README.md
  README.md
Due: tox-docs

docs: fix links in readme
  README.md
Due: tox-docs

chore(docs,tests): update with new url https://eest.ethereum.org
  README.md
  src/pytest_plugins/consume/tests/release_information.json
Due: tox-docs

fix(docs): fix bad links in readme (#1421)
  README.md
  src/pytest_plugins/consume/tests/release_information.json
Due: tox-docs

chore(docs): add python, ruff, uv & license badges to readme (#1410)
  README.md
Due: tox-docs

add valid_at config so not to throw the warning
  src/pytest_plugins/forks/forks.py
Due: tox

pytest shall always fail if something is wrong with filler.json
  src/ethereum_test_specs/static_state/state_static.py
Due: tox

chore(pytest): temp tweak for consume engine.
  src/ethereum_test_rpc/types.py
Due: tox

chore(pyright): Add include/exclude
  pyrightconfig.json
Due: none

fix(tests): assign ids to parametrized EOF code sections
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Due: tox

Update src/ethereum_test_tools/utility/versioning.py
  src/ethereum_test_tools/utility/versioning.py
Due: tox

remove value
  tests/frontier/opcodes/test_calldatasize.py
Due: tox

Update 7702 precompile test cases:
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs
