Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

eip-7748: add tests for stale data happening in the same block as the one converting accounts
  tests/verkle/eip7748/modified_accounts.py
Due: tox

feat(tests): add DEPOSIT_EVENT_SIGNATURE_HASH EIP-6110
  tests/prague/eip6110_deposits/spec.py
Due: tox

tmp: add sepolia deposit log data
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox

More test vectors
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

More review comments
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

new(tests): EIP-7702: Delegation designation as initcode
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

new(tests): EIP-7702: Invalid max_fee_per_gas/max_priority_fee_per_gas
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

Add simple swap/dup/exchange tests
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Due: tox

Set default version to main with mike 1.1.2
  index.html
Due: none

Set default version to latest with mike 1.1.2
  index.html
Due: none

fix(docs): fix links in readme to use versioned urls
  README.md
Due: tox-docs

chore(docs): ethereum.github.io/execution-spec-tests -> eest.ethereum.org
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/settings.json
  docs/CHANGELOG.md
  docs/dev/docs.md
  mkdocs.yml
  pyproject.toml
  src/config/docs.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
Due: tox, tox-docs

fix(docs): remove dead link to execution-spec-tests.readthedocs.io
  docs/dev/docs.md
Due: tox-docs

fix(docs): fix broken links detected via lychee
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
Due: tox-docs

chore(all): fix broken links in src, tests detected via lychee
  src/cli/input/questionary_input_repository.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/frontier/opcodes/test_calldatacopy.py
  tests/frontier/opcodes/test_dup.py
Due: tox

chore(ci): add an action to check links in .md, .py
  .github/workflows/check-links.yml
  .lycheeignore
Due: none

chore(ci): update cron time
  .github/workflows/check-links.yml
Due: none

chore(ci): reduce concurrency to avoid chances of getting throttled
  .github/workflows/check-links.yml
Due: none

Apply code review
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

hotfix(docs): add back missing assets
  main/404.html
Due: none

Update tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
Due: tox

Datatype is ParameterSet
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
Due: tox

hotfix(docs): add canoncial url
  main/404.html
Due: none

added pytest marker for prague, and some minor fixes
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
Due: tox

chore(docs): remove out-dated, unversioned 404
  404.html
Due: none

fix(docs): show 404 from correct docs version
  404.html
Due: none

chore(docs): use static 404 that doesn't resolve version
  404.html
Due: none

chore(docs): remove automatic redirect
  404.html
Due: none

Revert "chore(docs): remove automatic redirect"
  404.html
Due: none

chore(docs): remove automatic redirect v2
  404.html
Due: none

chore(docs): try to fix 404 asset resolution for non-root pages
  404.html
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
