Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

chore: add changelog entry
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

fix(tests): BALs - set genesis environment to calculate base fee appropriately (#2262)
  docs/CHANGELOG.md
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox, tox-docs, tox-changelog

🚧 wip: noop reverts
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
Due: tox

🚧 wip: aborted account access
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

fix: issues after rebase
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
Due: tox

🚧 wip: noop reverts
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

🥢 nit:
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

✨ feat(tests): test_bal_fully_unmutated_account
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

feat: Use `BalAccountExpectation.empty()` for explicit empty checks
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

✨ feat(tests): EIP-7928 test_bal_self_transfer
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
Due: tox

refactor: remove duplicate test for BAL noop
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
Due: tox

✨ feat(tests): EIP-7928 test_bal_zero_value_transfer
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): EIP-7928 test_bal_self_transfer
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

chore: move noop tests into main bal test file
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_noop.py
Due: tox

Add support for large ints in `Wei` class
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/tests/test_base_types.py
Due: tox

feat(fill): pass blobSchedule into t8n binary
  docs/CHANGELOG.md
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/transition_tool.py
Due: tox, tox-docs, tox-changelog

Avoid using lambda
  src/ethereum_test_base_types/base_types.py
Due: tox

Fix storage slot of expected value
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
Due: tox

feat(benchmark): add eip7702 case
  tests/benchmark/test_worst_blocks.py
Due: tox

refactor: update nonce management
  tests/benchmark/test_worst_blocks.py
Due: tox

chore(tools): add support for large `int`s in `Wei` class (#2265)
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/tests/test_base_types.py
Due: tox

Fix test for `fill` mode
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
Due: tox

refactor: consider gas refund logic
  tests/benchmark/test_worst_blocks.py
Due: tox

feat(consume): `consume direct` using evmone-statetest
  docs/running_tests/consume/direct.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/evmone.py
Due: tox, tox-docs

feat(pre_alloc): Add maximum bytecode size limit for contract deployment (#2150)
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_pre_alloc.py
  tests/benchmark/test_worst_compute.py
Due: tox

Add batch mode for improved perf
  src/cli/fuzzer_bridge/cli.py
Due: tox

🥢 nit: Add call value
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

fix(benchmark): relax gas validation rule for non benchmark mode
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

feat(consume): `consume direct` using evmone-blockchaintest
  docs/CHANGELOG.md
  docs/running_tests/consume/direct.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/evmone.py
Due: tox, tox-docs, tox-changelog

fix(benchmark): relax gas validation rule for non benchmark mode (#2269)
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

tests: isolated phase manager behaviour
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/tests/test_phase_manager.py
Due: tox

feat: add back unmutated test with explicit no balance change check
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

✨ feat(tests): EIP-7928 No-op and adjacent test case (#2178)
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs, tox-changelog

✨ feat(tests): Add initial BALs 7702 tests
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip7702.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

fix: issues after rebase
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip7702.py
Due: tox

fix: use BalAccountExpectation.empty() from rebased changes
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip7702.py
Due: tox

feat(benchmark): add SSTORE benchmark test using ERC20 approve
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox

fix(benchmark): correct SSTORE benchmark gas calculation
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox

feat(benchmark): add SLOAD benchmark test with multi-contract support
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox
