Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

chore(deps): revert changes to uv.lock cf #1176
  uv.lock
Due: none

fix(plugins/filler): Fix filler stdout output (#1188)
  docs/CHANGELOG.md
  src/pytest_plugins/eels_resolver.py
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Due: tox, tox-docs

nit
  docs/dev/porting_legacy_tests.md
Due: tox-docs

Fixed duplicate docstrings warnings when building documentation (Fixes #1189)
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_opcodes_in_legacy.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

Removed newline that ruff complained about
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
Due: tox

Apply suggestions from code review
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
Due: tox

chore(tests): Fixed duplicate docstrings warnings when building documentation (#1190)
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_opcodes_in_legacy.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(consume): Add `consume cache`, and `--input` flag accepts versioned release names (#1044)
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  pytest-framework.ini
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/releases.py
  src/pytest_plugins/consume/test_cache.py
  src/pytest_plugins/consume/tests/__init__.py
  src/pytest_plugins/consume/tests/release_information.json
  src/pytest_plugins/consume/tests/test_releases.py
  src/pytest_plugins/pytest_hive/hive_info.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  uv.lock
  whitelist.txt
Due: tox, tox-docs

feat(tests): improve tests for EOF prefix (#1187)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

fix(tox): Change `package` to editable
  tox.ini
Due: none

fix(tox): Change `package` to editable (#1192)
  tox.ini
Due: none

new(tests): add EOF tests for type section missing
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

Update tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

new(tests): add EOF tests for type section missing (#1184)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

Swap-test-update
  converted-ethereum-tests.txt
  tests/frontier/opcodes/test_swap.py
Due: tox

new(tests): add a test case for EOF code header missing
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

new(tests): a test for empty EOF type section
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

new(tests): add a test for multiple EOF type sections
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

new(tests): a test for empty EOF type section (#1194)
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

new(tests): add a test for multiple EOF type sections (#1195)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Due: tox

fix: broken documentation links have been repaired (issue #1196)
  docs/consuming_tests/blockchain_test.md
  docs/consuming_tests/blockchain_test_engine.md
  docs/consuming_tests/state_test.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/filling_tests/filling_tests_vs_code.md
  docs/filling_tests/getting_started.md
  src/ethereum_test_vm/opcode.py
Due: tox, tox-docs

unit tests
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
Due: tox

Export int as hex for t8n env
  src/ethereum_test_types/types.py
Due: tox

create fixtures folder when it does not exist when fill is run (#1200)
  src/cli/pytest_commands/fill.py
Due: tox

feat(forks): fix imports and compose fork bug.
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/compose_fork.py
  src/ethereum_test_forks/forks/__init__.py
  src/ethereum_test_forks/forks/arrow_glacier/fork.py
  src/ethereum_test_forks/forks/berlin/fork.py
  src/ethereum_test_forks/forks/byzantium/fork.py
  src/ethereum_test_forks/forks/cancun/fork.py
  src/ethereum_test_forks/forks/constantinople/fork.py
  src/ethereum_test_forks/forks/constantinople_fix/fork.py
  src/ethereum_test_forks/forks/custom.py
  src/ethereum_test_forks/forks/frontier/fork.py
  src/ethereum_test_forks/forks/gray_glacier/fork.py
  src/ethereum_test_forks/forks/homestead/fork.py
  src/ethereum_test_forks/forks/istanbul/fork.py
  src/ethereum_test_forks/forks/london/fork.py
  src/ethereum_test_forks/forks/muir_glacier/fork.py
  src/ethereum_test_forks/forks/osaka/fork.py
  src/ethereum_test_forks/forks/paris/fork.py
  src/ethereum_test_forks/forks/prague/eips/eip2935.py
  src/ethereum_test_forks/forks/prague/eips/eip6110.py
  src/ethereum_test_forks/forks/prague/eips/eip7002.py
  src/ethereum_test_forks/forks/prague/eips/eip7251.py
  src/ethereum_test_forks/forks/prague/eips/eip7685.py
  src/ethereum_test_forks/forks/prague/fork.py
  src/ethereum_test_forks/forks/shanghai/fork.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
Due: tox

Update src/ethereum_test_vm/opcode.py
  src/ethereum_test_vm/opcode.py
Due: tox

fix(docs): broken links have been repaired (issue #1196) (#1197)
  docs/consuming_tests/blockchain_test.md
  docs/consuming_tests/blockchain_test_engine.md
  docs/consuming_tests/state_test.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/filling_tests/filling_tests_vs_code.md
  docs/filling_tests/getting_started.md
  src/ethereum_test_vm/opcode.py
Due: tox, tox-docs

refactor(execute): Move refund logic to `pre` fixture
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

RESET: Untested changes
  src/cli/gentest/request_manager.py
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

fix(plugins/execute): Overwrite tx instead of bumping nonce
  src/pytest_plugins/execute/sender.py
Due: tox

feat(forks): fix more bugs, add experimental forks dir.
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_eip.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/compose_fork.py
  src/ethereum_test_forks/forks/__init__.py
  src/ethereum_test_forks/forks/cancun/__init__.py
  src/ethereum_test_forks/forks/cancun/fork.py
  src/ethereum_test_forks/forks/experimental/__init__.py
  src/ethereum_test_forks/forks/experimental/eips/__init__.py
  src/ethereum_test_forks/forks/experimental/forks.py
  src/ethereum_test_forks/forks/london/__init__.py
  src/ethereum_test_forks/forks/london/fork.py
  src/ethereum_test_forks/forks/prague/__init__.py
  src/ethereum_test_forks/forks/prague/eips/eip2537.py
  src/ethereum_test_forks/forks/prague/fork.py
  src/ethereum_test_forks/forks/shanghai/__init__.py
  src/ethereum_test_forks/forks/shanghai/fork.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
Due: tox

Update src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

export chain_id in fixtureConfig
  src/cli/check_fixtures.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

adjust unit tests
  src/ethereum_test_specs/tests/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_invalid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_valid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
Due: none

fix
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

fix: Make fixture readers backwards compatible
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
Due: tox

feat(tests): export 'chain_id' in fixture config (#1131)
  src/cli/check_fixtures.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_invalid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_valid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox
