Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

chore(tooling): update precommit config for changelog; but don't run mkdocs
  .pre-commit-config.yaml
Due: none

docs(tooling): add `changelog` check; emphasize precommit in code standards
  docs/getting_started/code_standards.md
  docs/getting_started/code_standards_details.md
Due: tox-docs

chore(docs): add period to changelog entry
  docs/CHANGELOG.md
Due: tox-docs

feat(tooling,ci): add changelog formatting checks (#1691)
  .github/workflows/tox_verify.yaml
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/getting_started/code_standards.md
  docs/getting_started/code_standards_details.md
  src/cli/tox_helpers.py
  tox.ini
Due: tox, tox-docs

chore(fill): improve docstring for `--skip-coverage-missed-reason`
  src/pytest_plugins/filler/ported_tests.py
Due: tox

docs: improve porting from ethereum/tests docs
  CONTRIBUTING.md
  docs/dev/porting_legacy_tests.md
Due: tox-docs

feat(fill): add `coverage_missed_reason` keyword argument to `ported_from` marker (#1746)
  .github/workflows/coverage.yaml
  CONTRIBUTING.md
  docs/dev/porting_legacy_tests.md
  src/pytest_plugins/filler/ported_tests.py
  tests/frontier/identity_precompile/test_identity.py
Due: tox, tox-docs

chore(tooling): add a CLAUDE.md
  CLAUDE.md
  HUMANS.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

chore(tooling): streamline CLAUDE.md (a little)
  CLAUDE.md
Due: tox-docs

chore(tooling): streamline CLAUDE.md (a lot)
  CLAUDE.md
Due: tox-docs

chore(tooling): update CLAUDE.md following claude pr review
  CLAUDE.md
Due: tox-docs

chore(tooling): add back mkdocs check
  CLAUDE.md
Due: tox-docs

docs: backtick `EIPChecklist` instances
  docs/writing_tests/eip_checklist.md
Due: tox-docs

Create Enums - Incomplete/broken attempt
  docs/writing_tests/eip_checklist.md
  src/ethereum_test_checklists/__init__.py
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox, tox-docs

fix(docs): fix bad links to exception tests
  docs/writing_tests/exception_tests.md
Due: tox-docs

docs: fix title
  docs/writing_tests/eip_checklist.md
Due: tox-docs

fix: tox (minus spellcheck)
  docs/writing_tests/eip_checklist.md
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox, tox-docs

fix: EIPChecklist usage
  src/ethereum_test_checklists/eip_checklist.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox

fix(checklists): allow ommission of parentheses in checklist markers
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox

refactor(eip_checklist): Remove new_* from all IDs
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  docs/writing_tests/eip_checklist.md
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox, tox-docs

docs: remove references to string EIP checklist notation
  docs/writing_tests/eip_checklist.md
Due: tox-docs

fix: typing
  src/ethereum_test_checklists/eip_checklist.py
Due: tox

fix(filler/checklist): Template copying bug
  src/pytest_plugins/filler/eip_checklist.py
Due: tox

fix(docs,checklists): Rename section to be more descriptive
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/ethereum_test_checklists/eip_checklist.py
Due: tox, tox-docs

docs: Update usage
  docs/writing_tests/eip_checklist.md
Due: tox-docs

fix(checklists): update test markers to use correct checklist IDs
  src/pytest_plugins/consume/hive_engine_test/__init__.py
  src/pytest_plugins/consume/hive_simulators_reorg/__init__.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify_before_fork.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

test(checkmarks): add fw tests that apply EIPChecklists in pytest.param
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox

style(checklists): add stubs to solve mypy issues using checklist markers
  docs/writing_tests/eip_checklist.md
  pyproject.toml
  src/cli/generate_checklist_stubs.py
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/eip_checklist.pyi
Due: tox, tox-docs

fix: move unit test
  src/ethereum_test_checklists/tests/__init__.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox

fix(docs): exclude generated fill help file from git-authors plugin
  mkdocs.yml
Due: none

feat(docs): auto-generate a page showing `fill`'s command-line options
  docs/filling_tests/filling_tests_command_line.md
  docs/navigation.md
  docs/scripts/generate_fill_help.py
  mkdocs.yml
Due: tox, tox-docs

Apply suggestions from code review
  CLAUDE.md
  HUMANS.md
Due: tox-docs

feat(checklists): add `EIPChecklist` enum to specify EIP checklist items (#1718)
  docs/CHANGELOG.md
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  docs/writing_tests/eip_checklist.md
  docs/writing_tests/exception_tests.md
  pyproject.toml
  src/cli/generate_checklist_stubs.py
  src/ethereum_test_checklists/__init__.py
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/eip_checklist.pyi
  src/ethereum_test_checklists/tests/__init__.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/pytest_plugins/consume/hive_engine_test/__init__.py
  src/pytest_plugins/consume/hive_simulators_reorg/__init__.py
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify_before_fork.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

Update HUMANS.md
  HUMANS.md
Due: tox-docs

refactor: optimize gas cost for staticcall loop
  tests/zkevm/test_worst_compute.py
Due: tox

feat(gentest): update imports to fix template
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

feat(docs): auto-generate a page showing `fill`'s command-line options (#1747)
  docs/filling_tests/filling_tests_command_line.md
  docs/navigation.md
  docs/scripts/generate_fill_help.py
  mkdocs.yml
Due: tox, tox-docs

feat(clis): `extract_config` command (#1740)
  docs/CHANGELOG.md
  docs/library/cli/extract_config.md
  docs/library/cli/index.md
  pyproject.toml
  src/cli/extract_config.py
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
