Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

fix: resolve typing issue
  tests/benchmark/test_worst_blocks.py
Due: tox

refactor: remove benchmark state test wrapper
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/benchmark_state.py
  src/ethereum_test_tools/__init__.py
Due: tox

refactor: update benchmark code generator and test wrapper
  src/ethereum_test_benchmark/__init__.py
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/benchmark_code_generator.py
  tests/benchmark/conftest.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix: udpate example changes
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix: pydantic model validation for benchmark manager
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

feat: wrap state test for benchmark
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/benchmark_state.py
  src/ethereum_test_tools/__init__.py
  tests/benchmark/test_worst_compute.py
Due: tox

feat(benchmark): add code generator to generate transaction
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_specs/benchmark_state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/benchmark_code_generator.py
  tests/benchmark/test_worst_compute.py
Due: tox

refactor: resolve typing and update func interface
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_vm/bytecode.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/test_worst_compute.py
Due: tox

refactor synatx and parameter
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_blocks.py
Due: tox

chore(tests): group mem-heavy tests together in xdist (#2153)
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
  tests/shanghai/eip3855_push0/test_push0.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

refactor: remove benchmark manager feature
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/conftest.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

chore(cli): fix reth eip-7825 tx gas limit cap exceptions (#2164)
  src/ethereum_clis/clis/reth.py
Due: tox

chore(ci): bump tox verify gh runner (#2130)
  .github/workflows/tox_verify.yaml
Due: none

refactor: update logic and add benchmark tests
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_specs/tests/test_benchmark.py
Due: tox

feat(tests): add phase manager to track testing phase
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/phase_manager.py
  src/ethereum_test_types/transaction_types.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/transaction_fixtures.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

refactor: update test phase manager instance model
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/phase_manager.py
  src/pytest_plugins/shared/transaction_fixtures.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

feat(tests): Enforce EIP-7928 ordering rules (#2138)
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/modifiers.py
  src/ethereum_test_types/tests/test_block_access_lists.py
Due: tox, tox-docs, tox-changelog

✨ feat(tests): EIP-7928 test_bal_2930_slot_listed_but_untouched
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): EIP-7928 test_bal_2930_slot_listed_and_unlisted_writes
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): EIP-7928 test_bal_2930_slot_listed_and_unlisted_reads
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): EIP-7928 parameterise OOG test case
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

erigon requested increase of retries
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

Update tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

Update tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip1153_tstore/test_tstorage.py
Due: tox

feat: add bloatnet marker support
  tests/benchmark/conftest.py
  tests/benchmark/test_bloatnet.py
Due: tox

CREATE2 factory approach working
  scripts/deploy_bloatnet_simple.py
  scripts/deploy_create2_factory.py
  scripts/test_create2.py
  tests/benchmark/test_bloatnet.py
Due: tox

do not wait after failure in last attempt
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

fix(tests): Validate order for BAL coming from t8n
  src/ethereum_test_types/block_access_list/__init__.py
Due: tox

chore: Unit test BAL ordering validation checks
  src/ethereum_test_types/block_access_list/__init__.py
Due: tox

chore: move release note up to unreleased
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

feat(tests): Add flexibility to expected absent scenarios for BALs
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/absence_validators.py
  src/ethereum_test_types/tests/test_block_access_lists.py
Due: tox

chore: Add note to CHANGELOG
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

feat: Validate all validators use @validate_call appropriately
  src/ethereum_test_types/block_access_list/absence_validators.py
  src/ethereum_test_types/tests/test_block_access_lists.py
Due: tox

chore: changelog note for #2124
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

chore(consume): increase fcu retries to 30 (at 1 second each) (#2168)
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

feat: add sanity checks to modifiers; abstract common logic
  src/ethereum_test_types/block_access_list/modifiers.py
Due: tox
