Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

feat(cli,fill): make the eip version checker a separate pytest cli
  pyproject.toml
  pytest-check-eip-versions.ini
  src/cli/pytest_commands/check_eip_versions.py
  src/ethereum_test_base_types/reference_spec/git_reference_spec.py
  src/ethereum_test_base_types/reference_spec/reference_spec.py
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox

feat(ci): add a workflow to check eip spec versions
  .github/workflows/check_eip_versions.yaml
Due: none

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

stop spam printing fork names with -s (part of fixes for issue #1512)
  src/ethereum_test_specs/static_state/expect_section.py
Due: tox

test(fw): add headers to mock in `test_git_reference_spec`
  src/ethereum_test_base_types/tests/test_reference_spec.py
Due: tox

fix(pytest): fix args and add typehints
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox

fix(execute): update `execute hive`'s pytest ini file
  pytest-execute-hive.ini
Due: none

chore(pytest): remove superflous 'not eip_version_check' flags
  docs/gen_test_case_reference.py
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

avoid ever using different solc version than specified, also don't try to use solc-select to install solc on arm linux, issue #1512
  src/pytest_plugins/solc/solc.py
Due: tox

chore(ci): temporarily enable workflow on push for testing
  .github/workflows/check_eip_versions.yaml
Due: none

chore(pytest): more typehints to fix docs
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox

fix(pytest): fix spec_version_checker args again
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox

Add errors for system contract failures
  src/ethereum_clis/clis/nethermind.py
Due: tox

fix(ci): fix report used in generated issue
  .github/workflows/check_eip_versions.yaml
Due: none

allow user to cancel via ctrl+C
  src/cli/eest/make/commands/test.py
Due: tox

chore(ci): add link to originating workflow, improve title/labels
  .github/workflows/check_eip_versions.yaml
Due: none

new(tests/zkevm): keccak worst-case (#1497)
  tests/zkevm/test_worst_compute.py
Due: tox

new(tests/zkEVM): fix max contract size limitation in bytecode attack (#1521)
  src/cli/eest/make/commands/test.py
  src/ethereum_test_tools/code/generators.py
  tests/zkevm/test_worst_bytecode.py
Due: tox

Update docs for max gas flag
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
Due: tox-docs

chore(ci): only run flow once for testing
  .github/workflows/check_eip_versions.yaml
Due: none

fix(clis/reth,evmone): Exception mapper fixes
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/reth.py
Due: tox

feat(tests): extra requests tests trailing bytes.
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
Due: tox

fix(plugins): Move environment defaults modification in pytest_config
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

fix tox
  whitelist.txt
Due: none

Apply suggestions from code review
  docs/filling_tests/filling_tests_command_line.md
  whitelist.txt
Due: tox-docs

chore(cli): align `check_eip_versions` with other pytest clis
  src/cli/pytest_commands/check_eip_versions.py
  src/cli/pytest_commands/common.py
  src/pytest_plugins/help/help.py
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox

Update src/cli/eest/make/commands/test.py
  src/cli/eest/make/commands/test.py
Due: tox

feat(plugins,tests): Add flag to configure `max_gas` for fill command (#1470)
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/constantinople/eip1014_create2/test_recreate.py
  tests/frontier/opcodes/test_all_opcodes.py
  tests/frontier/opcodes/test_selfdestruct.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Due: tox, tox-docs

fix(cli/eest): allow user to cancel via ctrl+C in interactive test creator (#1548)
  src/cli/eest/make/commands/test.py
Due: tox

chore(tests): add conftests to zkevm & bls subdirs to apply zkevm marker (#1534)
  docs/CHANGELOG.md
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/zkevm/conftest.py
  tests/zkevm/test_worst_bytecode.py
  tests/zkevm/test_worst_compute.py
Due: tox, tox-docs

chore(config): add a config class for `check_eip_versions`
  docs/library/cli/index.md
  docs/writing_tests/img/eip_reference_spec_console_output.png
  docs/writing_tests/img/eip_reference_spec_console_output_fail.png
  docs/writing_tests/reference_specification.md
  src/cli/pytest_commands/check_eip_versions.py
  src/config/check_eip_versions.py
  whitelist.txt
Due: tox, tox-docs

fix(clis/nethermind): Add errors for system contract failures (#1542)
  src/ethereum_clis/clis/nethermind.py
Due: tox

convert calldataload and calldatasize tests
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  tests/frontier/opcodes/test_calldataload.py
  tests/frontier/opcodes/test_calldatasize.py
  tests/homestead/coverage/test_coverage.py
  tests/static/state_tests/VMTests/vmTests/calldataloadFiller.yml
  tests/static/state_tests/VMTests/vmTests/calldatasizeFiller.yml
Due: tox, tox-docs

refactor(specs,types): Defer gas price set (fill)
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_types/types.py
Due: tox

fix(specs): execute changes
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
Due: tox

TODO
  src/pytest_plugins/execute/execute.py
Due: tox

refactor(base_types): Deprecate `rlp_override` in `RLPSerializable`
  src/ethereum_test_base_types/serialization.py
Due: tox

fix(tests): Remove gas_price from test_dup
  tests/frontier/opcodes/test_dup.py
Due: tox

feat(types): Add `max_fee_per_gas`/`max_priority_fee_per_gas` to environment
  src/ethereum_test_types/types.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
