Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

Revert "chore(docs): try to fix 404 asset resolution for non-root pages"
  404.html
Due: none

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

update target fork
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Due: tox

feat(execute): Use test spec names as markers for `execute` (#1367)
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
Due: tox, tox-docs

new(tests): EOF - EXTDELEGATECALL blocking vs 7702 (#1309)
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

chore(docs): remove 404.html; use github's 404 as less flaky
  404.html
Due: none

eip7748: cover tx revertions in tx generating stale data accounts
  tests/verkle/eip7748/modified_accounts.py
Due: tox

new(tests): EIP-663: Add simple swap/dup/exchange tests (#1373)
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Due: tox

Add asymetrical stack tests
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Update README.md
  README.md
Due: tox-docs

fix(docs): fix bad links in readme and elsewhere (#1374)
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/settings.json
  README.md
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  docs/dev/docs.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
  mkdocs.yml
  pyproject.toml
  src/cli/input/questionary_input_repository.py
  src/config/docs.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/frontier/opcodes/test_calldatacopy.py
  tests/frontier/opcodes/test_dup.py
Due: tox, tox-docs

Add some IDs
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

new(tests): Aggregate EOF tests for invalid first section type
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
Due: tox

Apply suggestions from code review
  docs/CHANGELOG.md
  src/ethereum_test_base_types/serialization.py
Due: tox, tox-docs

feat(base_types): Implement serialization RLP types
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/serialization.py
Due: tox

fix(types): Fix NetworkWrappedTransaction rlp prefix
  src/ethereum_test_types/types.py
Due: tox

feat(base_types,types,fixtures): Apply serialization RLP types
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_types/types.py
Due: tox

fix(types): Auth tuple defaults
  src/ethereum_test_types/types.py
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

refactor(base_types,types): Network wrapped transaction
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/serialization.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
Due: tox

fix(fixtures,rpc,specs,types,tests): Transaction.rlp is a function
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

fix(tests): Network wrapped transactions
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
Due: tox

fix(types): tests: Fix unit tests
  src/ethereum_test_types/tests/test_types.py
Due: tox

fix(base_types,types,rpc): fixes
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/serialization.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_types/types.py
Due: tox

fix(types): tests: Add serialization unit tests
  src/ethereum_test_types/tests/test_types.py
Due: tox

Add network wrapper explanation
  src/ethereum_test_types/types.py
Due: tox

new(tests): Aggregate EOF tests for invalid first section type (#1377)
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
Due: tox

fix: tox
  src/ethereum_test_base_types/serialization.py
Due: tox

Add comment
  src/ethereum_test_base_types/serialization.py
Due: tox

refactor(base_types,types,tests): Create RLP Serialization Classes (#1359)
  docs/CHANGELOG.md
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/serialization.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
Due: tox, tox-docs

refactor(tests): Use RLP encoding changes
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
Due: tox

refactor(types): remove nonce-as-list from auth list
  src/ethereum_test_types/types.py
Due: tox

new(tests): EIP-7702: Tx serialization tests
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
Due: tox

Change log
  docs/CHANGELOG.md
Due: tox-docs

Add serialization items
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Add more serialization items
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

new(tests): EIP-7702: more rlp tests
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
Due: tox

new(tests): EIP-7702: More RLP tests (#1347)
  docs/CHANGELOG.md
  src/ethereum_test_types/types.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
