Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

chore(consume): retry logic for initial consume engine fcu (#1815)
  docs/CHANGELOG.md
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
Due: tox, tox-docs

refactor(github): coverage.yaml into multiple scripts
  .github/scripts/fill_introduced_tests.sh
  .github/scripts/fill_prepatched_tests.sh
  .github/scripts/parse_ported_tests.sh
  .github/workflows/coverage.yaml
Due: none

fix(tests): Add coverage missing reasons
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/create/test_create_one_byte.py
Due: tox

fix(tests): Test using incorrect keyword argument
  tests/frontier/identity_precompile/test_identity_returndatasize.py
  tests/frontier/precompiles/test_precompiles.py
Due: tox

fix(ci): eliminate duplicate CI runs in tox workflow (#1811)
  .github/workflows/tox_verify.yaml
Due: none

refactor: use `removeprefix`/`removesuffix` for string operations
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

refactor: modernize Union type syntax to use ` < /dev/null | ` operator
  src/cli/order_fixtures.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_types/trie.py
Due: tox

feat(security): implement `LiteralString` for subprocess security
  src/cli/extract_config.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
Due: tox

refactor: convert `isinstance` chains to `match-case` statements
  src/ethereum_test_types/trie.py
Due: tox

refactor: continue Union type syntax modernization
  src/pytest_plugins/logging/logging.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

perf: add `slots=True` to compatible dataclasses
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_types/trie.py
Due: tox

refactor: replace with for better type safety
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/pydantic.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_types/account_types.py
Due: tox

refactor: convert string-based `Enum` classes to `StrEnum`
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_tools/utility/generators.py
Due: tox

Add coverage missed reason to blake2 tests
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

chore(ci): Use self-hosted github runner for Ubunt;5Du tests_deployed workflow
  .github/workflows/tox_verify.yaml
Due: none

Use `TransitionTool.default_tool`
  src/ethereum_clis/clis/eels_t8n.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/forks.py
Due: tox

Refactor `TransitionTool.evaluate`
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/tests/test_execution_specs.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

chore(ci): Use self-hosted github runner for Ubunt;5Du tests_deployed workflow (#1816)
  .github/workflows/tox_verify.yaml
Due: none

fix(github): Coverage check for modified files
  .github/workflows/coverage.yaml
Due: none

fix(github): Coverage check for modified files (#1817)
  .github/workflows/coverage.yaml
Due: none

chore(deps): create eels t8n transition tool (#1807)
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/tests/test_execution_specs.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/forks.py
Due: tox

fix(zkevm): logic issue
  tests/zkevm/test_worst_compute.py
Due: tox

feat(zkevm): add log opcode worst case
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(zkevm): update test parameters for log opcodes
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(zkevm): move test path for worst log opcodes
  tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_opcode.py
Due: tox

Create eest_opcode_minilang.md
  docs/library/eest_opcode_minilang.md
Due: tox-docs

Update index.md
  docs/library/index.md
Due: tox-docs

refactor(zkevm): enhance test with additional parameters
  tests/zkevm/test_worst_opcode.py
Due: tox

removed changes to conversions.py
  src/ethereum_test_base_types/conversions.py
Due: tox

refactor(zkevm): update test parametrization
  tests/zkevm/test_worst_opcode.py
Due: tox

Apply suggestions from code review
  tests/zkevm/test_worst_opcode.py
Due: tox

feat(zkevm): add log opcode worst case (#1745)
  tests/zkevm/test_worst_opcode.py
Due: tox

Delete docs/library/eest_opcode_minilang.md
  docs/library/eest_opcode_minilang.md
Due: tox-docs

Update writing_a_new_test.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs
