Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

chore(docs): more consistent display of opcodes; fix capitalization
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

fixes
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

zkvm: full bytecode attack enabling
  tests/zkevm/test_worst_bytecode.py
Due: tox

set gas limit in ci
  .github/configs/feature.yaml
Due: none

feat(docs): Add EIP checklist templates, post-mortem page (#1327)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CHANGELOG.md
  docs/navigation.md
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  docs/writing_tests/checklist_templates/index.md
  docs/writing_tests/post_mortems.md
  whitelist.txt
Due: tox-docs

feat: add support for ethrex client
  src/ethereum_clis/clis/ethrex.py
  src/pytest_plugins/consume/hive_simulators/exceptions.py
Due: tox

add slow mark
  tests/zkevm/test_worst_bytecode.py
Due: tox

feat(docs): add CONTRIBUTING and improve coding standards
  CONTRIBUTING.md
  README.md
  docs/dev/coding_style.md
  docs/getting_started/code_standards.md
  docs/getting_started/code_standards_details.md
  docs/navigation.md
  docs/scripts/copy_repo_docs_to_mkdocs.py
  docs/scripts/gen_test_case_reference.py
  docs/writing_tests/code_standards.md
  docs/writing_tests/verifying_changes.md
  mkdocs.yml
  whitelist.txt
Due: tox, tox-docs

fix(tooling): docs/scripts imports mkdocs_gen_files, not availabe in lint extras
  tox.ini
Due: none

chore(docs): make CONTRIBUTING less verbose
  CONTRIBUTING.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

tests(zkvm): allow using entire gas in bytecode attack (#1575)
  .github/configs/feature.yaml
  tests/zkevm/test_worst_bytecode.py
Due: tox

chore(docs): updates to CONTRIBUTING after self-review
  CONTRIBUTING.md
Due: tox-docs

new(tests): add benchmarks with mass binop opcodes
  tests/zkevm/test_worst_compute.py
Due: tox

docs: add docstring info
  docs/getting_started/code_standards.md
Due: tox-docs

docs: add install and pin python 3.11 for reproducibility
  CONTRIBUTING.md
  README.md
  docs/getting_started/installation.md
Due: tox-docs

make test scenarios execute compatible
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox

docs: add link to eip checklist from CONTRIBUTING
  CONTRIBUTING.md
  docs/scripts/copy_repo_docs_to_mkdocs.py
Due: tox, tox-docs

fix(docs): fix syntax in copy_repo_docs_to_mkdocs.py
  docs/scripts/copy_repo_docs_to_mkdocs.py
Due: tox

introduce scenario double call combinations
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/double_call_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox

convert diffPlaces test
  converted-ethereum-tests.txt
  tests/static/state_tests/stSelfBalance/diffPlacesFiller.yml
Due: none

zkevm: add ecrecover attack
  tests/zkevm/test_worst_compute.py
Due: tox

lints
  tests/zkevm/test_worst_compute.py
Due: tox

generic precompiles with only data parameter
  tests/zkevm/test_worst_compute.py
Due: tox

remove zkevm marks
  tests/zkevm/test_worst_compute.py
Due: tox

fix gas limits
  tests/zkevm/test_worst_bytecode.py
  tests/zkevm/test_worst_compute.py
Due: tox

lints
  tests/zkevm/test_worst_bytecode.py
Due: tox

cleanups
  tests/zkevm/test_worst_compute.py
Due: tox

variable rename
  tests/zkevm/test_worst_compute.py
Due: tox

chore: add temp osaka eels resolution.
  eels_resolutions.json
Due: none

chore: bump prague to stable.
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  tox.ini
Due: tox-docs

fix comment
  tests/zkevm/test_worst_compute.py
Due: tox

feat(forks): Implement transition_time method
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/transition_base_fork.py
Due: tox

tests(gentest): don't use default output fixture directory in unit test
  src/cli/gentest/tests/test_cli.py
Due: tox

feat(fill): refuse to fill to a non-empty output directory; add clean
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
Due: tox

test(fill): add tests for fixture output dir args/`FixtureOutput`
  src/pytest_plugins/filler/tests/test_output_directory.py
Due: tox

chore(tox): use a dedicated dir in /tmp and --clean when filling tests
  tox.ini
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
