Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

feat(github): Add benchmark release info
  .github/configs/evm.yaml
  .github/configs/feature.yaml
Due: none

added kzg functions for peerdas tests
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/kzg_trusted_setup.txt
  src/ethereum_test_types/tests/test_blob_types.py
  src/ethereum_test_types/transaction_types.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/osaka/eip7594_peerdas/spec.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
  uv.lock
  whitelist.txt
Due: tox, tox-docs

fix: use proofs only instead of full cells
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_types/transaction_types.py
Due: tox

fix(tests): test_worst_selfdestruct_created
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

feat(github): Add multi block gas size fixtures
  .github/configs/feature.yaml
Due: none

feat(zkevm): create pure ether transfer worst case
  tests/zkevm/test_worst_blocks.py
Due: tox

ruff now warns about TODO comments (shown in vsc under problems) so that we dont forget about them
  pyproject.toml
Due: none

tests passing except for third one, too much gas (nethermind) or too many blobs (7vs9, geth)
  docs/CHANGELOG.md
  pytest-execute-hive.ini
  pytest-execute.ini
  pytest.ini
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_types/transaction_types.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
Due: tox, tox-docs

refactor(tests) simplify rlp-growing transaction search; cache result
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox

fix(tests): update iteration and transfer amount config
  tests/zkevm/test_worst_blocks.py
Due: tox

fix(github): fix evmone building on same machine
  .github/actions/build-evm-client/evmone/action.yaml
Due: none

Apply keyword-only enforcement to all BaseFork methods and implementations
  docs/writing_tests/fork_methods.md
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox, tox-docs

chore(fw): raise an exception if an opcode recieves an invalid keyword argument
  docs/CHANGELOG.md
  src/ethereum_test_vm/opcode.py
  src/ethereum_test_vm/tests/test_vm.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox, tox-docs

fix: test_worst_selfdestruct_existing
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

Update tests/zkevm/test_worst_stateful_opcodes.py
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

fix(tests): Fix test_worst_selfdestruct_created (#1741)
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

Update tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_compute.py
Due: tox

fix(tests): Incorrect kwargs usages
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/create/test_create_one_byte.py
  tests/frontier/identity_precompile/test_identity_returndatasize.py
  tests/frontier/precompiles/test_precompiles.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(vm): tox, mypy
  src/ethereum_test_vm/opcode.py
  src/ethereum_test_vm/tests/test_vm.py
Due: tox

refactor: optimize jumpdest test case (#1732)
  tests/zkevm/test_worst_compute.py
Due: tox

fix(tests): kwargs fix
  tests/frontier/scenarios/scenarios/double_call_combinations.py
Due: tox

fix: mypy
  tests/frontier/scenarios/scenarios/double_call_combinations.py
Due: tox

fix(tests): Fix coverage
  tests/frontier/precompiles/test_precompiles.py
Due: tox

feat(zkevm): add p256verify to worst compute tests
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(pytest): integrate EIP report generation into spec_version_checker plugin
  .github/scripts/generate_eip_report.py
  .github/workflows/check_eip_versions.yaml
  docs/CHANGELOG.md
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Due: tox, tox-docs

feat(tooling,ci): add changelog formatting validation
  docs/CHANGELOG.md
  src/cli/tox_helpers.py
  tox.ini
Due: tox, tox-docs

chore(fill): deprecate --flat-output flag
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
  src/pytest_plugins/filler/filler.py
Due: tox, tox-docs

feat(zkevm): add log opcode worst case
  tests/zkevm/test_worst_compute.py
Due: tox

feat(filler): Add `coverage_missed_reason` kwarg to `ported_from` marker
  src/pytest_plugins/filler/ported_tests.py
Due: tox

fix(tests): Coverage of identity precompile ported tests
  tests/frontier/identity_precompile/test_identity.py
Due: tox

feat(ci): Add flag to coverage script
  .github/workflows/coverage.yaml
Due: none

fix(tests): Add coverage_missed_reason to identity precompile tests
  tests/frontier/identity_precompile/test_identity.py
Due: tox

ix: Fix misencoded newline
  README.md
Due: tox-docs

docs: prefer `<br/>` and also fix-up in html docs version
  README.md
  docs/index.md
  docs/writing_tests/reference_specification.md
Due: tox-docs

fix(doc)s: fix misencoded newline in mermaid (#1723)
  README.md
  docs/index.md
  docs/writing_tests/reference_specification.md
Due: tox-docs

chore(ci,tooling): add a `changelog` entry to tox.ini and tox_verify
  .github/workflows/tox_verify.yaml
  tox.ini
Due: none

chore(tooling): add changelog path to error message for clarity
  src/cli/tox_helpers.py
Due: tox
