Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
  language: system
  pass_filenames: false

tox-changelog:
  name: tox-changelog
  entry: uvx --with=tox-uv tox -e changelog
  language: system
  pass_filenames: false

nuke fixtures dir when html is disabled and no tests were filled
  src/pytest_plugins/filler/filler.py
Due: tox

chore(fixtures,fill): don't generate engine x for untagged static tests
  src/ethereum_test_fixtures/blockchain.py
Due: tox

🚧 wip: Checklist and basic tests
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox, tox-docs

Add more sophisticated test cases
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

chore(ci): bump to gigachungus.
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: none

🧹 chore: scope
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

chore(ci): bump to gigachungus (#2028)
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: none

chore(fill): make slow tests use separate pre-alloc groups
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_slow_marker_pre_alloc.py
Due: tox

Add more sophisticated test cases (#2029)
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

chore(consume): remove non-functional hive command
  docs/CHANGELOG.md
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/help/tests/test_help.py
Due: tox, tox-docs, tox-changelog

chore(fill): make slow tests use separate pre-alloc groups (#2030)
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_slow_marker_pre_alloc.py
Due: tox

feat(FixtureCollector): Add flush interval to the fixture collector
  src/ethereum_test_fixtures/collector.py
Due: tox

fix: typing
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

fix: typing
  src/cli/show_pre_alloc_group_stats.py
Due: tox

fix: unit test
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

chore(ci): fix coverage when modifying existing ported tests. (#2013)
  .github/scripts/parse_ported_tests.sh
Due: none

feat(fill): Improve mem usage by: fixture collector flush + lazy loading pre-alloc groups (#2032)
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

fix(tests): fixed `test_push.py::test_stack_overflow` test by reducing contract size to below allowed max (#2002)
  tests/frontier/opcodes/test_push.py
Due: tox

fix(tests): Remove brittle storage check
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

refactor(eip7825): update legacy configuration
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7825_transaction_gas_limit_cap/spec.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit_transition_fork.py
Due: tox

tests(eip7825): add extra cases for tx gas limit
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
Due: tox

style: fix-up markdownlint in changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

feat(src): add bpo forks and transition forks.
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
Due: tox

feat(src): add bpo forks and transition forks updated.
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
Due: tox

Update src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/forks/transition.py
Due: tox

feat(tests): add bpo test where blob base fee increments for eip7918.
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee_with_bpo.py
Due: tox

chore: bump eels resolutions, fix filling bugs
  src/pytest_plugins/eels_resolutions.json
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee_with_bpo.py
Due: tox

feat(tests): Add more cases for EIP-7951 (#2023)
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

chore(tests): fix blob base fee bpo test.
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee_with_bpo.py
Due: tox

chore(tests): final blob base fee bpo test change.
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee_with_bpo.py
Due: tox

chore: lint.
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
Due: tox

chore: fix hive ruleset.
  src/ethereum_test_forks/__init__.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
Due: tox

chore(tests): trigger reserve mech for test.
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee_with_bpo.py
Due: tox

test(eip7825): add extra case for access list
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
Due: tox

docs: move changelog entry to consume section
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

chores(fill): remove --flat-output and all logic associated with it (#2018)
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/collector.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/filler/tests/test_generate_all_formats.py
Due: tox, tox-docs, tox-changelog

chore(consume): remove `consume hive` command (#2008)
  docs/CHANGELOG.md
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/help/tests/test_help.py
Due: tox, tox-docs, tox-changelog

🐞 fix: bal_hash validation
  src/ethereum_test_specs/blockchain.py
Due: tox

🧹 chore: consistent naming for bal payload
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_types.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
  tox-changelog: any of: ^docs/CHANGELOG\.md$
