Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

refactor(consume): split base functionality out to the `base` plugin
  src/pytest_plugins/consume/simulators/base.py
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

docs: add changelog entry for consume simulator refactor (#1801)
  docs/CHANGELOG.md
Due: tox-docs

refactor(consume): move test execution files to shared hive_tests directory
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/simulators/hive_tests/__init__.py
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
  src/pytest_plugins/consume/simulators/hive_tests/test_via_rlp.py
  src/pytest_plugins/simulators/helpers/__init__.py
Due: tox

chore(cli): remove verbose docstring to keep reviewers happy
  src/cli/pytest_commands/processors.py
Due: tox

refactor(consume): rename `conftest` to `single_test_client` plugin
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

refactor(consume): move pytest_hive plugin registration to simulator conftest files
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
Due: tox

fix(consume): add explicit plugin registration for simulator-specific configs
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
Due: tox

refactor(consume): split into separate plugins by functionality
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/exceptions.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
  src/pytest_plugins/consume/simulators/test_case_description.py
  src/pytest_plugins/consume/simulators/timing_data.py
Due: tox

change error message of type4 tx
  src/ethereum_clis/clis/ethrex.py
Due: tox

remove hyphen
  src/ethereum_clis/clis/ethrex.py
Due: tox

chore(deps): remove python 3.10 support
  pyproject.toml
  uv.lock
Due: none

chore(ci): remove python 3.10 support
  .github/scripts/get_release_props.py
  .github/workflows/tox_verify.yaml
Due: tox

docs: remove python 3.10 support
  README.md
  docs/getting_started/installation.md
  docs/running_tests/hive/dev_mode.md
Due: tox-docs

revert this
  src/ethereum_clis/clis/ethrex.py
Due: tox

improve mcopy
  tests/zkevm/test_worst_memory.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

docs: bump macOS base image to 3.12 (instead of 3.11)
  docs/running_tests/hive/dev_mode.md
Due: tox-docs

returndatacopy cannot be out of bounds
  tests/zkevm/test_worst_memory.py
Due: tox

Revert "revert this"
  src/ethereum_clis/clis/ethrex.py
Due: tox

try something, revert if it doesn't work
  src/ethereum_clis/clis/ethrex.py
Due: tox

move it just in case (revert)
  src/ethereum_clis/clis/ethrex.py
Due: tox

Revert "move it just in case (revert)"
  src/ethereum_clis/clis/ethrex.py
Due: tox

make regex more specific
  src/ethereum_clis/clis/ethrex.py
Due: tox

refactor(consume): create explicit pytest plugin structure (#1801)
  docs/CHANGELOG.md
  pytest-framework.ini
  src/cli/extract_config.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/simulators/__init__.py
  src/pytest_plugins/consume/simulators/base.py
  src/pytest_plugins/consume/simulators/engine/__init__.py
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/exceptions.py
  src/pytest_plugins/consume/simulators/helpers/__init__.py
  src/pytest_plugins/consume/simulators/helpers/exceptions.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
  src/pytest_plugins/consume/simulators/helpers/timing.py
  src/pytest_plugins/consume/simulators/hive_tests/__init__.py
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
  src/pytest_plugins/consume/simulators/hive_tests/test_via_rlp.py
  src/pytest_plugins/consume/simulators/rlp/__init__.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
  src/pytest_plugins/consume/simulators/test_case_description.py
  src/pytest_plugins/consume/simulators/timing_data.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox, tox-docs

chore(all): remove python 3.10 support (#1808)
  .github/scripts/get_release_props.py
  .github/workflows/tox_verify.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/installation.md
  docs/running_tests/hive/dev_mode.md
  pyproject.toml
  uv.lock
Due: tox, tox-docs

fix(clis/ethrex): fix ethrex error mapping (#1806)
  src/ethereum_clis/clis/ethrex.py
Due: tox

nit
  tests/zkevm/test_worst_memory.py
Due: tox

chore(ci): update pr template (#1805)
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

improved rlp error logging: less verbose in console + persist full logs when error occurs
  pytest-execute-hive.ini
  pytest-execute.ini
  pytest.ini
  src/ethereum_test_rpc/rpc.py
Due: tox

removed logging changes from this PR
  pytest-execute-hive.ini
  pytest-execute.ini
  pytest.ini
  src/ethereum_test_rpc/rpc.py
Due: tox

fix(ci): eliminate duplicate CI runs in tox workflow
  .github/workflows/tox_verify.yaml
Due: none

refactor(zkevm): optimize legacy sstore/ssload operation
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

refactor(zkevm): update linting issue
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

mypy ignore comments added
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
Due: tox

chore(consume): add exponential retry logic for initial fcu in consume engine.
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
Due: tox

chore(docs): changelog.
  docs/CHANGELOG.md
Due: tox-docs

chore(consume): add exponential retry logic for initial fcu in consume engine.
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

mypy ignore comments added (#1814)
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
