Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

chore(spec-resolver): Update commit hash to point to for spec resolver
  src/pytest_plugins/eels_resolutions.json
Due: none

feat(tests,tools): [WIP] initial invalid BAL tests
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/modifiers.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_invalid.py
Due: tox

fix(lint,resolver): Use latest commit in resolver; fix lint
  src/ethereum_test_fixtures/blockchain.py
  src/pytest_plugins/eels_resolutions.json
Due: tox

fix SLOAD test
  tests/benchmark/test_bloatnet.py
Due: tox

src(eth_config): added eth_config simulator prototype (#2054)
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/eth_config/eth_config.py
  src/pytest_plugins/execute/eth_config/execute_eth_config.py
Due: tox

fix linter issue
  tests/benchmark/test_bloatnet.py
Due: tox

break sload tests in multiple txs
  tests/benchmark/test_bloatnet.py
Due: tox

fix(tests): Incorrect expected exception on `tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py`
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
Due: tox

fix: typing
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
Due: tox

chore(docs): Add changelog entries for BAL updates
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

Address comments from PR #2067
  src/ethereum_clis/types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list/__init__.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/spec.py
Due: tox

refactor(types): Refactor BAL checks for explicit exclusion of acct changes
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list/__init__.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

fix(bal): Fix explicit empty checks for account changes; add unit tests
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/tests/test_block_access_lists.py
Due: tox

feat(bal): Extend BAL support within framework
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

fix(warnings): Silence warning for unused reference in .md file
  docs/running_tests/test_formats/blockchain_test_sync.md
Due: tox-docs

doc: update description
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

feat: update checklist item for clz
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat: add new checklist items
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/eip_checklist.pyi
Due: tox, tox-docs

refactor: update checklist items for eip7939
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

fix doc issue in CI
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

refactor: update checklist not applicable itemss
  tests/osaka/eip7939_count_leading_zeros/eip_checklist_not_applicable.txt
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

fixes two issues where besu's evmtool would not be recognized as valid t8n on some machines
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/ethereum_cli.py
Due: tox

removes outdated lines
  pyproject.toml
Due: none

chore(tests): add modexp length mismatch functionality (#2058)
  tests/byzantium/eip198_modexp_precompile/helpers.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
Due: tox

fix(tests): Incorrect expected exception on `test_tx_intrinsic_gas.py` (#2096)
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
Due: tox

Update tests/istanbul/eip1344_chainid/test_chainid.py
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

fix(tests) update test_chainid.py to not run type 3 transaction in execute mode (#2094)
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

fix(bal): Move state test expected bal to Block
  src/ethereum_test_specs/state.py
Due: tox

feat(release): Set up BAL work for a feature release
  .github/configs/eels_resolutions.json
  .github/configs/feature.yaml
Due: none

fix: BAL as object in fixture block so RLP is correct
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

chore(pytest): Add Amsterdam to ruleset for simulator plugin
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
Due: tox

feat(tests): Support for EIP-7928 - Block-Level Access Lists (#2067)
  .github/configs/eels_resolutions.json
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  docs/running_tests/test_formats/blockchain_test_sync.md
  src/ethereum_clis/types.py
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/modifiers.py
  src/ethereum_test_types/block_types.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/__init__.py
  tests/amsterdam/eip7928_block_level_access_lists/spec.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_invalid.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
  uv.lock
Due: tox, tox-docs, tox-changelog

tests: improve benchmarks top-level docstring for test case ref
  tests/benchmark/__init__.py
Due: tox

chore(gentest): fix gentest.
  src/cli/gentest/request_manager.py
  src/ethereum_test_rpc/rpc.py
Due: tox

renamed test_ to validate_, adjusted updated names in get_command_logic_test_paths()
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/direct/validate_direct.py
  src/pytest_plugins/consume/simulators/simulator_logic/validate_engine.py
  src/pytest_plugins/consume/simulators/simulator_logic/validate_rlp.py
  src/pytest_plugins/consume/simulators/simulator_logic/validate_sync.py
  src/pytest_plugins/consume/simulators/validate_case_description.py
Due: tox

adjusted import name from test_ to validate_
  src/pytest_plugins/consume/simulators/rlp/conftest.py
Due: tox

feat(tests): add initial XEN test
  tests/benchmark/mainnet/__init__.py
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

more fixes
  src/pytest_plugins/consume/simulators/simulator_logic/validate_sync.py
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

- fix(fw): Restrict extra fields for ``BaseTest`` types - refactor(tests): Remove benign extra args to blockchain tests
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/tests/test_expect.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  tests/unscheduled/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

fix(tests,bal): Fix unreleased BAL tests from old design
  docs/CHANGELOG.md
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox, tox-docs, tox-changelog
