Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

refactor(consume): split into separate plugins by functionality
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/exceptions.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
  src/pytest_plugins/consume/simulators/test_case_description.py
  src/pytest_plugins/consume/simulators/timing_data.py
Due: tox

refactor(consume): split base functionality out to the `base` plugin
  src/pytest_plugins/consume/simulators/base.py
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

refactor(all): update lang from 'shared pre-alloc' to 'pre-allocation groups' 1/2
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/pytest_commands/fill.py
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/shared_alloc.py
  src/ethereum_test_specs/base.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox, tox-docs

refactor(filler): rename flags for consistency with class names
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/pytest_commands/fill.py
  src/cli/show_pre_alloc_group_stats.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox, tox-docs

refactor(all): rename 'engine reorg' to 'engine x'
  docs/CHANGELOG.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/forks/tests/test_forks.py
Due: tox, tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

refactor(docs): move `engine_reorg` -> `engine_x`
  docs/navigation.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
Due: tox-docs

refactor(all): update lang from 'shared pre-alloc' to 'pre-allocation groups' 2/2
  docs/CHANGELOG.md
  docs/library/cli/extract_config.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/extract_config.py
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox, tox-docs

fix(consume): update according to renaming in #1760
  src/pytest_plugins/consume/simulators/engine_reorg/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
Due: tox

refactor(consume): rename & simplify consume enginex command
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
  whitelist.txt
Due: tox

fix(consume): add `genesis_header` to `single_test_cilent` plugin
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

refactor(consume): rename simulator path to enginex
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/hive_simulators_reorg/__init__.py
  src/pytest_plugins/consume/simulators/enginex/__init__.py
  src/pytest_plugins/consume/simulators/enginex/conftest.py
Due: tox

refactor(consume): rename/update w/enginex & pre-alloc group terminology
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

feat(consume): track tests by pre-alloc group for client cleanup
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
Due: tox

feat(consume): add `--enginex-fcu-frequency` option
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
Due: tox

fix(tests/zkevm): update jump seq for valid dest (#1710)
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(fill,fixtures): rename "engine reorg" to "engine x"; improve pre-allocation group terminology (#1760)
  docs/CHANGELOG.md
  docs/library/cli/extract_config.md
  docs/navigation.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/extract_config.py
  src/cli/pytest_commands/fill.py
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
  src/pytest_plugins/forks/tests/test_forks.py
Due: tox, tox-docs

feat: add max_stack_height method to BaseFork and Frontier classes
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

refactor: replace hardcode stack limit to fork configuration
  tests/zkevm/test_worst_compute.py
Due: tox

feat(zkevm/tests): add worst case tests for SWAP opcodes
  tests/zkevm/test_worst_compute.py
Due: tox

feat(forks): add stack limit in fork configuration (#1768)
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  tests/zkevm/test_worst_compute.py
Due: tox

feat(zkevm/tests): add worst case tests for SWAP opcodes (#1769)
  tests/zkevm/test_worst_compute.py
Due: tox

fix(tests/zkevm): correct data type assignment
  tests/zkevm/test_worst_compute.py
Due: tox

feat(zkevm/test): add worst case test for multiple DUP opcodes
  tests/zkevm/test_worst_compute.py
Due: tox

fix(tests/zkevm): update max stack height retrieval
  tests/zkevm/test_worst_compute.py
Due: tox

Add more cases
  tests/zkevm/test_worst_compute.py
Due: tox

refactor: create helper function for the repeated code sequence
  tests/zkevm/helpers.py
  tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

refactor: update selfbalance opcode
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

refactor: update memsize opcode
  tests/zkevm/test_worst_compute.py
Due: tox

feat(tests): update eip7939 cases.
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_tools/tests/test_code.py
  tests/osaka/eip7939_count_leading_zeros/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
  whitelist.txt
Due: tox, tox-docs

feat(tests): add clz eip-7939 tests.
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7939_count_leading_zeros/__init__.py
  tests/osaka/eip7939_count_leading_zeros/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
  whitelist.txt
Due: tox, tox-docs

feat(tests): block rlp size limit eip-7934 test cases.
  docs/CHANGELOG.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/helpers.py
  tests/osaka/eip7934_block_rlp_limit/__init__.py
  tests/osaka/eip7934_block_rlp_limit/conftest.py
  tests/osaka/eip7934_block_rlp_limit/spec.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox, tox-docs

fix: minor rename
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox

feat(tests): add more worst-case modexp benchmarks (#1701)
  tests/zkevm/test_worst_compute.py
Due: tox

Update tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox

fix(tests): remove misleading block rlp cases
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox

feat(tests): add clz eip-7939 tests. (#1733)
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7939_count_leading_zeros/__init__.py
  tests/osaka/eip7939_count_leading_zeros/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
  whitelist.txt
Due: tox, tox-docs

change INVALID_DEPOSIT_EVENT_LAYOUT to BlockException
  docs/CHANGELOG.md
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/ethrex.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exceptions.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox, tox-docs

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

fix(tests): change `INVALID_DEPOSIT_EVENT_LAYOUT` to `BlockException` (#1773)
  docs/CHANGELOG.md
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/ethrex.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exceptions.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
