Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

new(tests): new tests for JUMPF and non-returning (#1140)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(clis/besu): nonce mismatch exception mapping (#1158)
  src/ethereum_clis/clis/besu.py
Due: tox

docs: CHANGELOG
  docs/CHANGELOG.md
Due: tox-docs

fix(tests): EIP-7702: Spec update #9248 (#1129)
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox, tox-docs

docs: Add fields to the config fields in the fixture types
  docs/consuming_tests/blockchain_test.md
  docs/consuming_tests/state_test.md
Due: tox-docs

docs: fix
  docs/CHANGELOG.md
Due: tox-docs

fix(forks,tests): EIP-2935, EIP-7002 and EIP-7251: Final Prague system contracts address update (#1155)
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/utility/generators.py
  tests/prague/eip2935_historical_block_hashes_from_state/contract_deploy_tx.json
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip7002_el_triggerable_withdrawals/contract_deploy_tx.json
  tests/prague/eip7002_el_triggerable_withdrawals/spec.py
  tests/prague/eip7251_consolidations/contract_deploy_tx.json
  tests/prague/eip7251_consolidations/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

fix(tests): EIP-6110: Add `slow` marker to `many_deposits` test
  tests/prague/eip6110_deposits/test_deposits.py
Due: tox

new(tests): add new JUMPF tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

Port test for swap opcode
  tests/frontier/opcodes/test_swap.py
  uv.lock
Due: tox

new(tests): EOF - EIP-6206: add new JUMPF tests (#1161)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(tests): EIP-6110: Add `slow` marker to `many_deposits` test (#1160)
  tests/prague/eip6110_deposits/test_deposits.py
Due: tox

feat(tests): add modexp overflow test
  docs/CHANGELOG.md
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
Due: tox, tox-docs

📄 docs: A guide to porting tests
  docs/dev/index.md
  docs/dev/porting_legacy_tests.md
  docs/img/legacy-coverage-loss.png
Due: tox-docs

📄 docs: Navigating coverage report
  docs/dev/porting_legacy_tests.md
  docs/img/annotated-coverage.jpg
Due: tox-docs

📄 docs: Expected coverage loss
  docs/dev/porting_legacy_tests.md
Due: tox-docs

feat/adapt eip6780 selfdestruct revert to execute mode
  tests/cancun/eip6780_selfdestruct/conftest.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
Due: tox

chore: update ruff to latest version '0.9.4'.
  pyproject.toml
  uv.lock
Due: none

chore(tests): ruff 0.9.4 `tests/` update.
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/cancun/eip1153_tstore/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7623_increase_calldata_cost/helpers.py
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

chore(src): ruff 0.9.4 `src/` update.
  src/cli/gentest/request_manager.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_types/tests/test_helpers.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox

chore(docs): ruff 0.9.4 `docs/` update.
  docs/gen_test_case_reference.py
Due: tox

chore(docs): update changelog.
  docs/CHANGELOG.md
Due: tox-docs

feat: adapt reentrancy selfdestruct revert
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
Due: tox

chore(deps): update ruff to version '0.9.4'. (#1168)
  docs/CHANGELOG.md
  docs/gen_test_case_reference.py
  pyproject.toml
  src/cli/gentest/request_manager.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_types/tests/test_helpers.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/shared/execute_fill.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/cancun/eip1153_tstore/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7623_increase_calldata_cost/helpers.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  uv.lock
Due: tox, tox-docs

feat: move post merge forks to seperate files.
  src/cli/eofwrap.py
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/forks/cancun.py
  src/ethereum_test_forks/forks/custom.py
  src/ethereum_test_forks/forks/osaka.py
  src/ethereum_test_forks/forks/paris.py
  src/ethereum_test_forks/forks/prague.py
  src/ethereum_test_forks/forks/pre_merge.py
  src/ethereum_test_forks/forks/shanghai.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

refactor/tests-rewrite-parametrization
  tests/shanghai/eip3860_initcode/test_initcode.py
  uv.lock
Due: tox

refactor uv.lock
  uv.lock
Due: none

chore(tooling): add newline to uv.lock
  uv.lock
Due: none

feat(fixtures): Payload building fixture
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/payload_building.py
Due: tox

feat(specs): Payload building spec
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/payload_building.py
Due: tox

fix(tools): export types
  src/ethereum_test_tools/__init__.py
Due: tox

fix(rpc): required changes
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
Due: tox

feat(plugins/consume): Support for payload building tests in `consume engine`
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

new(tests): EIP-7702: Simple payload building test
  tests/prague/eip7702_set_code_tx/test_payload_building.py
Due: tox

fix(fixtures): Add error to payload building
  src/ethereum_test_fixtures/payload_building.py
Due: tox

fix(plugins/consume): Handle tx errors in payload building
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

fix(plugins/consume): Add post checking
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

fix(fixtures): exclude unset on transaction post
  src/ethereum_test_fixtures/payload_building.py
Due: tox

feat(exceptions): Add eth_sendRawTransaction exception
  src/ethereum_test_exceptions/exceptions.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
