Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

Refactor `FixtureConsumer`
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/fixture_consumer.py
Due: tox

docs: reword changelog
  docs/CHANGELOG.md
Due: tox-docs

refactor(ethereum_clis): move `TransitionTool.verify_fixture()` to `FixtureConsumer` (#935)
  docs/CHANGELOG.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/fixture_consumer_tool.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/verify.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Due: tox, tox-docs

feat(specs): Generate state tests from EOF test
  docs/CHANGELOG.md
  src/ethereum_test_specs/eof.py
Due: tox, tox-docs

fix(tests): EOF tests that can't be filled as state tests
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_size.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

new(tests): add more RJUMP validation tests (#1228)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(execution,fixtures): Labeled formats comparison
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

fix: typos
  src/ethereum_test_execution/base.py
Due: tox

More typos
  src/ethereum_test_execution/base.py
Due: tox

fix(execution,fixtures): Labeled formats comparison (#1233)
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
Due: tox, tox-docs

bug: fix eels t8n for python `3.11.2`. (#1231)
  docs/CHANGELOG.md
  src/ethereum_clis/clis/execution_specs.py
  whitelist.txt
Due: tox, tox-docs

handle null transaction response
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

RESET: Untested changes
  src/cli/gentest/request_manager.py
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

fix(plugins/execute): Overwrite tx instead of bumping nonce
  src/pytest_plugins/execute/sender.py
Due: tox

refactor(execute): Move refund logic to `pre` fixture
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

new(tests): add more RJUMPI validation tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(execute): Return `--sender-funding-txs-gas-price`
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/sender.py
Due: tox

wip
  .vscode/settings.json
  tests/frontier/opcodes/test_calldataload.py
  tests/frontier/opcodes/test_calldatasize.py
Due: tox

feat(consume): allow `consume direct --collect-only` without `--bin`
  docs/CHANGELOG.md
  src/pytest_plugins/consume/direct/conftest.py
Due: tox, tox-docs

fix(consume): fix direct when `--bin` is specified
  src/pytest_plugins/consume/direct/conftest.py
Due: tox

chore(consume): fix typo in docstring
  src/pytest_plugins/consume/direct/conftest.py
Due: tox

refactor(consume): use `Path` type, not `str`, for `--bin` arg values
  src/pytest_plugins/consume/direct/conftest.py
Due: tox

feat,fix(consume): allow `consume direct --collect-only` without `--bin`; fix `--bin` (#1237)
  docs/CHANGELOG.md
  src/pytest_plugins/consume/direct/conftest.py
Due: tox, tox-docs

new(fixtures,spec): Payload building test spec and fixture
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/payload_building.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/payload_building.py
  src/ethereum_test_tools/__init__.py
Due: tox

new(consume): Payload building in consume engine
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

new(tests): EIP-7702: Payload building tests
  tests/prague/eip7702_set_code_tx/test_payload_building.py
Due: tox

fix(execute,fill): Fix warnings due to labels being unknown markers
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox, tox-docs

feat(tests): Precompile Checks (#1120)
  converted-ethereum-tests.txt
  tests/frontier/precompiles/test_precompiles.py
Due: tox

fixup! test corrections
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
Due: tox

new(tests): add more RJUMPI validation tests (#1235)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

feat(consume): report the resolved fixture release tarball and page URLs
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/releases.py
Due: tox, tox-docs

feat(consume): exit early with consume cache (no dummy test session)
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/test_cache.py
Due: tox

fix(consume): fix piping fill to consume (`--input=stdin`)
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

feat(make): allow creation of a new test module within an existing tests subfolder
  src/cli/eest/make/commands/test.py
Due: tox

style(consume): fix typehints for fixture_source.path w/non-stdin case
  src/pytest_plugins/consume/consume.py
Due: tox

feat(tooling): run typecheck checks in pre-commit on *.py
  .pre-commit-config.yaml
Due: none

feat(make): add interactive test directory selection with enhanced UX
  src/cli/eest/make/commands/test.py
Due: tox

new(tests): add more RJUMPV validation tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
