Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

feat(tooling): run typecheck checks in pre-commit on *.py (#1240)
  .pre-commit-config.yaml
Due: none

style(consume): remove unintended comment
  src/pytest_plugins/consume/consume.py
Due: tox

style(consume): fix cache exit message
  src/pytest_plugins/consume/consume.py
Due: tox

fix(consume): fix index generation if index.json is missing
  src/pytest_plugins/consume/consume.py
Due: tox

style(consume): move FixtureSource up after defaults
  src/pytest_plugins/consume/consume.py
Due: tox

feat(consume): report the resolved fixture release tarball and page URLs (#1239)
  docs/CHANGELOG.md
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/releases.py
  src/pytest_plugins/consume/test_cache.py
Due: tox, tox-docs

feat(consume): use `--regex` for hive `--sim.limit` args
  src/cli/pytest_commands/consume.py
Due: tox

chore(deps): add pytest-regex as a dependency
  pyproject.toml
  uv.lock
Due: none

docs: move this pr's entry from v4 to unreleased
  docs/CHANGELOG.md
Due: tox-docs

feat(consume): add `--sim.limit` flag to consume
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  whitelist.txt
Due: tox

chore(tests): fix typo in docstring
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

test(gentest): add debug output in case of unclean fill exit
  src/cli/gentest/tests/test_cli.py
Due: tox

tests(consume): add tests for `--sim.limit` in collect-only mode
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

tests(consume): try to fix macOS fails
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

fix(consume): add quotes around argument value in help string
  src/pytest_plugins/consume/consume.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

test(consume): fix tox -pytest fails
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

refactor(consume): specify the type of `--sim.limit` to `SimLimitBehavior`
  src/pytest_plugins/consume/consume.py
Due: tox

tests(consume): fix-up tests following rebase on #1237
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

test(consume): print output upon non-clean fill exit code
  src/pytest_plugins/consume/tests/test_consume_args.py
Due: tox

fix(consume): rebase import issue
  src/pytest_plugins/consume/consume.py
Due: tox

fix warning in vscode about ruff legacy server
  .vscode/settings.json
Due: none

feat,test(consume): use regex for `--sim.limit`; don't use xdist if `--sim.parallelism=1` (#1221)
  docs/CHANGELOG.md
  pyproject.toml
  src/cli/gentest/tests/test_cli.py
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/filler/tests/test_filler.py
  uv.lock
  whitelist.txt
Due: tox, tox-docs

fix(vscode/settings): warning about ruff legacy server (#1243)
  .vscode/settings.json
Due: none

Add identity returndata tests and additional blake2 test cases
  tests/frontier/precompiles/test_identity_returndata_size.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/istanbul/eip152_blake2/test_blake2_delegatecall.py
Due: tox

fix(fill,execute): register new label type markers to prevent warnings
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox, tox-docs

feat(make): add interactive test directory selection
  src/cli/eest/make/commands/test.py
Due: tox

store_next_update
  tests/frontier/opcodes/test_swap.py
Due: tox

more tests for FixtureHeader
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/fixtures/blockchain_fixture_invalid.json
  src/ethereum_test_fixtures/tests/test_blockchain_fixture.py
Due: tox

test: add calldataload test
  tests/frontier/opcodes/test_calldataload.py
Due: tox

feat(consume): allow geth to validate eof test vectors via direct (#1232)
  src/ethereum_clis/clis/geth.py
Due: tox

Storage update
  tests/frontier/opcodes/test_swap.py
Due: tox

fix(execute,fill): Fix warnings due to labels being unknown markers (#1238)
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox, tox-docs

fix(fill,execute): register new label type markers to prevent warnings (#1245)
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox, tox-docs

✨ feat(gentest): Support for transaction types (#1166)
  src/cli/gentest/request_manager.py
  src/cli/gentest/test_context_providers.py
  src/cli/gentest/test_providers.py
  src/cli/gentest/tests/test_cli.py
  src/config/env.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_types/types.py
Due: tox

docs(getting_started,fill): added solc building instructions for arm64 users with fill issues
  docs/getting_started/installation.md
  docs/getting_started/installation_troubleshooting.md
  whitelist.txt
Due: tox-docs

added comment regarding #1254
  docs/CHANGELOG.md
Due: tox-docs

fix(test): remove test violating EIP-7523
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(eofwrap): Ensure fixture_format is present
  src/cli/eofwrap.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
