Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

feat(execution,specs): Implement `BlobsTest` execute-only spec type
  docs/CHANGELOG.md
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/blobs.py
  src/ethereum_test_tools/__init__.py
Due: tox, tox-docs

feat(tests): EIP-7594: Add test
  docs/CHANGELOG.md
  tests/osaka/eip7594_peerdas/__init__.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
Due: tox, tox-docs

fix(rpc): fix `BlobsBundle.blob_versioned_hashes`, get blobs
  src/ethereum_test_rpc/__init__.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
Due: tox

refactor(types): Update NetworkWrappedTransaction to include wrapper version
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
Due: tox

refactor(specs,plugins): Remove SPEC_TYPES, use BaseTest.spec_types
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_tools/__init__.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/helpers.py
Due: tox

fix(plugins/fill): Allow execute-only specs
  src/pytest_plugins/filler/filler.py
Due: tox

feat(execution,plugins): EngineAPI-required execute spec property
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/transaction_post.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
Due: tox

fix(types): Transaction.sign sender recovery
  src/ethereum_test_types/types.py
Due: tox

feat(forks): Add `engine_get_blobs_version` method
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

chore(tests): add remaining 7883 test vectors.
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
Due: none

Identity precompile test conversions
  docs/CHANGELOG.md
  tests/frontier/identity_precompile/__init__.py
  tests/frontier/identity_precompile/common.py
  tests/frontier/identity_precompile/conftest.py
  tests/frontier/identity_precompile/test_identity.py
  tests/frontier/identity_precompile/test_identity_returndatasize.py
Due: tox, tox-docs

Updates based on feedback
  tests/frontier/identity_precompile/common.py
  tests/frontier/identity_precompile/test_identity.py
  tests/frontier/identity_precompile/test_identity_returndatasize.py
  tests/static/state_tests/stPreCompiledContracts/identity_to_biggerFiller.json
  tests/static/state_tests/stPreCompiledContracts/identity_to_smallerFiller.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentitiy_0Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentitiy_1Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_1_nonzeroValueFiller.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_2Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_3Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_4Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_4_gas17Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_4_gas18Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_5Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentitiy_0Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentitiy_1Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_1_nonzeroValueFiller.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_2Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_3Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_4Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_4_gas17Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_4_gas18Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_5Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_6_inputShorterThanOutputFiller.json
Due: tox

Add identity precompile ported_from markers
  tests/frontier/identity_precompile/test_identity.py
  tests/frontier/identity_precompile/test_identity_returndatasize.py
Due: tox

fix ported_from paths
  tests/frontier/identity_precompile/test_identity.py
Due: tox

fix ported_from paths
  tests/frontier/identity_precompile/test_identity_returndatasize.py
Due: tox

feat(tests): Identity precompile test conversions (#1344)
  docs/CHANGELOG.md
  tests/frontier/identity_precompile/__init__.py
  tests/frontier/identity_precompile/common.py
  tests/frontier/identity_precompile/conftest.py
  tests/frontier/identity_precompile/test_identity.py
  tests/frontier/identity_precompile/test_identity_returndatasize.py
  tests/static/state_tests/stPreCompiledContracts/identity_to_biggerFiller.json
  tests/static/state_tests/stPreCompiledContracts/identity_to_smallerFiller.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentitiy_0Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentitiy_1Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_1_nonzeroValueFiller.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_2Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_3Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_4Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_4_gas17Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_4_gas18Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CALLCODEIdentity_5Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentitiy_0Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentitiy_1Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_1_nonzeroValueFiller.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_2Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_3Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_4Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_4_gas17Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_4_gas18Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_5Filler.json
  tests/static/state_tests/stPreCompiledContracts2/CallIdentity_6_inputShorterThanOutputFiller.json
Due: tox, tox-docs

fix(github/coverage): Fix coverage script on PRs that do not convert tests (#1661)
  .github/workflows/coverage.yaml
  docs/CHANGELOG.md
  src/pytest_plugins/filler/ported_tests.py
Due: tox, tox-docs

zkevm: add BLOBHASH benchs
  tests/zkevm/test_worst_compute.py
Due: tox

generalize params
  tests/zkevm/test_worst_compute.py
Due: tox

improvements
  tests/zkevm/test_worst_compute.py
Due: tox

feat(fixtures,specs): Add `postStateHash` on `exclude_full_post_state_in_output`
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(fixtures,specs): Check mutually exclusive `postState`/`postStateHash`
  src/ethereum_test_fixtures/blockchain.py
Due: tox

feat(fixtures,specs): Add `postStateHash` on `exclude_full_post_state_in_output` (#1667)
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox, tox-docs

refactor(tests/zkevm): downgrade to state tests
  tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

zkevm: calldataload
  tests/zkevm/test_worst_compute.py
Due: tox

fix assertion
  tests/zkevm/test_worst_compute.py
Due: tox

avoid POPs
  tests/zkevm/test_worst_compute.py
Due: tox

rebase
  tests/zkevm/test_worst_compute.py
Due: tox

generalize calldata argument
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(tests/zkevm): downgrade to state tests (#1660)
  tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

zkevm: memory opcodes
  tests/zkevm/test_worst_compute.py
Due: tox

feat(tests/zkevm): add BLOBHASH test (#1666)
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(cli): modularize pytest cli wrappers for extensibility
  src/cli/pytest_commands/base.py
  src/cli/pytest_commands/check_eip_versions.py
  src/cli/pytest_commands/common.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/execute.py
  src/cli/pytest_commands/fill.py
  src/cli/pytest_commands/processors.py
Due: tox

refactor(cli,fill,execute): better early exit if help; remove unncessary cli help logic
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/shared/helpers.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

fix: fix `fill --pytest-help`
  src/pytest_plugins/shared/helpers.py
Due: tox

chore: use functools.wrap on decorator
  src/cli/pytest_commands/consume.py
Due: tox

feat(cli): use `rich.Console()` for contrast in command output
  src/cli/pytest_commands/base.py
Due: tox

chore: remove superflous comment
  src/cli/pytest_commands/base.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
