Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

chore(docs): update readme for weld.
  README.md
Due: tox-docs

chore(docs): reformat readme.
  README.md
Due: tox-docs

chore: log weld for fill, consume and execute.
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
Due: tox

chore: point pr template to issue.
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

Update src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/consume.py
Due: tox

chore: bump fill/execute like consume suggestions.
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
Due: tox

Update README.md
  README.md
Due: tox-docs

chore(weld): update readme, fill/consume/execute logs for the weld (#2302)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
Due: tox, tox-docs

Update static_filler.py
  src/pytest_plugins/filler/static_filler.py
Due: tox

fix(benchmark): add type annotations to test functions
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox

fix: stateful test issue
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix(benchmark): add AddressStubs type annotation to address_stubs parameter
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox

feat(benchmark): add parametrized contract count, stub filtering, and correct gas calculations
  tests/benchmark/stateful/bloatnet/test_multi_opcode.py
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox

feat(consume): add block production simulator.
  src/pytest_plugins/consume/simulators/production/__init__.py
  src/pytest_plugins/consume/simulators/production/conftest.py
  src/pytest_plugins/consume/simulators/production/helpers/__init__.py
  src/pytest_plugins/consume/simulators/production/helpers/block_building.py
  src/pytest_plugins/consume/simulators/production/test_via_production.py
Due: tox

Add mapping for gas overflow error
  src/ethereum_clis/clis/ethrex.py
Due: tox

feat(consume): some fixes.
  src/pytest_plugins/consume/simulators/production/helpers/block_building.py
  src/pytest_plugins/consume/simulators/production/test_via_production.py
Due: tox

feat(consume): more fixes.
  src/pytest_plugins/consume/simulators/production/test_via_production.py
Due: tox

feat(consume): add production to consume cli.
  src/cli/pytest_commands/consume.py
Due: tox

feat(consume): add production to hive processors.
  src/cli/pytest_commands/processors.py
Due: tox

feat(consume): move test production to simulator logic.
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_production.py
Due: tox

chore: temp remove filtering.
  src/pytest_plugins/consume/simulators/production/conftest.py
Due: tox

chore: fix production sim path.
  src/cli/pytest_commands/consume.py
Due: tox

chore: re add filtering.
  src/pytest_plugins/consume/simulators/production/conftest.py
Due: tox

chore: add consume production to check live port.
  src/pytest_plugins/consume/simulators/base.py
Due: tox

chore: adjust timeouts.
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_production.py
Due: tox

chore: fix get payload version.
  src/pytest_plugins/consume/simulators/production/helpers/block_building.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_production.py
Due: tox

chore: fix get payload version.
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_production.py
Due: tox

added additional error mapping for block size limit checks
  src/ethereum_clis/clis/ethrex.py
Due: tox

Added error mapping for maximum gas limit
  src/ethereum_clis/clis/ethrex.py
Due: tox

Fixed wording and removed unneeded tests
  tests/amsterdam/eip7805_forkchoice_enforced_inclusion_lists/test_cases.md
Due: tox-docs

specified IL builder as IL committee member
  tests/amsterdam/eip7805_forkchoice_enforced_inclusion_lists/test_cases.md
Due: tox-docs

Added test_focil_block_validation_accepts_two_independent_inclusion_list_txs and fixed grammar mistakes
  tests/amsterdam/eip7805_forkchoice_enforced_inclusion_lists/test_cases.md
Due: tox-docs

fix: SLOAD test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

Besu BAL error mapping
  src/ethereum_clis/clis/besu.py
Due: tox

fixed ambiguous language
  tests/amsterdam/eip7805_forkchoice_enforced_inclusion_lists/test_cases.md
Due: tox-docs
