Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
  language: system
  pass_filenames: false

tox-changelog:
  name: tox-changelog
  entry: uvx --with=tox-uv tox -e changelog
  language: system
  pass_filenames: false

refactor(consume): rename simulator path to enginex
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/hive_simulators_reorg/__init__.py
  src/pytest_plugins/consume/simulators/enginex/__init__.py
  src/pytest_plugins/consume/simulators/enginex/conftest.py
Due: tox

refactor(consume): rename/update w/enginex & pre-alloc group terminology
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

feat(consume): add `--enginex-fcu-frequency` option
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

feat(consume): track tests by pre-alloc group for client cleanup
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
Due: tox

fix(consume): explicitly depend on hive_test fixture for result propagation
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

feat(consume): append enginexfixture pre_hash field to testid if available
  src/pytest_plugins/consume/consume.py
Due: tox

refactor(consume): use fixture format detection for enginex parametrization
  src/pytest_plugins/consume/consume.py
Due: tox

style(consume): fix-up simulator init file docstrings
  src/pytest_plugins/consume/simulators/engine/__init__.py
  src/pytest_plugins/consume/simulators/enginex/__init__.py
  src/pytest_plugins/consume/simulators/rlp/__init__.py
Due: tox

fix(consume): more bugfixes for creating pre_hash group subgroups & load balancing
  src/pytest_plugins/consume/consume.py
Due: tox

refactor(consume): move pytest_hive plugin registration to simulator conftest files
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
Due: tox

fix(consume): fix test group/client clean-up tracking after introduction of sub-groups
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
  src/pytest_plugins/consume/tests/test_group_identifier_container.py
Due: tox

style(consume): remove file that was unintentionally added in #1718
  src/pytest_plugins/consume/hive_engine_test/__init__.py
Due: tox

fix(consume): Register client with test
  src/pytest_plugins/consume/simulators/multi_test_client.py
Due: tox

feat(consume): create pre_hash subgroups w/max size for better xdist balancing
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/simulators/enginex/conftest.py
Due: tox

refactor(consume): add pytest_hive plugin to enginex simulator conftest
  src/pytest_plugins/consume/simulators/enginex/conftest.py
Due: tox

fix(consume): restore missing exponential retry logic for initial forkchoice update
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

fix(consume): use parameter-based test discovery in pytest_generate_tests
  src/pytest_plugins/consume/consume.py
Due: tox

fix(consume): recognize `--enginex-max-group-size` option in consume.consume
  src/pytest_plugins/consume/consume.py
Due: tox

no, but this really should be the last commit
  src/config/docs.py
Due: tox

add kzg setup to package-data
  pyproject.toml
Due: none

chore(ci): bump prague to stable and osaka to develop (#1573)
  .github/configs/eels_resolutions.json
  .github/configs/feature.yaml
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  pyproject.toml
  src/config/docs.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/tests/fixtures/1/exp.json
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_types/block_types.py
  src/ethereum_test_types/tests/test_types.py
  src/pytest_plugins/eels_resolutions.json
  tox.ini
  uv.lock
Due: tox, tox-docs, tox-changelog

feat(packaging,types): add `kzg_trusted_setup.txt` to package-data (#1909)
  pyproject.toml
Due: none

fixed everything up to writing_tests/exception_tests
  docs/content/main/getting_started/setup_vs_code.md
  docs/content/main/writing_tests/code_standards.md
  docs/content/main/writing_tests/eest_make_test.gif
  docs/content/main/writing_tests/main.md
  docs/content/main/writing_tests/test_markers.md
  docs/content/main/writing_tests/types_of_tests.md
  docs/content/main/writing_tests/verifying_changes.md
  docs/content/main/writing_tests/writing_a_new_test.md
  docs/public/images/writing_tests/eest_make_test.gif
  docs/public/index.xml
  docs/public/main/getting_started/code_standards/index.html
  docs/public/main/getting_started/code_standards_details/index.html
  docs/public/main/getting_started/main/index.html
  docs/public/main/getting_started/setup_vs_code/index.html
  docs/public/main/index.xml
  docs/public/main/writing_tests/adding_a_new_test/index.html
  docs/public/main/writing_tests/code_standards/index.html
  docs/public/main/writing_tests/eest_make_test.gif
  docs/public/main/writing_tests/eip_checklist/index.html
  docs/public/main/writing_tests/exception_tests/index.html
  docs/public/main/writing_tests/fork_methods/index.html
  docs/public/main/writing_tests/main/index.html
  docs/public/main/writing_tests/porting_legacy_tests/index.html
  docs/public/main/writing_tests/post_mortems/index.html
  docs/public/main/writing_tests/reference_specification/index.html
  docs/public/main/writing_tests/test_markers/index.html
  docs/public/main/writing_tests/types_of_tests/index.html
  docs/public/main/writing_tests/writing_a_new_test/index.html
  docs/static/images/writing_tests/eest_make_test.gif
  docs/static/images/writing_tests/eest_make_test.mp4
Due: tox-docs

Update navigation.md
  docs/navigation.md
Due: tox-docs

feat(tests): EIP-7883: triple modexp gas price (#1881)
  docs/CHANGELOG.md
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
Due: tox, tox-docs, tox-changelog

Update copy_repo_docs_to_mkdocs.py
  docs/scripts/copy_repo_docs_to_mkdocs.py
Due: tox

fix(consume,cli): fix plugin path after rebase
  src/cli/pytest_commands/processors.py
Due: tox

feat(filler): Add unit test to verify pre-alloc grouping on different state test envs
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

fix(specs): Genesis generation for state tests
  src/ethereum_test_specs/state.py
Due: tox

fix(specs): Fix State Tests Genesis Environment (#1912)
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

fix(specs): state tests and blockchain tests with default env have same pre-alloc group
  src/ethereum_test_specs/blockchain.py
Due: tox

fix(specs,fixtures): Pre-alloc groups on tests that modify the pre-allocation
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

fix(tests): Remove some unnecessary custom envs
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip6110_deposits/test_deposits.py
Due: tox

refactor(specs): Genesis header creation
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Due: tox

fix(fixtures): Use defaults in FixtureHeader for genesis generation
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

eip-7918: update blob_base_cost
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
Due: tox, tox-docs, tox-changelog

eip-7918: update blob_base_cost (#1915)
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
Due: tox, tox-docs, tox-changelog

added bpo config + function to retrieve from it + unit test for that function
  src/ethereum_test_types/blob_bpo_config.json
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/tests/test_blob_types.py
Due: tox

ruff fixes
  src/ethereum_test_types/blob_types.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
  tox-changelog: any of: ^docs/CHANGELOG\.md$
