Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

fix(tests): Fix expectations for self-destruct tests
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

feat(tests): add test case for P256 where `Q.x` is zero (#2221)
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

✨ feat(tests): EIP-7928 SELFDESTRUCT tests (#2159)
  .github/configs/eels_resolutions.json
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/account_absent_values.py
  src/ethereum_test_types/block_access_list/account_changes.py
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs, tox-changelog

Changed intrinsic gas too low for gas below floor gas cost
  src/ethereum_clis/clis/ethrex.py
Due: tox

✨ feat(tests): test_bal_account_access_target
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

🧹 chore: Global fork marker
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

✨ feat(tests): test_bal_call_with_value_transfer
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): test_bal_delegated_storage_reads
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): test_bal_delegated_storage_writes
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(test): test_bal_block_rewards
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

✨ feat(tests): test_bal_callcode_with_value_transfer
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

refactor: rebase and fix conflicts
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

Use the gh transfer function
  scripts/transfer_issues.py
Due: tox

✨ feat(tests): EIP-7928 account access test cases (#2182)
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

Fixing wrongly removing intrinsic gas too low error
  src/ethereum_clis/clis/ethrex.py
Due: tox

fix(execute): add gas validation for benchmark tests in execute mode
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/execute/execute.py
Due: tox

Fixing message for intrinsic gas too low error
  src/ethereum_clis/clis/ethrex.py
Due: tox

Improved error messages
  src/ethereum_clis/clis/ethrex.py
Due: tox

feat(benchmark): add eip7702 case
  tests/benchmark/test_worst_blocks.py
Due: tox

refactor(execute): simplify gas validation implementation
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/execute/execute.py
Due: tox

feat(tests): add test case with invalid P256 with x1 above N
  tests/osaka/eip7951_p256verify_precompiles/spec.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test case for P256 with r max value
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

fix: refresh launch.recommended.json for vs code debugging
  .vscode/launch.recommended.json
Due: none

use --chain-id in ProgramChainid
  tests/frontier/scenarios/programs/context_calls.py
Due: tox

feat(tests): add test cases for P256 input s special values
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test cases for P256 input s special values (#2215)
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test cases for P256 with zero h, r, s (#2216)
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test case with invalid P256 with x1 above N (#2217)
  tests/osaka/eip7951_p256verify_precompiles/spec.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test case for point doubling in P256
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test case for point doubling in P256 (#2218)
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test case for P256 with r max value (#2229)
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): add test cases for P256 for r,s above N
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(fuzzer_bridge): add EIP-7702 and EIP-4788 support
  src/cli/fuzzer_bridge/models.py
  src/ethereum_test_specs/blockchain.py
Due: tox

chore(cli): safe solution to 6110.
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/reth.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox

chore(docs): changelog and lint fix.
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/reth.py
Due: tox, tox-docs, tox-changelog

chore(forks): update bpo hardfork params to match testnet.
  src/ethereum_test_forks/forks/forks.py
Due: tox

chore(cli): final reth 7825 mapper update.
  src/ethereum_clis/clis/reth.py
Due: tox

feat(tests): add test cases for P256 for r,s above N (#2230)
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

fix: refresh launch.recommended.json for vs code debugging (#2231)
  .vscode/launch.recommended.json
Due: none

feat(tests): add more tests for P256 where R is at infinity
  docs/CHANGELOG.md
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox, tox-docs, tox-changelog
