Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
  language: system
  pass_filenames: false

tox-changelog:
  name: tox-changelog
  entry: uvx --with=tox-uv tox -e changelog
  language: system
  pass_filenames: false

feat(tests): fix XEN approval spam test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

tmp: skip xen mint test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

fix(tests): update XEN approval test to not fail-early on approving the zero address
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

feat(tests): add approval test for existing slots
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

update xen tests
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

feat(tests): add more XEN tests
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

update spam numbers
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

update xen claimrank test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

decrease spam count
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

add XEN storage read test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

mark approve with only one set explicit
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

[XEN] add usdt spam to change existing slots increase usdt spam in claimrank
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

chore: update eels resolver to use latest specs commit
  .github/configs/eels_resolutions.json
  src/pytest_plugins/eels_resolutions.json
Due: none

fix(tests): Fix and add cases for BALs tests for SSTORE OOG conditions (#2297)
  .github/configs/eels_resolutions.json
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/expectations.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs, tox-changelog

Added: EIP-7805 FOCIL test cases
  tests/amsterdam/test_cases.md
Due: tox-docs

Revise EIP-7805 FOCIL test cases for clairity
  tests/amsterdam/test_cases.md
Due: tox-docs

feat(tests): add testPhase attribute to transaction test cases
  src/ethereum_test_types/tests/test_types.py
Due: tox

feat: implement phase manager
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/phase_manager.py
  src/ethereum_test_types/tests/test_phase_manager.py
  src/ethereum_test_types/transaction_types.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix: update transaction phase handling
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_types/tests/test_phase_manager.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/transaction_types.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

add xen share test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

fix failing test
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix
  src/ethereum_test_rpc/rpc_types.py
Due: tox

fix (#2298)
  src/ethereum_test_rpc/rpc_types.py
Due: tox

chore: pr review comments.
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

chore: fix evmone filling.
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

Apply suggestions from code review
  docs/CHANGELOG.md
  src/ethereum_clis/transition_tool.py
Due: tox, tox-docs, tox-changelog

fix(fill): pass resolved blobParams and non-bpo fork to t8n
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(fill): pass entire config containing blobSchedule instead
  docs/CHANGELOG.md
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/transition_tool.py
Due: tox, tox-docs, tox-changelog

chore: alternative fix evmone filling.
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

feat(fill): pass blobSchedule into t8n binary
  docs/CHANGELOG.md
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/transition_tool.py
Due: tox, tox-docs, tox-changelog

fix(fill): Fix `evmone` filling EIP-7825
  src/ethereum_clis/clis/evmone.py
Due: tox

initial spec test checklist
  tests/amsterdam/eip7805_forkchoice_enforced_inclusion_lists/test_cases.md
Due: tox-docs

feat(fill, execute): track execution & setup testing phase (#2157)
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/phase_manager.py
  src/ethereum_test_types/tests/test_phase_manager.py
  src/ethereum_test_types/transaction_types.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix(FOCIL): typos
  tests/amsterdam/eip7805_forkchoice_enforced_inclusion_lists/test_cases.md
Due: tox-docs

chore(cli): update max fee per blob gas limit for reth exception mapper
  src/ethereum_clis/clis/reth.py
Due: tox

fix(rpc): Always set data on JSONRPCError, even if None
  src/ethereum_test_rpc/rpc_types.py
Due: tox

fix(rpc): Always set data on JSONRPCError, even if None (#2301)
  src/ethereum_test_rpc/rpc_types.py
Due: tox

feat(fill): pass blobParams into t8n binary (#2264)
  docs/CHANGELOG.md
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_forks/base_fork.py
Due: tox, tox-docs, tox-changelog

chore(cli): update max fee per blob gas limit for reth exception mapper (#2300)
  src/ethereum_clis/clis/reth.py
Due: tox

feat(benchmark): add parametrized contract count and stub filtering to single-opcode tests
  tests/benchmark/stateful/bloatnet/README.md
  tests/benchmark/stateful/bloatnet/test_single_opcode.py
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
  tox-changelog: any of: ^docs/CHANGELOG\.md$
