Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

fix(execute): Incorrect returned value
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

feat(execute): Add network gas multiplier
  src/pytest_plugins/execute/execute.py
Due: tox

stop spam printing fork names with -s (part of fixes for issue #1512)
  src/ethereum_test_specs/static_state/expect_section.py
Due: tox

updated dependencies
  pyproject.toml
  uv.lock
Due: none

avoid ever using different solc version than specified, also don't try to use solc-select to install solc on arm linux, issue #1512
  src/pytest_plugins/solc/solc.py
Due: tox

multistring improvement
  src/pytest_plugins/solc/solc.py
Due: tox

new(tests): EOF - TXCREATE executes validation (#1476)
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_validates.py
Due: tox

enable blockchain test converted coverage support (#1554)
  .github/workflows/coverage.yaml
Due: none

chore: bump prague to stable.
  .github/configs/feature.yaml
Due: none

chore: add temp osaka eels resolution.
  eels_resolutions.json
Due: none

docs: update changelog.
  docs/CHANGELOG.md
Due: tox-docs

feat(tests): eip-5920 pay opcode basic cases.
  eels_resolutions.json
  src/ethereum_test_vm/opcode.py
  tests/speculative/eip5920_pay_opcode/__init__.py
  tests/speculative/eip5920_pay_opcode/spec.py
  tests/speculative/eip5920_pay_opcode/test_pay_opcode.py
Due: tox

chore: add temp pay opcode eels resolution.
  eels_resolutions.json
Due: none

fix(tests): Make test run with both tx types
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
Due: tox

port intrinsic transaction gas tests from Ori
  converted-ethereum-tests.txt
  tests/berlin/eip2930_access_list/spec.py
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  tests/static/state_tests/stEIP1559/intrinsicCancunFiller.yml
  tests/static/state_tests/stEIP1559/intrinsicGenCancun.js
Due: tox

zkvm: full bytecode attack enabling
  src/ethereum_test_specs/blockchain.py
  tests/zkevm/test_worst_bytecode.py
Due: tox

zkevm: more precompiles
  tests/zkevm/test_worst_compute.py
Due: tox

t8n version check changed from -v to --version for nethtest compatibility
  src/ethereum_clis/ethereum_cli.py
Due: tox

improve params format
  tests/zkevm/test_worst_compute.py
Due: tox

improve parameters
  tests/zkevm/test_worst_compute.py
Due: tox

add bls12_g1msm
  tests/zkevm/test_worst_compute.py
Due: tox

add bls12_g2msm
  tests/zkevm/test_worst_compute.py
Due: tox

add blas12 pairing check
  tests/zkevm/test_worst_compute.py
Due: tox

add bls_map tests
  tests/zkevm/test_worst_compute.py
Due: tox

add optional field to exclude including postState
  src/ethereum_test_specs/blockchain.py
Due: tox

feat(tests): converting calldataload and calldatasize tests (#1236)
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  tests/frontier/opcodes/test_calldataload.py
  tests/frontier/opcodes/test_calldatasize.py
  tests/homestead/coverage/test_coverage.py
  tests/static/state_tests/VMTests/vmTests/calldataloadFiller.yml
  tests/static/state_tests/VMTests/vmTests/calldatasizeFiller.yml
Due: tox, tox-docs

feat(tests): start basic eip-7883 cases.
  eels_resolutions.json
  tests/osaka/eip7883_modexp_gas_increase/__init__.py
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  whitelist.txt
Due: tox

Fix merge mistake
  tests/zkevm/test_worst_compute.py
Due: tox

Test some jump scenarios + baseline; log resource utilization[
  tests/zkevm/test_worst_compute.py
  tests/zkevm/utilization_summary.log
Due: tox

20% more jumps over reference ``` REFERENCE JUMPS 24576/24576 (100.00%) 69632/35979000 ( 0.19%) 6 4096 MANY JUMPS 24575/24576 (100.00%) 58980/35979000 ( 0.16%) 5 4915 ```
  tests/zkevm/test_worst_compute.py
  tests/zkevm/utilization_summary.log
Due: tox

Update src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

Remove reference test
  tests/zkevm/test_worst_compute.py
Due: tox

fix(exceptions): Add `INTRINSIC_GAS_BELOW_FLOOR_GAS_COST`
  src/ethereum_test_exceptions/exceptions.py
Due: tox

fix(tests): EIP-7623: Update expected exception to account for data-floor exceptions
  tests/prague/eip7623_increase_calldata_cost/conftest.py
Due: tox

fix(clis/all): Update exception mappers
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
Due: tox

docs: CHANGELOG
  docs/CHANGELOG.md
Due: tox-docs

More test vectors
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Add more encoding tests
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs
