Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

fix(fixtures,consume): Error checking
  src/ethereum_test_fixtures/payload_building.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

more geth tests
  tests/prague/eip7702_set_code_tx/test_payload_building.py
Due: tox

fix(fixtures,spec): None as default for post
  src/ethereum_test_fixtures/payload_building.py
  src/ethereum_test_specs/payload_building.py
Due: tox

fix(specs): Payload building id
  src/ethereum_test_specs/payload_building.py
Due: tox

geth tests 1
  tests/prague/eip7702_set_code_tx/test_payload_building.py
Due: tox

refactor(tests): re-write test parametrization to avoid skipping invalid parameter sets (#1170)
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore(tooling): update `uv.lock` cf #1176
  uv.lock
Due: none

docs(tooling): add `uv>=0.5.22` requirement
  docs/getting_started/installation.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

📄 docs: Reframed legacy to original
  docs/dev/porting_legacy_tests.md
  docs/img/original-coverage-loss.png
Due: tox-docs

🥢 nit: Format
  docs/dev/porting_legacy_tests.md
Due: tox-docs

chore(tooling): update `uv.lock` for compatibility with `uv>=0.5.22` (#1178)
  docs/CHANGELOG.md
  docs/getting_started/installation.md
  uv.lock
Due: tox-docs

fix,docs(tooling): remove unsupported vscode config file; update docs
  .vscode/settings.local.recommended.json
  docs/getting_started/img/vscode_extension_disable_for_workspace.png
  docs/getting_started/setup_vs_code.md
  docs/writing_tests/code_standards.md
  whitelist.txt
Due: tox-docs

chore: add unwanted extensions extension.
  .vscode/extensions.json
  docs/getting_started/setup_vs_code.md
Due: tox-docs

chore(tooling): improve help for configuring vscode's testing view
  .vscode/settings.json
Due: none

chore(tooling): add config for pytest in python.testing
  .vscode/settings.json
Due: none

docs(consume): add consume command documentation (#1147)
  docs/consuming_tests/consume_command.md
Due: tox-docs

docs(fill): minor improvements
  docs/filling_tests/test_ids.md
  docs/navigation.md
Due: tox-docs

fix(tooling),docs: fix markdownlint ul tab indent config
  .markdownlint.yaml
  docs/CHANGELOG.md
  docs/consuming_tests/consume/consume_command.md
  docs/filling_tests/test_ids.md
Due: tox-docs

Apply suggestions from code review
  docs/filling_tests/test_ids.md
Due: tox-docs

docs(consume): re-structure pages into subsections
  docs/consuming_tests/consume/consume_command.md
  docs/consuming_tests/consume/index.md
  docs/consuming_tests/index.md
  docs/consuming_tests/test_formats/blockchain_test.md
  docs/consuming_tests/test_formats/blockchain_test_engine.md
  docs/consuming_tests/test_formats/common_types.md
  docs/consuming_tests/test_formats/eof_test.md
  docs/consuming_tests/test_formats/exceptions.md
  docs/consuming_tests/test_formats/index.md
  docs/consuming_tests/test_formats/state_test.md
  docs/consuming_tests/test_formats/transaction_test.md
  docs/navigation.md
  docs/writing_tests/exception_tests.md
  docs/writing_tests/tutorials/state_transition.md
  whitelist.txt
Due: tox-docs

docs(fill): add an explanation of test ids
  docs/filling_tests/test_ids.md
  docs/navigation.md
  whitelist.txt
Due: tox-docs

chore,docs(tooling): remove unsupported vscode config file (#1054)
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/settings.local.recommended.json
  docs/getting_started/img/vscode_extension_disable_for_workspace.png
  docs/getting_started/setup_vs_code.md
  docs/writing_tests/code_standards.md
  whitelist.txt
Due: tox-docs

chore(tooling): soften ethereum-rlp dependency spec
  pyproject.toml
  uv.lock
Due: none

refactor(fw): use ethereum-rlp instead of ethereum.rlp
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_types/types.py
Due: tox

refactor(fw): use ethereum-rlp instead of ethereum.rlp, part ii
  src/ethereum_test_types/helpers.py
Due: tox

refactor(fw): use `ethereum-rlp` instead of `ethereum.rlp` (#1180)
  pyproject.toml
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/types.py
  uv.lock
Due: tox

chore(tests,deps): bump execution-specs version to current master ref
  .github/workflows/tox_verify.yaml
  eels_resolutions.json
Due: none

chore(fw,deps): bump execution-specs version to current master ref
  pyproject.toml
  uv.lock
Due: none

fix(fw): adapt typing for `frontier.state.set_storage`
  src/ethereum_test_types/types.py
Due: tox

chore(tooling): update `execution-specs` version to `99238233` (#1181)
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  eels_resolutions.json
  pyproject.toml
  src/ethereum_test_types/types.py
  uv.lock
Due: tox, tox-docs

new(tests): add tests for DATALOADN validation and execution
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF: add tests for DATALOADN validation and execution (#1162)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

feat(consume): Add `consume cache` and `--release` flag
  pytest-framework.ini
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/releases.py
  src/pytest_plugins/consume/test_cache.py
  src/pytest_plugins/consume/tests/__init__.py
  src/pytest_plugins/consume/tests/release_information.json
  src/pytest_plugins/consume/tests/test_releases.py
  whitelist.txt
Due: tox

fix: Reduce github api check time
  src/pytest_plugins/consume/releases.py
Due: tox

fix: tox
  pytest-framework.ini
  src/pytest_plugins/consume/releases.py
Due: tox

uv.lock: update
  uv.lock
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
