Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

Add gas refunds category
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Add asymetrical stack tests
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

docs: Add post-mortems
  docs/navigation.md
  docs/writing_tests/post_mortems.md
Due: tox-docs

changes: Precompiles
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

nit
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

docs: Add first checklist templates
  docs/checklist_templates/eip_testing_checklist_template.md
  docs/checklist_templates/index.md
Due: tox-docs

More review comments
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

changes: System contracts
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Add some IDs
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Add more serialization items
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

More changes
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

fix(github): Add the post-mortem docs to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

More cases
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Add serialization items
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

changes: Add (incomplete) transaction tests
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

fix: Remove references to EOF
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

change gas limit setups
  tests/zkevm/test_worst_bytecode.py
Due: tox

switch to not including postState field
  src/ethereum_test_specs/blockchain.py
Due: tox

fix(tests): EIP-7702: use contract code to get blocknumber instead of rpc
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/filler/pre_alloc.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

lints
  src/ethereum_test_specs/blockchain.py
Due: tox

fix: Review comments
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

60M gas in jumps
  tests/zkevm/test_worst_compute.py
Due: tox

Fix formatter
  tests/zkevm/test_worst_compute.py
Due: tox

Add gas tests
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Simplify bullet points
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

fix(docs): tox
  docs/checklist_templates/eip_testing_checklist_template.md
  docs/checklist_templates/index.md
  docs/writing_tests/post_mortems.md
  whitelist.txt
Due: tox-docs

Mark test slow
  tests/zkevm/test_worst_compute.py
Due: tox

Add more ids
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

fix: tox
  whitelist.txt
Due: none

Optimize
  tests/zkevm/test_worst_compute.py
Due: tox

Fix broken link to test_contract_creating_tx example
  docs/writing_tests/exception_tests.md
Due: tox-docs

WIP
  src/cli/gen_index.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/__init__.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/plugin.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/shared_client.py
  src/pytest_plugins/consume/hive_simulators/shared_client_proxy.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

add converted test marker to pytest with a link to original legacy test source
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/opcodes/test_all_opcodes.py
  tests/frontier/opcodes/test_calldatacopy.py
  tests/frontier/opcodes/test_calldataload.py
  tests/frontier/opcodes/test_calldatasize.py
  tests/frontier/opcodes/test_push.py
  tests/frontier/precompiles/test_precompiles.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

fix(tests): EIP-7702: use penultimate block number instead of fixing block 0 (#1390)
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(tests): port intrinsic transaction gas tests from Ori (#1535)
  converted-ethereum-tests.txt
  tests/berlin/eip2930_access_list/spec.py
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  tests/static/state_tests/stEIP1559/intrinsicCancunFiller.yml
  tests/static/state_tests/stEIP1559/intrinsicGenCancun.js
Due: tox

format with ruff
  src/ethereum_test_forks/forks/forks.py
  tests/frontier/scenarios/__init__.py
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/programs/__init__.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/invalid_opcodes.py
  tests/frontier/scenarios/programs/static_violation.py
  tests/frontier/scenarios/scenarios/__init__.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox
