Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

chore(tests): update modexp eip-7883 vectors.
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
Due: tox

chore(tooling): bump uv.lock revision back from 1 to 2
  uv.lock
Due: none

style: autoformat pyproject.toml
  pyproject.toml
Due: none

chore(tooling): enforce min uv version in pyproject.toml
  pyproject.toml
Due: none

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

improved navigation
  docs/content/main/dev_docs/main.md
  docs/content/main/filling_tests/main.md
  docs/content/main/getting_started/main.md
  docs/content/main/main.md
  docs/content/main/running_tests/consume/main.md
  docs/content/main/running_tests/execute/main.md
  docs/content/main/running_tests/hive/main.md
  docs/content/main/running_tests/main.md
  docs/content/main/running_tests/test_formats/main.md
  docs/content/main/writing_tests/checklist_templates/main.md
  docs/content/main/writing_tests/main.md
  docs/content/main/writing_tests/tutorials/main.md
  docs/hugo.toml
  docs/public/index.xml
  docs/public/main/dev_docs/index.xml
  docs/public/main/index.xml
  docs/public/sitemap.xml
Due: tox-docs

docs(tooling): bump required `uv` version in docs
  docs/dev/deps_and_packaging.md
  docs/getting_started/installation.md
Due: tox-docs

started fixing sidebar names
  docs/content/main/changelog_section_template.txt
  docs/content/main/filling_tests/debugging_t8n_tools.md
  docs/content/main/filling_tests/filling_tests_command_line.md
  docs/content/main/filling_tests/filling_tests_dev_fork.md
  docs/content/main/filling_tests/filling_tests_vs_code.md
  docs/content/main/filling_tests/getting_started.md
  docs/content/main/filling_tests/test_ids.md
  docs/content/main/filling_tests/transition_tool_support.md
  docs/content/main/getting_started/code_standards.md
  docs/content/main/getting_started/code_standards_details.md
  docs/content/main/getting_started/getting_help.md
  docs/content/main/getting_started/installation_troubleshooting.md
  docs/content/main/getting_started/repository_overview.md
  docs/content/main/getting_started/setup_vs_code.md
  docs/content/main/navigation.md
  docs/public/main/changelog_section_template.txt
  docs/public/main/index.xml
Due: tox-docs

chore(tooling,deps): require minimum `uv` version (#1904)
  docs/CHANGELOG.md
  docs/dev/deps_and_packaging.md
  docs/getting_started/installation.md
  pyproject.toml
Due: tox-docs, tox-changelog

chore(tooling): bump uv.lock revision back from 1 to 2 (#1903)
  uv.lock
Due: none

chore(tooling): move config from pytest-framework.ini to pyproject.toml (#1898)
  CLAUDE.md
  pyproject.toml
  pytest-framework.ini
  tox.ini
Due: tox-docs

feat(fill): add `--generate-all-formats` to enable generation of `BlockhainEngineXFixture` with other formats (#1855)
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
  docs/running_tests/releases.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/pytest_commands/fill.py
  src/cli/tests/test_generate_all_formats.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/tests/test_generate_all_formats.py
Due: tox, tox-docs, tox-changelog

chore: bump prague to stable and osaka to develop.
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  tox.ini
Due: tox, tox-docs, tox-changelog

fix: Unit test response (eels includes invalid txs in trie root)
  src/ethereum_clis/tests/fixtures/1/exp.json
Due: none

chore: bump eels ref in github ci again.
  .github/configs/eels_resolutions.json
  src/pytest_plugins/eels_resolutions.json
Due: none

chore: fix `test_types` framework test.
  src/ethereum_test_types/tests/test_types.py
Due: tox

chore: update resolutions in github ci.
  .github/configs/eels_resolutions.json
Due: none

fix(clis/execution_specs): Update `TYPE_4_TX_PRE_FORK`
  src/ethereum_clis/clis/execution_specs.py
Due: tox

chore(ci): temp osaka eels res in config.
  .github/configs/eels_resolutions.json
Due: none

fix(types): Use ZeroPaddedHexNumber for block_hashes keys
  src/ethereum_test_types/block_types.py
Due: tox

chore: temp fix for BLS timeouts.
  src/ethereum_clis/transition_tool.py
Due: tox

chore: update eels in ci again.
  .github/configs/eels_resolutions.json
  src/pytest_plugins/eels_resolutions.json
Due: none

chore: bump eels ref in github ci.
  .github/workflows/tox_verify.yaml
Due: none

added files i forgor to commit
  docs/content/main/running_tests/releases.md
  docs/content/main/running_tests/running.md
  docs/content/main/running_tests/useful_pytest_options.md
Due: tox-docs

chore: more eels bumps.
  .github/configs/eels_resolutions.json
  .github/workflows/tox_verify.yaml
  pyproject.toml
  src/pytest_plugins/eels_resolutions.json
  uv.lock
Due: none

is this the last commit?
  .github/workflows/tox_verify.yaml
  pyproject.toml
  uv.lock
Due: none

refactor(consume): rename `conftest` to `single_test_client` plugin
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

fix(consume): add explicit plugin registration for simulator-specific configs
  src/cli/pytest_commands/processors.py
Due: tox

refactor(consume): split base functionality out to the `base` plugin
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

refactor(consume): move test execution files to shared hive_tests directory
  src/pytest_plugins/simulators/helpers/__init__.py
Due: tox

fix(consume): add `genesis_header` to `single_test_cilent` plugin
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

refactor(consume): split into separate plugins by functionality
  src/pytest_plugins/consume/simulators/exceptions.py
  src/pytest_plugins/consume/simulators/single_test_client.py
Due: tox

refactor(consume): move helper modules to a new `helpers` sub-package
  src/pytest_plugins/consume/simulators/exceptions.py
Due: tox

refactor(consume): rename `hive_simulators` to `simulators`.
  src/pytest_plugins/consume/simulators/exceptions.py
  src/pytest_plugins/simulators/helpers/__init__.py
Due: tox

feat(consume): add initial implementation of consume enginex
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/simulators/engine_reorg/__init__.py
  src/pytest_plugins/consume/simulators/engine_reorg/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

fix(consume): update according to renaming in #1760
  src/pytest_plugins/consume/simulators/engine_reorg/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

refactor(consume): rename & simplify consume enginex command
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
  whitelist.txt
Due: tox
