Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

feat(tests): EIP-7934 - block rlp size limit test cases (#1730)
  docs/CHANGELOG.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/helpers.py
  tests/osaka/eip7934_block_rlp_limit/__init__.py
  tests/osaka/eip7934_block_rlp_limit/conftest.py
  tests/osaka/eip7934_block_rlp_limit/spec.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox, tox-docs

feat(zkevm/test): add worst case test for multiple DUP opcodes (#1767)
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(tests): update `MSIZE` and `SELFBALANCE` benchmark test (#1771)
  tests/zkevm/helpers.py
  tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

feat(tests): add worst case tests for PUSH opcodes
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(tests): simplify push opcode parameterization
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(tests): use dynamic max stack height
  tests/zkevm/test_worst_compute.py
Due: tox

feat(tests): add benchmark for the worst initcode jumpdest analysis (#1646)
  tests/zkevm/test_worst_bytecode.py
Due: tox

fix(tests): Test using incorrect keyword argument
  tests/frontier/identity_precompile/test_identity_returndatasize.py
  tests/frontier/precompiles/test_precompiles.py
Due: tox

fix(tests): Add coverage missing reasons
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/create/test_create_one_byte.py
Due: tox

feat(tests): add worst case tests for PUSH opcodes (#1762)
  tests/zkevm/test_worst_compute.py
Due: tox

chore: updates for fusaka devnet 2 release.
  .github/configs/feature.yaml
  eels_resolutions.json
  pyproject.toml
  uv.lock
Due: none

feat(forks|tests): eip-7918 initial tests plus eip-4844 adjustments.
  docs/CHANGELOG.md
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
  tests/osaka/eip7918_blob_reserve_price/__init__.py
  tests/osaka/eip7918_blob_reserve_price/conftest.py
  tests/osaka/eip7918_blob_reserve_price/spec.py
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee.py
Due: tox, tox-docs

chore(tests): extra param and docstring tweak.
  tests/osaka/eip7918_blob_reserve_price/conftest.py
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee.py
Due: tox

feat(tests): EIP-7918 - Blob base fee bounded by execution cost (#1685)
  docs/CHANGELOG.md
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
  tests/osaka/eip7918_blob_reserve_price/__init__.py
  tests/osaka/eip7918_blob_reserve_price/conftest.py
  tests/osaka/eip7918_blob_reserve_price/spec.py
  tests/osaka/eip7918_blob_reserve_price/test_blob_base_fee.py
Due: tox, tox-docs

chore: bump fill params.
  .github/configs/feature.yaml
Due: none

chore: updates for fusaka devnet 2 release (#1774)
  .github/configs/feature.yaml
  eels_resolutions.json
  pyproject.toml
  uv.lock
Due: none

chore: updates for fusaka devnet 2 release.
  .github/configs/feature.yaml
  eels_resolutions.json
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7918_blob_reserve_price/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(forks): Add large_contract_access_gas_calculator, large_contract_size methods
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests): EIP-3860 tests
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

feat(consume): append enginexfixture pre_hash field to testid if available
  src/pytest_plugins/consume/consume.py
Due: tox

fix(consume): explicitly depend on hive_test fixture for result propagation
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
Due: tox

feat(consume): create pre_hash subgroups w/max size for better xdist balancing
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/simulators/enginex/conftest.py
Due: tox

fix(consume): recognize `--enginex-max-group-size` option in consume.consume
  src/pytest_plugins/consume/consume.py
Due: tox

chore: revert blob base cost change.
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7918_blob_reserve_price/spec.py
Due: tox

chore: bump eels.
  eels_resolutions.json
Due: none

chore(forks|tests): fixes/updates for initcode cases.
  eels_resolutions.json
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/helpers.py
  tests/shanghai/eip3860_initcode/spec.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore(docs): changelog for initcode changes.
  docs/CHANGELOG.md
Due: tox-docs

chore(tests): fix tox.
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore: add initcode tests.
  .github/configs/feature.yaml
Due: none

Base template
  tests/osaka/eip7907_meter_contract_code_size/test_meter_contract_code_size.py
Due: tox

initial tests for 7907
  tests/osaka/eip7907_meter_contract_code_size/test_meter_contract_code_size.py
Due: tox

more tests
  tests/osaka/eip7907_meter_contract_code_size/test_meter_contract_code_size.py
Due: tox

fix(tools): CodeGasMeasure accepts bytecode as sstore_key
  src/ethereum_test_tools/code/generators.py
Due: tox
