Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
  language: system
  pass_filenames: false

tox-changelog:
  name: tox-changelog
  entry: uvx --with=tox-uv tox -e changelog
  language: system
  pass_filenames: false

🧹 chore(EIP-7928): Rename package
  tests/unscheduled/eip7928_block_level_access_lists/__init__.py
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

✨ feat(EIP-7928): Test cases
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

✨ feat(EIP-7928): Spec params
  tests/unscheduled/eip7928_block-level_access_lists/spec.py
Due: tox

🚧 wip(EIP-7928): Block-level Access Lists
  tests/unscheduled/eip7928_block-level_access_lists/__init__.py
Due: tox

use the gas limit from the environment
  tests/benchmark/test_bloatnet.py
Due: tox

✨ feat(EIP-7928): Add BAL header
  pyproject.toml
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/pytest_plugins/eels_resolutions.json
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

🧹 chore(EIP-7928): bal_hash header
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/block_types.py
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
Due: tox

🚧 wip: Checklist and basic tests
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox, tox-docs

🧹 chore: Populate bal_hash env
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_types.py
Due: tox

✨ feat(EIP-7928): Add pokebal package
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

✨ feat(EIP-7928): Add BAL to block body
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

✨ feat: update env
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_types.py
Due: tox

Add more sophisticated test cases (#2029)
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

🧹 chore: scope
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

WIP: Attempt to get EEST + EELS bals PRs talking to each other
  pyproject.toml
  src/ethereum_clis/types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/block_access_list.py
  tests/osaka/eip7928_block_level_access_lists/__init__.py
  tests/osaka/eip7928_block_level_access_lists/checklist.md
  tests/osaka/eip7928_block_level_access_lists/spec.py
  tests/osaka/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
  uv.lock
Due: tox, tox-docs

refactor(bal): Use full bal in t8n; verify and build fixtures
  src/ethereum_clis/types.py
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list.py
  tests/osaka/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

fix(tests,lint): Set up code changes test case; fix remaining lint issues
  tests/osaka/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

chore(lint): Fix lint issues, assign method to Frontier to be overridden
  src/ethereum_test_forks/forks/forks.py
Due: tox

refactor(forks): move BAL tests to Amsterdam
  src/ethereum_test_forks/forks/forks.py
  tests/amsterdam/eip7928_block_level_access_lists/__init__.py
  tests/amsterdam/eip7928_block_level_access_lists/checklist.md
  tests/amsterdam/eip7928_block_level_access_lists/spec.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox, tox-docs

chore: Fix CI lint issues not present locally
  src/ethereum_test_types/block_access_list.py
Due: tox

refactor(bal): Apply comments from first pass at PR
  src/ethereum_test_types/block_access_list.py
Due: tox

feat(tests): enhance eip7825 test coverage for checklist (#2034)
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
  tests/osaka/eip7825_transaction_gas_limit_cap/spec.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit_transition_fork.py
Due: tox

refactor(rpc): Small changes
  src/ethereum_test_rpc/rpc.py
Due: tox

fix(rpc): Allow specifying a namespace for RPC subclasses
  src/ethereum_test_rpc/rpc.py
Due: tox

feat(rpc): Allow EngineRPC to have a custom jwt secret
  src/ethereum_test_rpc/rpc.py
Due: tox

feat(execute): Allow to specify an Engine RPC endpoint to drive the chain
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-hive.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute.ini
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/rpc/chain_builder_eth_rpc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
Due: tox

docs: Update `docs/running_tests/execute/remote.md`
  docs/running_tests/execute/remote.md
Due: tox-docs

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

chore(ci): add fusaka devnet 5 feature.
  .github/configs/feature.yaml
Due: none

chore: PR feedback cleanup
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(execute): Implement contract address stubs
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/tests/__init__.py
  src/pytest_plugins/execute/tests/test_pre_alloc.py
Due: tox

docs: Add documentation
  docs/CHANGELOG.md
  docs/running_tests/execute/remote.md
Due: tox-docs, tox-changelog

fix: Changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

fix: docs tox
  docs/running_tests/execute/remote.md
Due: tox-docs

refactor(bal): Split BAL into two classes
  src/ethereum_clis/types.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/block_access_list.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

feat(forks): Add methods for base fee calculations
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests): Use `fork` methods, fix BPO4 tests
  tests/osaka/eip7918_blob_reserve_price/test_blob_reserve_price_with_bpo_transitions.py
Due: tox

fix(tests): Use `fork` more methods
  tests/osaka/eip7918_blob_reserve_price/test_blob_reserve_price_with_bpo_transitions.py
Due: tox

chore(tests): use relative imports in tests
  tests/benchmark/test_worst_bytecode.py
Due: tox

better pytest integration, still WIP
  src/pytest_plugins/execute/eth_config/eth_config.py
  src/pytest_plugins/execute/eth_config/execute_eth_config.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
  tox-changelog: any of: ^docs/CHANGELOG\.md$
