Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

fix(consume): Register client with test
  src/pytest_plugins/consume/simulators/multi_test_client.py
Due: tox

feat(consume): track tests by pre-alloc group for client cleanup
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/client_wrapper.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/multi_test_client.py
Due: tox

feat(consume): add `--enginex-fcu-frequency` option
  src/pytest_plugins/consume/simulators/enginex/conftest.py
  src/pytest_plugins/consume/simulators/helpers/test_tracker.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Due: tox

fix(clis/besu): blob allowance exception mapper (#2089)
  src/ethereum_clis/clis/besu.py
Due: tox

feat(execute): Check chain ID on `execute remote`
  src/pytest_plugins/execute/rpc/remote.py
Due: tox

fix(execute): Fail earlier if no JWT secret was provided
  src/pytest_plugins/execute/rpc/remote.py
Due: tox

feat(types,plugins): Add `ChainConfig` to make chain configuration accessible to tests (#2084)
  src/ethereum_test_specs/static_state/state_static.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/chain_config_types.py
  src/ethereum_test_types/transaction_types.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
  src/pytest_plugins/filler/tests/test_output_directory.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/transaction_fixtures.py
  tests/berlin/eip2930_access_list/test_acl.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Due: tox

doc: update benchmark cases
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

fix: update benchmark command
  docs/templates/base.md.j2
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
Due: tox

revert rpc changes, adjust test to 'try .. except'
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/eth_config/execute_eth_config.py
Due: tox

chore(tests): remove duplicate iteration count.
  tests/osaka/eip7883_modexp_gas_increase/spec.py
Due: tox

chore(ci): add fusaka devnet 6 feature.
  .github/configs/feature.yaml
Due: none

refactor(tests): Proposed patch for bloatnet SSTORE tests (#1)
  tests/benchmark/test_bloatnet.py
Due: tox

mandatory linter issue fix
  tests/benchmark/test_bloatnet.py
Due: tox

feat(tests) update test_chainid.py to run type 3 transaction in execute mode
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

Update docs/writing_tests/writing_a_new_test.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

Apply suggestions from code review
  src/ethereum_test_rpc/rpc.py
Due: tox

Add more sophisticated test cases (#2029)
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

✨ feat(EIP-7928): Test cases
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

🚧 wip(EIP-7928): Block-level Access Lists
  tests/unscheduled/eip7928_block-level_access_lists/__init__.py
Due: tox

🧹 chore(EIP-7928): Rename package
  tests/unscheduled/eip7928_block_level_access_lists/__init__.py
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

✨ feat(EIP-7928): Add BAL to block body
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

🚧 wip: Checklist and basic tests
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox, tox-docs

🧹 chore: Populate bal_hash env
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_types.py
Due: tox

✨ feat: update env
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_types.py
Due: tox

✨ feat(EIP-7928): Add pokebal package
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

✨ feat(EIP-7928): Spec params
  tests/unscheduled/eip7928_block-level_access_lists/spec.py
Due: tox

🧹 chore: scope
  tests/unscheduled/eip7928_block_level_access_lists/checklist.md
Due: tox-docs

✨ feat(EIP-7928): Add BAL header
  pyproject.toml
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/pytest_plugins/eels_resolutions.json
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
Due: tox

🧹 chore(EIP-7928): bal_hash header
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/block_types.py
  tests/unscheduled/eip7928_block_level_access_lists/spec.py
Due: tox

WIP: Attempt to get EEST + EELS bals PRs talking to each other
  pyproject.toml
  src/ethereum_clis/types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/block_access_list.py
  tests/osaka/eip7928_block_level_access_lists/__init__.py
  tests/osaka/eip7928_block_level_access_lists/checklist.md
  tests/osaka/eip7928_block_level_access_lists/spec.py
  tests/osaka/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/unscheduled/eip7928_block_level_access_lists/test_validate_bal.py
  uv.lock
Due: tox, tox-docs

refactor(bal): Apply comments from first pass at PR
  src/ethereum_test_types/block_access_list.py
Due: tox

refactor(bal): Use full bal in t8n; verify and build fixtures
  src/ethereum_clis/types.py
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list.py
  tests/osaka/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

chore(lint): Fix lint issues, assign method to Frontier to be overridden
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests,lint): Set up code changes test case; fix remaining lint issues
  tests/osaka/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

refactor(forks): move BAL tests to Amsterdam
  src/ethereum_test_forks/forks/forks.py
  tests/amsterdam/eip7928_block_level_access_lists/__init__.py
  tests/amsterdam/eip7928_block_level_access_lists/checklist.md
  tests/amsterdam/eip7928_block_level_access_lists/spec.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox, tox-docs

chore: Fix CI lint issues not present locally
  src/ethereum_test_types/block_access_list.py
Due: tox

refactor(bal): Split BAL into two classes
  src/ethereum_clis/types.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/block_access_list.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

refactor(tests): Rename checklist.md -> test_cases.md for BAL test case tracking
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs
