Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

new(tests): CALLF with truncated immediate bytes (#1114)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): add one more CALLF execution test
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Due: tox

feat(plugins/filler): Add `--skip-index` flag
  src/cli/pytest_commands/fill.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

fix(docs): test case generation, add `--skip-index` flag
  docs/gen_test_case_reference.py
Due: tox

new(tests): DATALOADN with truncated immediate bytes
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(github): Add `--skip-evm-dump` to `build-fixtures/action.yaml`
  .github/actions/build-fixtures/action.yaml
Due: none

fix(tests): EIP-7702: Spec update #9248
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

fix(github): Add `--skip-evm-dump` to `build-fixtures/action.yaml` (#1128)
  .github/actions/build-fixtures/action.yaml
Due: none

chore(fill): remove `--index` flag; it has no effect
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

test(fill): remove unnecessary test parameter
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

refactor(fill): group variable definitions for readability
  src/pytest_plugins/filler/filler.py
Due: tox

new(tests): add one more CALLF execution test (#1122)
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Due: tox

chore(evm): use correct exception message for besu (#1121)
  src/ethereum_clis/clis/besu.py
Due: tox

new(tests): test for CALLF to non-returning section
  converted-ethereum-tests.txt
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

export fork and chain id fixture config
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

fix unit tests
  src/cli/check_fixtures.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/tests/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_invalid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_valid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
Due: tox

feat(fw): also test system contract deployments with balance
  src/ethereum_test_tools/utility/generators.py
Due: tox

new(tests): test for CALLF to non-returning section (#1126)
  converted-ethereum-tests.txt
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): DATALOADN with truncated immediate bytes (#1127)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(plugins/consume-engine): Fix Engine API error check
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

fix(plugins/consume-engine): Fix Engine API error check (#1133)
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

feat(fw): also test system contract deployments with balance (#1132)
  src/ethereum_test_tools/utility/generators.py
Due: tox

refactor,test(fill): suggestions for `x-dist-mode-fixture-collector` #1118 (#1130)
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

Append _info metadata, if any, when filling tests:
  docs/CHANGELOG.md
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_base_types/reference_spec/git_reference_spec.py
  src/ethereum_test_base_types/reference_spec/reference_spec.py
  src/ethereum_test_fixtures/base.py
  src/pytest_plugins/filler/filler.py
Due: tox, tox-docs

fix(plugins/consume): Add `HIVE_TERMINAL_TOTAL_DIFFICULTY` to all pre-merge rulesets
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

fix(plugins/consume): Change value
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

fix: linting, tests
  src/ethereum_test_vm/bytecode.py
  src/ethereum_test_vm/tests/test_vm.py
Due: tox

feat(fw): allow adding verbatim bytes to Bytecode (#1119)
  src/ethereum_test_vm/bytecode.py
  src/ethereum_test_vm/tests/test_vm.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
Due: tox

Update LICENSE
  LICENSE
Due: none

fix(tests): fix unit tests and use Bytecode verbatim
  src/ethereum_test_vm/tests/test_vm.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
Due: tox

fix(tests): fix unit tests and use Bytecode verbatim (#1137)
  src/ethereum_test_vm/tests/test_vm.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
Due: tox

feat(fill): improve performance when xdist is enabled (#1118)
  docs/CHANGELOG.md
  docs/gen_test_case_reference.py
  pytest.ini
  src/cli/pytest_commands/fill.py
  src/ethereum_test_fixtures/file.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
  stubs/xdist/__init__.pyi
  stubs/xdist/methods.pyi
Due: tox, tox-docs

chore(docs): update copyright year in LICENSE (#1136)
  LICENSE
Due: none

fix(tests): raise `InvalidParams` for requests shorter than 1 byte
  tests/prague/eip7685_general_purpose_el_requests/test_request_types.py
Due: tox

fix(consume/engine): check client raises api error if expected
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

fix(consume/engine): check client raises api error if expected (#1139)
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

refactor(tests): EIP-7685: Add invalid cases
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

refactor(tests): EIP-7685: Remove redundant `test_request_types.py`, remove unused fixtures
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_request_types.py
Due: tox

small comment
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
