Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

Update tests/frontier/scenarios/scenarios/double_call_combinations.py
  tests/frontier/scenarios/scenarios/double_call_combinations.py
Due: tox

feat(tests): Scenarios double call (#1606)
  converted-ethereum-tests.txt
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/double_call_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
  tests/static/state_tests/stSelfBalance/diffPlacesFiller.yml
Due: tox

Apply suggestions from code review
  docs/CHANGELOG.md
Due: tox-docs

fix(fill): insist `fill`'s output directory is empty or doesn't exist (#1608)
  docs/CHANGELOG.md
  src/cli/gentest/tests/test_cli.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/tests/test_output_directory.py
  tox.ini
Due: tox, tox-docs

make test scenarios execute compatible
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox

fix lint errors
  src/ethereum_clis/clis/ethrex.py
  src/pytest_plugins/consume/hive_simulators/exceptions.py
Due: tox

feat(vm): Implement `MemoryVariable`
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_vm/__init__.py
  src/ethereum_test_vm/helpers.py
Due: tox, tox-docs

refactor(tests): Use MemoryVariable in tests/frontier/scenarios/common.py
  tests/frontier/scenarios/common.py
Due: tox

apply ruff format
  src/ethereum_clis/clis/ethrex.py
Due: tox

fix
  src/ethereum_clis/clis/ethrex.py
Due: tox

fix(plugins/static_filler): Fix static test filling in pytest 8
  src/pytest_plugins/filler/static_filler.py
Due: tox

fix(ci): Clean during coverage script
  .github/workflows/coverage.yaml
Due: none

fix
  .github/workflows/coverage.yaml
Due: none

Test jump and jumpdest
  tests/zkevm/test_worst_compute.py
Due: tox

test(fill): add a `CliRunner`-based test for `--collect-only`
  src/pytest_plugins/filler/tests/test_collect_only.py
Due: tox

fix(fill): evalute output options before returning if `--collect-only`
  src/pytest_plugins/filler/filler.py
Due: tox

added kzg functions for peerdas tests
  pyproject.toml
  tests/osaka/eip7594_peerdas/helper_functions.py
  tests/osaka/eip7594_peerdas/spec.py
  tests/osaka/eip7594_peerdas/trusted_setup.txt
  uv.lock
  whitelist.txt
Due: tox

convert Create first byte loop filler
  converted-ethereum-tests.txt
  tests/frontier/create/__init__.py
  tests/frontier/create/test_create_one_byte.py
  tests/static/state_tests/stCreateTest/CREATE_FirstByte_loopFiller.yml
Due: tox

added class to help with static blob generation
  tests/osaka/eip7594_peerdas/helper_functions.py
Due: tox

fix(fill): fix `--collect-only` after introducing `FixtureOutput` class (#1612)
  docs/CHANGELOG.md
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_collect_only.py
Due: tox, tox-docs

fix(ci): Clean during coverage script (#1610)
  .github/workflows/coverage.yaml
Due: none

fix: move mappings to regex
  src/ethereum_clis/clis/ethrex.py
Due: tox

review feedback
  tests/zkevm/test_worst_compute.py
Due: tox

zkevm: add ECRECOVER, SHA2-256, IDENTITY and RIPEMD precompiles (#1524)
  tests/zkevm/test_worst_compute.py
Due: tox

zkevm: more precompiles
  tests/zkevm/test_worst_compute.py
Due: tox

improve params format
  tests/zkevm/test_worst_compute.py
Due: tox

add bls12_g1msm
  tests/zkevm/test_worst_compute.py
Due: tox

improve parameters
  tests/zkevm/test_worst_compute.py
Due: tox

add bls12_g2msm
  tests/zkevm/test_worst_compute.py
Due: tox

add bls_map tests
  tests/zkevm/test_worst_compute.py
Due: tox

add blas12 pairing check
  tests/zkevm/test_worst_compute.py
Due: tox

rebase & format
  tests/zkevm/test_worst_compute.py
Due: tox

remove input length parameter
  tests/zkevm/test_worst_compute.py
Due: tox

use bls12381 precompile addresses from spec and simplify parameter
  tests/zkevm/test_worst_compute.py
Due: tox

make the linter happy
  tests/zkevm/test_worst_compute.py
Due: tox

use symbolic parameters for bls12381 precompiles
  tests/zkevm/test_worst_compute.py
Due: tox

lints
  tests/zkevm/test_worst_compute.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
