Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

fix(tests): EIP-7883: Tox
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
Due: tox

fix(tests): EIP-7823: Tox
  tests/osaka/eip7823_modexp_upper_bounds/__init__.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
Due: tox

feat(github): Add osaka-devnet-0 feature
  .github/configs/feature.yaml
Due: none

eels_resolutions: Point Osaka to temp branch
  eels_resolutions.json
Due: none

fix(github): Rename feature
  .github/configs/feature.yaml
Due: none

fix: Add .venv/ to gitignore
  .gitignore
Due: none

docs(forks): add a page about the available fork methods (#1630)
  docs/navigation.md
  docs/writing_tests/fork_methods.md
  docs/writing_tests/index.md
  whitelist.txt
Due: tox-docs

fork is now passed as object, timestamp is part of filename, created static_blobs for all forks, fixed uv.lock
  pyproject.toml
  src/ethereum_test_types/blob.py
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_0_0.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_1_0.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_2_0.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_3_0.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_4_1000000000.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_5_1000000000.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_6_1000000000.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_7_1747905411.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_8_1747905411.json
  tests/cancun/eip4844_blobs/static_blobs/blob_cancun_9_1747905411.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_0_0.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_1_0.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_2_0.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_3_0.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_4_1000000000.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_5_1000000000.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_6_1000000000.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_7_1747905411.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_8_1747905411.json
  tests/osaka/eip7594_peerdas/static_blobs/blob_osaka_9_1747905411.json
  tests/prague/static_blobs/blob_prague_0_0.json
  tests/prague/static_blobs/blob_prague_1_0.json
  tests/prague/static_blobs/blob_prague_2_0.json
  tests/prague/static_blobs/blob_prague_3_0.json
  tests/prague/static_blobs/blob_prague_4_1000000000.json
  tests/prague/static_blobs/blob_prague_5_1000000000.json
  tests/prague/static_blobs/blob_prague_6_1000000000.json
  tests/prague/static_blobs/blob_prague_7_1747905411.json
  tests/prague/static_blobs/blob_prague_8_1747905411.json
  tests/prague/static_blobs/blob_prague_9_1747905411.json
  uv.lock
Due: tox

fix empty ported list scenario
  .github/workflows/coverage.yaml
Due: none

register diffPlaces in stSelfBalance for coverage
  tests/frontier/scenarios/test_scenarios.py
Due: tox

remove converted-ethereum-tests.txt
  .github/PULL_REQUEST_TEMPLATE.md
  converted-ethereum-tests.txt
Due: tox-docs

adjust the coverage script to read from .py markers
  .github/workflows/coverage.yaml
  pyproject.toml
  src/cli/extract_markers/extract_markers.py
Due: tox

replace pyscript with fill plugin
  .github/workflows/coverage.yaml
  pyproject.toml
  pytest.ini
  src/cli/extract_markers/extract_markers.py
  src/pytest_plugins/filler/ported_tests.py
Due: tox

add missing ported_from markers
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  tests/frontier/create/test_create_one_byte.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox

chore(tooling): ignore .venv, logs, fixtures-*
  .gitignore
Due: none

chore(tooling): add `.venv/`, `logs/`, `fixtures-*` to `.gitignore` (#1639)
  .gitignore
Due: none

chore(fill): exit early if in a help/collectonly mode
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/ported_tests.py
Due: tox

chore(fill): don't print ported_tests terminal summary with `-q`
  src/pytest_plugins/filler/ported_tests.py
Due: tox

fix(pytest): Add `ported_from` to execute
  pytest-execute-hive.ini
  pytest-execute.ini
Due: none

fix(pytest): Add `ported_from` to execute (#1641)
  pytest-execute-hive.ini
  pytest-execute.ini
Due: none

refactor(tests): use `pre` fixture in selfdestruct collision tests
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

Fix typos in docs/executing_tests/index.md
  docs/executing_tests/index.md
Due: tox-docs

docs: bump pr number in changelog
  docs/CHANGELOG.md
Due: tox-docs

refactor(types): Update NetworkWrappedTransaction to include wrapper version
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
Due: tox

fix(plugins/fill): Allow execute-only specs
  src/pytest_plugins/filler/filler.py
Due: tox

fix(rpc): fix `BlobsBundle.blob_versioned_hashes`, get blobs
  src/ethereum_test_rpc/__init__.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
Due: tox

refactor(specs,plugins): Remove SPEC_TYPES, use BaseTest.spec_types
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_tools/__init__.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/helpers.py
Due: tox

feat(forks): Add `engine_get_blobs_version` method
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(types): Transaction.sign sender recovery
  src/ethereum_test_types/types.py
Due: tox

feat(execution,plugins): EngineAPI-required execute spec property
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/transaction_post.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
Due: tox

feat(execution,specs): Implement `BlobsTest` execute-only spec type
  docs/CHANGELOG.md
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/get_blobs.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/blobs.py
  src/ethereum_test_tools/__init__.py
Due: tox, tox-docs

feat(tests): EIP-7594: Add test
  docs/CHANGELOG.md
  tests/osaka/eip7594_peerdas/__init__.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
Due: tox, tox-docs

docs: some ideas on moving `./tests` to ethereum/execution-specs
  docs/internal/moving_tests_to_execution_specs.md
  whitelist.txt
Due: tox-docs

docs: we should include what eels testing (consume) looks like
  docs/internal/moving_tests_to_execution_specs.md
Due: tox-docs

fixed import issue with specs, added fork.blobs_supported()
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/blob.py
  tests/osaka/eip7594_peerdas/spec.py
Due: tox

address comments
  src/pytest_plugins/filler/ported_tests.py
  src/pytest_plugins/help/help.py
Due: tox

necessary changes to rename types.py to eest_types.py without breaking anything
  src/cli/eofwrap.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/transaction.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/blob.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/tests/test_types.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
  tests/unscheduled/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Due: tox

feat(tests): add benchmark for the worst initcode jumpdest analysis
  tests/zkevm/test_worst_bytecode.py
Due: tox

zkevm: add optimized bn128 pairings
  tests/zkevm/test_worst_compute.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
