Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
  language: system
  pass_filenames: false

tox-changelog:
  name: tox-changelog
  entry: uvx --with=tox-uv tox -e changelog
  language: system
  pass_filenames: false

refactor(specs,types): Defer gas price set (fill)
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_types/transaction_types.py
Due: tox

refactor(base_types): Deprecate `rlp_override` in `RLPSerializable`
  src/ethereum_test_base_types/serialization.py
Due: tox

refactor(tests): Fix tests using `rlp_override`
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
Due: tox

fix(specs): execute changes
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
Due: tox

TODO
  src/pytest_plugins/execute/execute.py
Due: tox

feat(types): Add `max_fee_per_gas`/`max_priority_fee_per_gas` to environment
  src/ethereum_test_types/block_types.py
Due: tox

fix(tests): Remove gas_price from test_dup
  tests/frontier/opcodes/test_dup.py
Due: tox

feat(execution,specs): Add `get_required_sender_balances` to the `TransactionPost`
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
Due: tox

fix(rpc): priority fee gas method
  src/ethereum_test_rpc/rpc.py
Due: tox

feat(execute): defer tx sending in pre-alloc methods, add dry-run mode
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/sender.py
Due: tox

feat(execute): allow setting a gas limit per test
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

feat(execute): Print gas information after dry run
  src/pytest_plugins/execute/execute.py
Due: tox

fix(execute): Add warning about funded accounts that send no txs
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

feat(rpc): Add TTL cache to gas prices in eth rpc
  src/ethereum_test_rpc/rpc.py
Due: tox

fix(pytest): Add logging plugin to execute
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-hive.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute.ini
Due: none

docs: review suggestions
  docs/CHANGELOG.md
  docs/writing_tests/gas_optimization.md
Due: tox-docs, tox-changelog

fix: tox
  docs/writing_tests/gas_optimization.md
Due: tox-docs

type fixes
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_types/block_types.py
  src/ethereum_test_types/transaction_types.py
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

feat(clis,filler): Add trace types to allow trace analysis and gas optimizations (#1979)
  docs/CHANGELOG.md
  docs/navigation.md
  docs/writing_tests/gas_optimization.md
  docs/writing_tests/index.md
  pyproject.toml
  src/cli/modify_static_test_gas_limits.py
  src/ethereum_clis/__init__.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_clis/types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/debugging.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox, tox-docs, tox-changelog

Temp: Gather opcode counts in fixtures
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_clis/types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
Due: tox

feat(cli): Add diff_opcode_counts command
  pyproject.toml
  src/cli/diff_opcode_counts.py
Due: tox

fix: Tox
  src/ethereum_clis/types.py
  src/ethereum_test_specs/blockchain.py
Due: tox

feat(tests): add invalid p256verify cases
  tests/benchmark/test_worst_compute.py
Due: tox

feat(tests): enhance eip7823 coverage
  tests/osaka/eip7823_modexp_upper_bounds/conftest.py
  tests/osaka/eip7823_modexp_upper_bounds/spec.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
Due: tox

feat(tests): add eip7823 checklist items for coverage
  tests/osaka/eip7823_modexp_upper_bounds/eip_checklist_external_coverage.txt
  tests/osaka/eip7823_modexp_upper_bounds/eip_checklist_not_applicable.txt
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

refactor: add checklist marker for eip7883
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

refactor: update coverage table and check gas usage
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

refactor: update modexp test and add checklist marker
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

refactor: enhance modexp checklist descriptions for clarity
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_not_applicable.txt
Due: none

doc: update eip checklist template
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

chore: update checklist rules
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_external_coverage.txt
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_not_applicable.txt
Due: none

fix rebase issue
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
Due: tox

chore: remove outdated entry from modexp checklist
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_not_applicable.txt
Due: none

refactor: expand modexp checklist with external coverage entries
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_external_coverage.txt
Due: none

refactor(tests): update modexp upper bounds framework
  tests/osaka/eip7823_modexp_upper_bounds/conftest.py
  tests/osaka/eip7823_modexp_upper_bounds/spec.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
Due: tox

feat(tests): expand checklist item and enhance test coverage
  tests/osaka/eip7823_modexp_upper_bounds/eip_checklist_external_coverage.txt
  tests/osaka/eip7823_modexp_upper_bounds/eip_checklist_not_applicable.txt
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
Due: tox

refactor(checklist): remove duplicate ban check items
  tests/osaka/eip7939_count_leading_zeros/eip_checklist_not_applicable.txt
Due: none

feat(pre_alloc): Add maximum bytecode size limit for contract deployment
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

refactor(benchmark): resolve contract size limit failing cases
  tests/benchmark/test_worst_compute.py
Due: tox

feat(pre_alloc): integrate fork dependency for dynamic bytecode size limit
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_pre_alloc.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
  tox-changelog: any of: ^docs/CHANGELOG\.md$
