Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

fix(tests): Restrict extra args being passed to `BaseTest`; fix valid BAL tests (#2102)
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/tests/test_expect.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  tests/unscheduled/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox, tox-docs, tox-changelog

feat(checklist): Add checklist warnings
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/pytest_plugins/filler/eip_checklist.py
Due: tox, tox-docs

feat(checklist): add relative links to the tests
  src/pytest_plugins/filler/eip_checklist.py
Due: tox

fix(execute): Add `stub_name` to `pre.deploy_contract`
  src/ethereum_test_types/account_types.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

fix(execute): Don't force require address stubs in execute hive mode
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/remote.py
Due: tox

feat(execute): Check that address in the stubbed contracts list contains code
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

docs: update stubbed contracts docs
  docs/running_tests/execute/remote.md
Due: tox-docs

add new entry for exception string mapping
  src/ethereum_clis/clis/ethrex.py
Due: tox

chore(docs): bump changelog from v5.0.0 release.
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs, tox-changelog

chore(tests): add modexp length mismatch functionality (#2058)
  tests/byzantium/eip198_modexp_precompile/helpers.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
Due: tox

fix(tests): Incorrect expected exception on `test_tx_intrinsic_gas.py` (#2096)
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
Due: tox

fix(tests) update test_chainid.py to not run type 3 transaction in execute mode (#2094)
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

feat(tests): Support for EIP-7928 - Block-Level Access Lists (#2067)
  .github/configs/eels_resolutions.json
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  docs/running_tests/test_formats/blockchain_test_sync.md
  src/ethereum_clis/types.py
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/modifiers.py
  src/ethereum_test_types/block_types.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/__init__.py
  tests/amsterdam/eip7928_block_level_access_lists/spec.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_invalid.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
  uv.lock
Due: tox, tox-docs, tox-changelog

chore(ci): remove redundant workflows/actions.
  .github/configs/eels_resolutions.json
  .github/scripts/fill_introduced_tests.sh
  .github/scripts/fill_prepatched_tests.sh
  .github/scripts/generate_eip_report.py
  .github/scripts/get_release_props.py
  .github/scripts/parse_ported_tests.sh
  .github/workflows/check_eip_versions.yaml
  .github/workflows/check_links.yml
  .github/workflows/coverage.yaml
  .github/workflows/docs_deploy.yaml
  .github/workflows/tox_verify.yaml
Due: tox

chore(ci): re-add release props script.
  .github/configs/feature.yaml
  .github/scripts/get_release_props.py
Due: tox

feat(checklist): ad coverage and reentry notes to eip7939 checklist
  tests/osaka/eip7939_count_leading_zeros/eip_checklist_external_coverage.txt
  tests/osaka/eip7939_count_leading_zeros/eip_checklist_not_applicable.txt
Due: none

chore(ci): more changes.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/build-fixtures/action.yaml
  .github/configs/feature.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: tox-docs

chore(ci): more changes.
  .github/configs/feature.yaml
Due: none

chore(ci): more changes.
  .github/actions/build-fixtures/action.yaml
  .github/workflows/fixtures.yaml
Due: none

chore(ci): more changes.
  .github/workflows/fixtures_feature.yaml
Due: none

doc: update eip checklist template
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

refactor: update modexp test and add checklist marker
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

refactor: enhance modexp checklist descriptions for clarity
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_not_applicable.txt
Due: none

refactor: add checklist marker for eip7883
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

chore: update checklist rules
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_external_coverage.txt
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_not_applicable.txt
Due: none

chore(ci): more changes.
  .github/actions/build-fixtures/action.yaml
Due: none

chore(ci): more changes.
  .github/scripts/get_release_props.py
Due: tox

chore(ci): dont use binary for eels.
  .github/actions/build-fixtures/action.yaml
Due: none

docs: add benchmarks section and move related content to new location
  docs/navigation.md
  docs/writing_tests/benchmarks.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

chore(tests): Update pytest markers for checklist docs
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
  tests/osaka/eip7951_p256verify_precompiles/eip_checklist_not_applicable.txt
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify_before_fork.py
Due: tox, tox-docs

chore(tests): Remove unknown markers
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

bugfix(tests): Use eip kwarg to allow checklist to find tests
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

chore(tests): Add eip_checklist_external_coverage.txt
  tests/osaka/eip7951_p256verify_precompiles/eip_checklist_external_coverage.txt
Due: none

chore(tests): Add checklist marks for excessive gas usage and codecov test coverage
  tests/benchmark/test_worst_compute.py
  tests/osaka/eip7951_p256verify_precompiles/eip_checklist_external_coverage.txt
Due: tox

chore(tests): Add max values checklist decorator
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

docs: clarify gas limit configuration in benchmark tests
  docs/writing_tests/benchmarks.md
Due: tox-docs

chore(docs): bump changelog from v5.0.0 release. (#2105)
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs, tox-changelog

refactor(fill,execute): clean-up shared marker registration
  src/cli/pytest_commands/pytest_ini_files/pytest-check-eip-versions.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-eth-config.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-hive.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-recover.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  src/pytest_plugins/shared/execute_fill.py
Due: tox
