Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

fix: update frontier configuration
  tests/frontier/precompiles/test_precompiles.py
Due: tox

chore: update eels resolutions and resolver.
  eels_resolutions.json
  pyproject.toml
Due: none

refactor: rename filename
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify_before_fork.py
Due: tox

Revert "fix: update frontier configuration"
  tests/frontier/precompiles/test_precompiles.py
Due: tox

feat(tests): add EIP-7951 for secp256r1 curve (#1670)
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  tests/frontier/precompiles/test_precompiles.py
  tests/osaka/eip7951_p256verify_precompiles/__init__.py
  tests/osaka/eip7951_p256verify_precompiles/conftest.py
  tests/osaka/eip7951_p256verify_precompiles/helpers.py
  tests/osaka/eip7951_p256verify_precompiles/spec.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify_before_fork.py
  tests/osaka/eip7951_p256verify_precompiles/vectors/secp256r1_test.json
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

chore(tests): update modexp eip-7883 to latest spec.
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
Due: tox

chore: update eels and feature again.
  .github/actions/build-fixtures/action.yaml
  .github/configs/feature.yaml
  eels_resolutions.json
  pyproject.toml
  uv.lock
Due: none

chore(docs): changelog.
  docs/CHANGELOG.md
Due: tox-docs

chore: rename feature.
  .github/configs/feature.yaml
Due: none

docs(consume): add consume command documentation (#1172)
  .markdownlint.yaml
  README.md
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  docs/executing_tests/index.md
  docs/filling_tests/index.md
  docs/filling_tests/test_ids.md
  docs/getting_started/installation_troubleshooting.md
  docs/index.md
  docs/navigation.md
  docs/running_tests/consume/cache.md
  docs/running_tests/consume/direct.md
  docs/running_tests/consume/exceptions.md
  docs/running_tests/consume/index.md
  docs/running_tests/consume/simulators.md
  docs/running_tests/execute/hive.md
  docs/running_tests/execute/index.md
  docs/running_tests/execute/remote.md
  docs/running_tests/hive/ci_integration.md
  docs/running_tests/hive/client_config.md
  docs/running_tests/hive/common_options.md
  docs/running_tests/hive/dev_mode.md
  docs/running_tests/hive/hiveview.md
  docs/running_tests/hive/index.md
  docs/running_tests/index.md
  docs/running_tests/releases.md
  docs/running_tests/running.md
  docs/running_tests/test_formats/blockchain_test.md
  docs/running_tests/test_formats/blockchain_test_engine.md
  docs/running_tests/test_formats/common_types.md
  docs/running_tests/test_formats/eof_test.md
  docs/running_tests/test_formats/exceptions.md
  docs/running_tests/test_formats/index.md
  docs/running_tests/test_formats/state_test.md
  docs/running_tests/test_formats/transaction_test.md
  docs/running_tests/useful_pytest_options.md
  docs/writing_tests/exception_tests.md
  docs/writing_tests/tutorials/state_transition.md
  whitelist.txt
Due: tox-docs

refactor(eip_checklist): Remove new_* from all IDs
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  docs/writing_tests/eip_checklist.md
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox, tox-docs

docs: backtick `EIPChecklist` instances
  docs/writing_tests/eip_checklist.md
Due: tox-docs

fix(filler/checklist): Template copying bug
  src/pytest_plugins/filler/eip_checklist.py
Due: tox

fix: move unit test
  src/ethereum_test_checklists/tests/__init__.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox

fix: EIPChecklist usage
  src/ethereum_test_checklists/eip_checklist.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox

docs: remove references to string EIP checklist notation
  docs/writing_tests/eip_checklist.md
Due: tox-docs

docs: fix title
  docs/writing_tests/eip_checklist.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

fix: tox (minus spellcheck)
  docs/writing_tests/eip_checklist.md
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox, tox-docs

fix: typing
  src/ethereum_test_checklists/eip_checklist.py
Due: tox

test(checkmarks): add fw tests that apply EIPChecklists in pytest.param
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox

fix(docs,checklists): Rename section to be more descriptive
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/ethereum_test_checklists/eip_checklist.py
Due: tox, tox-docs

style(checklists): add stubs to solve mypy issues using checklist markers
  docs/writing_tests/eip_checklist.md
  pyproject.toml
  src/cli/generate_checklist_stubs.py
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/eip_checklist.pyi
Due: tox, tox-docs

fix(checklists): allow ommission of parentheses in checklist markers
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
Due: tox

Create Enums - Incomplete/broken attempt
  docs/writing_tests/eip_checklist.md
  src/ethereum_test_checklists/__init__.py
  src/ethereum_test_checklists/eip_checklist.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox, tox-docs

docs: Update usage
  docs/writing_tests/eip_checklist.md
Due: tox-docs

fix(docs): fix bad links to exception tests
  docs/writing_tests/exception_tests.md
Due: tox-docs

chore: bump resolver.
  pyproject.toml
  uv.lock
Due: none

feat(tests): add more EIP7939 tests
  tests/osaka/eip7939_clz/test_clz.py
  tests/osaka/eip7939_count_leading_zeros/__init__.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(tests): add CLZ tests
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7939_clz/__init__.py
  tests/osaka/eip7939_clz/test_clz.py
Due: tox

feat(tests): update eip7939 cases.
  eels_resolutions.json
  tests/osaka/eip7939_count_leading_zeros/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

chore: small test id fix.
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(tests): update eip7939 cases.
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_tools/tests/test_code.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
  tests/unscheduled/eip7939_count_leading_zeros/__init__.py
  tests/unscheduled/eip7939_count_leading_zeros/spec.py
  tests/unscheduled/eip7939_count_leading_zeros/test_count_leading_zeros.py
  whitelist.txt
Due: tox, tox-docs

feat(fixtures,types): add shared pre-allocation data models
  src/ethereum_test_fixtures/shared_alloc.py
  src/ethereum_test_types/account_types.py
  src/ethereum_test_types/block_types.py
Due: tox

feat(fill): implement shared pre-allocation (`fill` pytest hooks)
  src/pytest_plugins/filler/filler.py
Due: tox

feat(fill): enable interface for two-phase shared alloc filling
  src/cli/pytest_commands/base.py
  src/cli/pytest_commands/fill.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
Due: tox

feat(fixtures): add `BlockchainEngineReorgFixture` and common base class
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/pytest_plugins/filler/tests/test_collect_only.py
Due: tox

feat(specs): add shared pre-allocation support to `BaseTest`
  src/cli/gen_index.py
  src/ethereum_test_specs/base.py
Due: tox

feat(specs): add `BlockchainEngineReorgFixture` generation support
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
Due: tox

feat(fixtures): enable global address allocation and shared pre-alloc path
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_pre_alloc.py
Due: tox
