Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

🐞 fix: Add missing yParity in Authorization tuple
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_types/types.py
Due: tox

Update README.md
  README.md
Due: tox-docs

chore(deps): remove now unused bdict dependency
  pyproject.toml
  uv.lock
  whitelist.txt
Due: none

chore(docs): added link to the badge release (#1401)
  README.md
Due: tox-docs

refactor(fw): use enum helper; rename `ty` to `execution_context`
  src/ethereum_test_specs/helpers.py
Due: tox

fix(tests): Prevent EOF max stack height above number of inputs (#1380)
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
Due: tox

fix(tests): de-duplicate EOF stack underflow tests (#1392)
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Due: tox

new(tests): EOF validation JUMPF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

JUMPF test updates
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

refactor(fw): use more specific names for exception classes
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/tests/test_expect.py
Due: tox

new(tests): EOF validation JUMPF stack overflow (#1397)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

chore(ci): reduce concurrency to avoid chances of getting throttled
  .github/workflows/check-links.yml
Due: none

chore(ci): update cron time
  .github/workflows/check-links.yml
Due: none

chore(ci): add an action to check links in .md, .py
  .github/workflows/check-links.yml
  .lycheeignore
Due: none

add links to specs
  docs/consuming_tests/eof_test.md
Due: tox-docs

new(tests): Add EOF validation tests for stack underflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): Add EOF validation tests for stack underflow (#1331)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

feat(plugins/shared): New marker: zkvm
  src/pytest_plugins/shared/execute_fill.py
Due: tox

Remove redundant fixtures and callcode tests
  docs/CHANGELOG.md
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/istanbul/eip152_blake2/test_blake2_callcode.py
Due: tox, tox-docs

add push32, mstore8, and add to exempt from coverage
  tests/homestead/coverage/test_coverage.py
Due: tox

style(ci): lint actions/fix-up whitespace
  .github/actions/build-fixtures/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_deploy.yaml
Due: none

refactor(ci): use astral-sh/setup-uv instead of local action
  .github/actions/build-fixtures/action.yaml
  .github/actions/setup-uv/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_deploy.yaml
Due: none

chore(ci): bump astral-uv/setup-uv to latest release
  .github/actions/build-fixtures/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_deploy.yaml
  .github/workflows/tox_verify.yaml
Due: none

docs: added new Phyton and License badges
  README.md
Due: tox-docs

fix(tests): EOF - Align EOFCREATE args with EXT*CALL
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_gas.py
Due: tox

Update src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox

fix(tests): EIP-7702: send transaction of an EOA after setcode tx is mined
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

chore(hive): temp.
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

refactor(execute): send batch of txs by block
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
Due: tox

chore(hive): temp.
  src/pytest_plugins/execute/sender.py
Due: tox

chore(hive): temp.
  src/pytest_plugins/execute/execute.py
Due: tox

feat(fill,execute): add new `zkevm` marker (#1407)
  src/pytest_plugins/shared/execute_fill.py
Due: tox

fix(tests): EOF - Align EOFCREATE args with EXT*CALL (#1274)
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_gas.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
