Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

refactor
  tests/verkle/eip7748/accounts.py
  tests/verkle/eip7748/utils.py
Due: tox

feat(consume): create better ethereum/tests fixture ids in genindex
  src/cli/gen_index.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

docs: update whitelist; fix spellcheck
  whitelist.txt
Due: none

new(tests): add state test with empty 7702 authorization list
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(clis): Add exception to EELS
  src/ethereum_clis/clis/execution_specs.py
Due: tox

new(tests): add state test with empty 7702 authorization list (#1224)
  src/ethereum_clis/clis/execution_specs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(clis): Implement `is_installed` method for `EthereumCLI`
  src/ethereum_clis/ethereum_cli.py
Due: tox

fix(clis): Geth non-optional binary
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/transition_tool.py
Due: tox

fix(clis): Tests: Make t8n support unit tests run on installed t8n tools only
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

fix(tests): EOF - Rename RETURNCONTRACT to RETURNCODE (#1284)
  src/ethereum_test_specs/eof.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/opcodes.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_opcodes_in_legacy.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/__init__.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_returncode.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
  whitelist.txt
Due: tox, tox-docs

fix(clis): type fix
  src/ethereum_clis/transition_tool.py
Due: tox

fix(clis): unit test non-sorted forks
  src/ethereum_clis/tests/test_transition_tools_support.py
Due: tox

feat(clis): Add unit test to CI-only checks
  src/ethereum_clis/tests/test_transition_tools_support.py
  tox.ini
Due: tox

feat(consume): add support for ethereum/{tests,legacytests} tarball urls (#1306)
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/releases.py
  whitelist.txt
Due: tox, tox-docs

refactor(execute): Move refund logic to `pre` fixture
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

fix(plugins/execute): Overwrite tx instead of bumping nonce
  src/pytest_plugins/execute/sender.py
Due: tox

fix(rpc): handle null transaction response
  src/cli/gentest/request_manager.py
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

fix(execute): Return `--sender-funding-txs-gas-price`
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/sender.py
Due: tox

chore(ci): fix github pages docs push.
  .github/workflows/docs_deploy.yaml
Due: none

stale keys tests
  tests/verkle/eip7748/stale_keys.py
  tests/verkle/eip7748/utils.py
Due: tox

refactor(plugins/execute): Refactor account refunds logic (#1204)
  src/cli/gentest/request_manager.py
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/sender.py
Due: tox

add modified contract test & refactor
  tests/verkle/eip7748/modified_accounts.py
  tests/verkle/eip7748/unmodified_accounts.py
Due: tox

add modified EOA test and refactor
  tests/verkle/eip7748/modified_accounts.py
Due: tox

add stride stale contract storage slots
  tests/verkle/eip7748/modified_accounts.py
Due: tox

fix
  tests/verkle/eip7748/utils.py
Due: tox

cleanup
  tests/verkle/eip7748/unmodified_accounts.py
Due: tox

uv,pyproject: Add `eth_abi`
  pyproject.toml
  uv.lock
Due: none

fix(fillerconvert): Parsing fixes to main file
  src/cli/fillerconvert/fillerconvert.py
Due: tox

fix(fillerconvert): Expect has default `indexes`
  src/cli/fillerconvert/structures/expect_section.py
Due: tox

fix(fillerconvert): Common: Parse ABI code, use `Address`, `HexNumber`, `Bytes`
  src/cli/fillerconvert/structures/common/common.py
Due: tox

fix(fillerconvert): transaction: Handle data with access list, default gasPrice
  src/cli/fillerconvert/structures/general_transaction.py
Due: tox

chore(ci): fix gh-pages docs deployment (#1323)
  .github/workflows/docs_deploy.yaml
Due: none

fix(ci,docs): fix docs deployment introduced in #1317
  .github/workflows/docs_deploy.yaml
Due: none

fix(ci,docs): fix docs deployment introduced in #1317 (#1326)
  .github/workflows/docs_deploy.yaml
Due: none

docs: Add first checklist templates
  docs/checklist_templates/eip_testing_checklist_template.md
  docs/checklist_templates/index.md
Due: tox-docs

remove Hyperledger from Besu's binary pattern
  src/ethereum_clis/clis/besu.py
Due: tox

changes: Precompiles
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

changes: System contracts
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

nit
  docs/checklist_templates/eip_testing_checklist_template.md
Due: tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
