Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
  language: system
  pass_filenames: false

tox-changelog:
  name: tox-changelog
  entry: uvx --with=tox-uv tox -e changelog
  language: system
  pass_filenames: false

feat: add eip7702, gas usage and extra edge cases
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

refactor: update naming and new cases
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

activate logging in execute, execute-eth-config and fill
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-eth-config.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
Due: none

fix
  src/pytest_plugins/eels_resolutions.json
Due: none

added command to fix rare issue with execute hive
  docs/running_tests/execute/hive.md
Due: tox-docs

refactor: update valid fork configuration
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

chore(ci): update fill prepatched script.
  .github/scripts/fill_prepatched_tests.sh
Due: none

chore(ci): bump coverage to use Prague.
  .github/scripts/fill_introduced_tests.sh
  .github/scripts/fill_prepatched_tests.sh
  .github/workflows/coverage.yaml
Due: none

docs: Add tx id documentation
  docs/running_tests/execute/index.md
  docs/running_tests/execute/remote.md
  docs/running_tests/execute/transaction_metadata.md
Due: tox-docs

fix: tox
  docs/running_tests/execute/transaction_metadata.md
Due: tox-docs

fix formatting
  tests/prague/eip8047_bloatnet/test_bloatnet.py
Due: tox

move to benchmarks
  tests/benchmark/test_bloatnet.py
Due: tox

feat(execute): Add identifiers to sent txs (#2056)
  docs/running_tests/execute/index.md
  docs/running_tests/execute/remote.md
  docs/running_tests/execute/transaction_metadata.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/transaction_types.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
Due: tox, tox-docs

chore(tests): Disable full `HISTORY_SERVE_WINDOW` EIP-2935 Test
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

feat(fixtures): add `executionWitness` to `FixtureBlockBase`
  src/ethereum_test_fixtures/blockchain.py
Due: tox

feat(fill): add a plugin for execution witness generation
  src/pytest_plugins/filler/witness.py
Due: tox

feat(fill): use the `generate_witness` fixture in the `filler` plugin
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  src/pytest_plugins/filler/filler.py
Due: tox

feat(fill,help): enable witness plugin help output to `fill --help`.
  src/pytest_plugins/help/help.py
Due: tox

chore(fill): fix punctuation in witness plugin help string
  src/pytest_plugins/filler/witness.py
Due: tox

chore(fill): add hotfix to generate_witness for Paris
  src/pytest_plugins/filler/witness.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

feat(tests): Test precompile call on contract init via tx
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

feat(tests): Add test for CREATE and CREATE2
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

chore: update changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

added command to fix rare issue with execute hive (#2061)
  docs/running_tests/execute/hive.md
Due: tox-docs

feat(fork): Add basic Amsterdam fork support
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/forks/forks.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/__init__.py
Due: tox, tox-docs, tox-changelog

test(eip7825): add extra case for access list
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
Due: tox

tests(eip7825): add extra cases for tx gas limit
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
Due: tox

refactor(eip7825): update legacy configuration
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7825_transaction_gas_limit_cap/spec.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit_transition_fork.py
Due: tox

tests: port legacy modexp test
  tests/byzantium/eip198_modexp_precompile/helpers.py
  tests/osaka/eip7883_modexp_gas_increase/helpers.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/osaka/eip7883_modexp_gas_increase/vector/legacy.json
Due: tox

refactor: update comment
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
Due: tox

feat: add fork transition test
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

fix(tests): update fork transition test
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

feat: add invalud boundary test cases
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

refactor(tests): Improve fixture and test descriptions for clarity
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

test: add extra casefor modexp invalid input
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

refactor(tests): add helper for invalid case
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

refactor(tests): simplify boundary modexp test cases
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
  tox-changelog: any of: ^docs/CHANGELOG\.md$
