Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

fixes
  src/ethereum_test_types/blob_types.py
Due: tox

feat(tests): ckzg functions for peerdas tests (#1614)
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/kzg_trusted_setup.txt
  src/ethereum_test_types/tests/test_blob_types.py
  src/ethereum_test_types/transaction_types.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/osaka/eip7594_peerdas/spec.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
  uv.lock
  whitelist.txt
Due: tox, tox-docs

feat(github): Use `compare_fixtures` during coverage
  .github/scripts/fill_prepatched_tests.sh
Due: none

feat(cli): Add `compare_fixtures` command
  pyproject.toml
  src/cli/compare_fixtures.py
Due: tox

test(benchmark): add coverage for CALLDATACOPY, CODECOPY, RETURNDATACOPY and MCOPY (#1800)
  tests/benchmark/test_worst_memory.py
Due: tox

ruff autofix + performance improvement by filtering static and unscheduled tests from search and filewatcher
  .vscode/settings.json
Due: none

feat(benchmark): add empty payload test case
  tests/benchmark/test_worst_blocks.py
Due: tox

refactor: rename eth transfer cost
  tests/benchmark/test_worst_blocks.py
Due: tox

feat(tests): add contract creation test case for clz opcode
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

wip: create and create2 test cases
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

replaces --diff with --check so that resulting print when everything is fine is not danger-red colored
  tox.ini
Due: none

chore(tooling): change `-diff` to `--check` for `ruff format` in mkdocs tox env
  tox.ini
Due: none

chore(tooling): change `ruff format`'s flag from `--diff` to `--check` in `tox.ini` (#1838)
  tox.ini
Due: none

style(cli): fix-up lint
  src/ethereum_clis/clis/ethrex.py
Due: tox

refactor(consume): avoid github api calls for direct url fixture inputs (#1788)
  docs/CHANGELOG.md
  docs/running_tests/consume/cache.md
  docs/running_tests/hive/dev_mode.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/tests/test_fixtures_source_input_types.py
Due: tox, tox-docs

chore(clis): add exception handling for compare fixtures.
  src/cli/compare_fixtures.py
Due: tox

chore(docs): changelog.
  docs/CHANGELOG.md
Due: tox-docs

feat(github/cli): Fixture folder compare command (#1833)
  .github/scripts/fill_prepatched_tests.sh
  docs/CHANGELOG.md
  pyproject.toml
  src/cli/compare_fixtures.py
Due: tox, tox-docs

benchmark: add RETURN and REVERT coverage
  tests/benchmark/test_worst_compute.py
Due: tox

lints
  tests/benchmark/test_worst_compute.py
Due: tox

improve comment
  tests/benchmark/test_worst_compute.py
Due: tox

nit
  tests/benchmark/test_worst_compute.py
Due: tox

improved gitignore to make the next rebase disaster (soon tm) less severe
  .gitignore
Due: none

Apply suggestions from code review
  .vscode/settings.json
Due: none

Update .vscode/settings.json
  .vscode/settings.json
Due: none

toolings(fix): improved gitignore (#1842)
  .gitignore
Due: none

tooling(fix): ruff autofix on save + filter static and unscheduled tests (#1837)
  .vscode/settings.json
Due: none

chore(clis/ethrex): update error mapper (#1832)
  src/ethereum_clis/clis/ethrex.py
Due: tox

Apply suggestions from code review
  tests/benchmark/test_worst_compute.py
Due: tox

benchmark: add CREATE coverage
  tests/benchmark/test_worst_bytecode.py
Due: tox

fix lints
  tests/benchmark/test_worst_compute.py
Due: tox

benchmark: add CREATE2 coverage
  tests/benchmark/test_worst_bytecode.py
Due: tox

docs(docs): Add navigation footer
  mkdocs.yml
Due: none

docs(docs): Add link to docs to README
  README.md
  uv.lock
Due: tox-docs

docs(docs): Add uv run in front of fill cmds
  docs/filling_tests/filling_tests_command_line.md
  docs/filling_tests/filling_tests_dev_fork.md
Due: tox-docs

docs(docs): small typo
  docs/running_tests/releases.md
  docs/running_tests/running.md
Due: tox-docs

docs(docs): Remove EOF doc
  docs/running_tests/test_formats/eof_test.md
  uv.lock
Due: tox-docs

docs(docs): Add to CHANGELOG
  docs/CHANGELOG.md
  docs/navigation.md
Due: tox-docs
