Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

codespell is a **********
  src/ethereum_test_types/tests/test_blob_types.py
Due: tox

fix(plugins): remove cwd change before running pytest (#1943)
  src/cli/pytest_commands/base.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/execute.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/fix_package_test_path.py
  src/pytest_plugins/working_directory.py
Due: tox

Map TYPE_3_TX_BLOB_COUNT_EXCEEDED (#1944)
  src/ethereum_clis/clis/besu.py
Due: tox

feat(tests): remove Blake2b max rounds static test (#1941)
  tests/static/state_tests/stTimeConsuming/CALLBlake2f_MaxRoundsFiller.json
Due: none

Update tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

fix: merge issue
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(tests): add eip7702 test case for clz opcode (#1853)
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Due: tox

feat(tests): remove the static performance test calling SHA256 5000x
  tests/static/state_tests/stTimeConsuming/static_Call50000_sha256Filler.json
Due: none

fix(plugins): Don't copy test list during collection
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
Due: tox

fix(tests/static): Split CREATE2_FirstByte_loopFiller.yml
  tests/static/state_tests/stCreate2/CREATE2_FirstByte_loopFiller.yml
Due: none

fix(tests/static): Skip tstore ddos tests
  tests/static/state_tests/Cancun/stEIP1153_transientStorage/15_tstoreCannotBeDosdFiller.yml
  tests/static/state_tests/Cancun/stEIP1153_transientStorage/21_tstoreCannotBeDosdOOOFiller.yml
Due: none

reverted changes to problematic tests
  tests/static/state_tests/VMTests/vmIOandFlowOperations/gasFiller.yml
  tests/static/state_tests/VMTests/vmIOandFlowOperations/msizeFiller.yml
  tests/static/state_tests/stCreateTest/createLargeResultFiller.yml
  tests/static/state_tests/stEIP1559/baseFeeDiffPlacesFiller.yml
  tests/static/state_tests/stEIP1559/gasPriceDiffPlacesFiller.yml
  tests/static/state_tests/stEIP1559/outOfFundsFiller.yml
  tests/static/state_tests/stEIP1559/outOfFundsOldTypesFiller.yml
  tests/static/state_tests/stRevertTest/costRevertFiller.yml
  tests/static/state_tests/stShift/shiftSignedCombinationsFiller.yml
Due: none

silence mypy and add ignore rule for imports
  pyproject.toml
  src/ethereum_clis/ethereum_cli.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/forks/forks.py
Due: tox

chore: bump eels resolver.
  pyproject.toml
  uv.lock
Due: none

chore: bump eels resolutions.
  .github/configs/eels_resolutions.json
  src/pytest_plugins/eels_resolutions.json
Due: none

chore(tooling): add mypy ignore comments and rules
  pyproject.toml
  src/ethereum_clis/ethereum_cli.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/forks/forks.py
Due: tox

add test
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

chore(ci): remove evmone build from pytest framework unit tests step.
  .github/workflows/tox_verify.yaml
Due: none

chore(tests): remove slow/zkevm markers from benchmark tests.
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

added bpo config + function to retrieve from it + unit test for that function
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_types/blob_bpo_config.json
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/tests/test_blob_types.py
  tests/osaka/eip7892_bpo/__init__.py
  tests/osaka/eip7892_bpo/conftest.py
  tests/osaka/eip7892_bpo/spec.py
  tests/osaka/eip7892_bpo/test_bpo.py
Due: tox

chore: bump eels resolver (#1950)
  .github/configs/eels_resolutions.json
  pyproject.toml
  src/pytest_plugins/eels_resolutions.json
  uv.lock
Due: none

Update src/ethereum_test_types/tests/test_blob_types.py
  src/ethereum_test_types/tests/test_blob_types.py
Due: tox

fix(plugins): Don't copy test list during collection (#1936)
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
Due: tox

chore(tests): remove slow/zkevm markers from benchmark tests. (#1953)
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

fix(unit_tests): fixed blob unit tests when run with xdist (#1946)
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/tests/test_blob_types.py
Due: tox

feat(tests): remove the static performance test calling SHA256 5000x (#1949)
  tests/static/state_tests/stTimeConsuming/static_Call50000_sha256Filler.json
Due: none

chore(tests): tstore run until out of gas test.
  tests/cancun/eip1153_tstore/test_tstorage.py
Due: tox

chore(tests): make blake2 use dynamic tx limit.
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

fix(tests): EIP-7825: Pre-Osaka BLS tests consuming more than the tx gas limit cap
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

chore(tests): update slow deposit tests.
  tests/prague/eip6110_deposits/test_deposits.py
Due: tox

fix(tests): EIP-7825: Pre-Osaka tests consuming more than the tx gas limit cap
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix: tox
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
Due: tox

feat(consume): add --extract-to parameter for direct fixture extraction (#1861)
  docs/CHANGELOG.md
  docs/running_tests/consume/cache.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/tests/test_fixtures_source_input_types.py
Due: tox, tox-docs, tox-changelog

chore(benchmark): don't fill benchmark tests by default.
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  tests/benchmark/conftest.py
  tox.ini
Due: tox

chore(benchmark): change to collection level only.
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  tests/benchmark/conftest.py
Due: tox

chore: optimizations via review.
  tests/benchmark/conftest.py
Due: tox
