Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

fix: no need to raise from any parsing errors; raise general case
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_rlp.py
Due: tox

feat(tests): Add flexibility to expected absent scenarios for BALs (#2124)
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/absence_validators.py
  src/ethereum_test_types/block_access_list/modifiers.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_rlp.py
Due: tox, tox-docs, tox-changelog

fix: use engine_newPayloadV5 for Amsterdam
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/forks/forks.py
Due: tox, tox-docs, tox-changelog

fix: update exception mapper for geth
  src/ethereum_clis/clis/geth.py
  src/ethereum_test_exceptions/exceptions/block.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_invalid.py
Due: tox

fix: We should update BAL hash in fixture for invalid tests
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list/__init__.py
Due: tox

Version with EIP-7997 model working
  tests/benchmark/bloatnet/README.md
  tests/benchmark/bloatnet/deploy_bloatnet_simple.py
  tests/benchmark/bloatnet/deploy_create2_factory.py
  tests/benchmark/bloatnet/test_bloatnet.py
Due: tox, tox-docs

refactor(benchmark): imrpove contract deployment script with interactive selection and bytecode generation
  pyproject.toml
  tests/benchmark/bloatnet/README.md
  tests/benchmark/bloatnet/deploy_bloatnet_simple.py
  tests/benchmark/bloatnet/deploy_create2_factory.py
Due: tox, tox-docs

refactor(bloatnet): register bloatnet marker
  src/pytest_plugins/shared/execute_fill.py
Due: tox

refactor(benchmark): enhance test marker management
  tests/benchmark/conftest.py
Due: tox

refactor: update expected gas usage rule for flexibility
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

docs(benchmarks): clarify gas usage check flexibility
  docs/writing_tests/benchmarks.md
Due: tox-docs

feat(tests): introduce skip_gas_used_validation flag for flexible gas checks
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

refactor: enforce single property requirement in blockchain test generation
  src/ethereum_test_specs/benchmark.py
Due: tox

refactor: update Bytecode serialization schema to use format_ser_schema
  src/ethereum_test_vm/bytecode.py
Due: tox

docs(benchmarks): update gas usage check to use skip_gas_used_validation flag
  docs/writing_tests/benchmarks.md
Due: tox-docs

delete: remove obsolete test_create2.py script
  scripts/test_create2.py
Due: tox

refactor(benchmark): optimize gas calculations for BALANCE + EXTCODECOPY pattern
  tests/benchmark/bloatnet/README.md
  tests/benchmark/bloatnet/test_bloatnet.py
Due: tox, tox-docs

refactor(benchmark): support non-fixed max_codesize
  tests/benchmark/bloatnet/deploy_bloatnet_simple.py
Due: tox

chore(tooling): enforce ruff rule c420 (#2146)
  pyproject.toml
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
  tests/unscheduled/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
Due: tox

chore: Remove all 24kB "hardcoded" refs
  tests/benchmark/bloatnet/README.md
  tests/benchmark/bloatnet/deploy_bloatnet_simple.py
  tests/benchmark/bloatnet/test_bloatnet.py
Due: tox, tox-docs

fix: pre-commit lint hooks
  tests/benchmark/bloatnet/deploy_bloatnet_simple.py
  tests/benchmark/bloatnet/test_bloatnet.py
Due: tox

push updated deploy_create2_factory refactored with EEST as dep
  tests/benchmark/bloatnet/deploy_create2_factory_refactored.py
Due: tox

refactor(benchmark): update expected gas usage rule for flexibility (#2155)
  docs/writing_tests/benchmarks.md
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox, tox-docs

chore(tests): fix peerdas transition test.
  tests/osaka/eip7594_peerdas/test_max_blob_per_tx.py
Due: tox

chore(tests): fix peerdas transition test. (#2172)
  tests/osaka/eip7594_peerdas/test_max_blob_per_tx.py
Due: tox

docs: add unused function args to coding standards
  docs/getting_started/code_standards.md
Due: tox-docs

✨ feat(fill): Watch mode
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
  src/cli/pytest_commands/fill.py
  src/cli/pytest_commands/processors.py
  src/cli/pytest_commands/watcher.py
Due: tox, tox-docs, tox-changelog

refactor: remove unused test parameter and unused code
  src/ethereum_clis/tests/test_execution_specs.py
Due: tox

refactor: remove unused test function arg
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
Due: tox

Clean up extraneous BAL exceptions
  src/ethereum_test_exceptions/exceptions/block.py
Due: tox

refactor: use fork check for BAL in engine payload
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix: udpate example changes
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox

refactor: resolve typing and update func interface
  src/ethereum_test_benchmark/benchmark_code_generator.py
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_vm/bytecode.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/test_worst_compute.py
Due: tox

refactor: remove benchmark state test wrapper
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/benchmark_state.py
  src/ethereum_test_tools/__init__.py
Due: tox

feat(benchmark): add code generator to generate transaction
  src/ethereum_test_specs/benchmark.py
  src/ethereum_test_specs/benchmark_state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/benchmark_code_generator.py
  tests/benchmark/test_worst_compute.py
Due: tox

refactor synatx and parameter
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_blocks.py
Due: tox

fix: pydantic model validation for benchmark manager
  src/ethereum_test_specs/benchmark.py
  tests/benchmark/test_worst_stateful_opcodes.py
Due: tox
