Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

add ethjs exception
  src/ethereum_clis/clis/ethereumjs.py
Due: tox

chore(clis): update exception mappers for TYPE_4_TX_PRE_FORK
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/reth.py
Due: tox

changelog: Add exception
  docs/CHANGELOG.md
Due: tox-docs

changelog: Invalid versioned hashes exception
  docs/CHANGELOG.md
Due: tox-docs

refactor(consume/engine): Better error logging
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

fix(clis/reth): Exception mapper
  src/ethereum_clis/clis/reth.py
Due: tox

fix(clis/besu): Exception mapper
  src/ethereum_clis/clis/besu.py
Due: tox

fix(clis/geth): Exception mapper
  src/ethereum_clis/clis/geth.py
Due: tox

fix(clis/ethereumjs): Exception mapper
  src/ethereum_clis/clis/ethereumjs.py
Due: tox

Warnings for blockchain and state tests using gas_limit >= 30_000_000
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Due: tox

fix(clis/erigon): Exception mapper
  src/ethereum_clis/clis/erigon.py
Due: tox

feat(consume): add `ExceptionMapper` support to the consume-engine simulator (#1416)
  docs/CHANGELOG.md
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/exceptions.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
  whitelist.txt
Due: tox, tox-docs

fix(fw): eof_state_test not to use EOF creation tx
  src/ethereum_test_specs/eof.py
Due: tox

fix(tests): Remove/Move EIP-7698 tests
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/__init__.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/helpers.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
Due: tox

fix(docs): misc remove mentions of EOF creation tx
  tests/osaka/eip7692_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

Mark `test_legacy_create_tx_eof_initcode` with `xfail`
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Due: tox

review comments
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
Due: tox

fix(tests): EIP-7069 to not use EOF creation tx
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

fix(tests): allow variants of validation exceptions
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
Due: tox

fix(fw): ...test_from_eof_test not to use EOF creation tx
  src/ethereum_test_specs/eof.py
Due: tox

fix(fw): add EOF_CREATION_TRANSACTION exception
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(tests,fw): Remove EIP-7698 EOF creation txs (#1451)
  docs/CHANGELOG.md
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_specs/eof.py
  tests/osaka/eip7692_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/__init__.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/helpers.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

fix(github): Remove `vars` usage in build-fixtures
  .github/actions/build-fixtures/action.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: none

fix(github): Remove `vars` usage in build-fixtures (#1479)
  .github/actions/build-fixtures/action.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: none

create transaction with `ef` is a valid tx, fails execution
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Due: tox

ruff format
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Due: tox

fix(specs/eof): Exception mapping fix
  src/ethereum_test_specs/eof.py
Due: tox

fix(tests): Create transaction sarting with `0xef` is a valid tx, but should fail execution (#1480)
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Due: tox

fix(specs/eof): Exception mapping fix (#1481)
  src/ethereum_test_specs/eof.py
Due: tox

feat: implement empty_account in Alloc subclasses
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

♻️ refactor(tests): rename zkevm test
  tests/zkevm/test_proof_size.py
Due: tox

✨ feat(tests): zkevm - extract proofs
  tests/zkevm/test_proof_size.py
Due: tox

✨ feat(zkevm): zkevm - proof eater
  tests/zkevm/test_proof_size.py
Due: tox

✨ feat: zkevm - nom nom nom
  tests/zkevm/__init__.py
  tests/zkevm/test_proof_size.py
Due: tox

chore(docs): bump the changelog after v4.3.0
  docs/CHANGELOG.md
  docs/changelog_section_template.md
Due: tox-docs

chore(docs): bump the changelog after v4.3.0 (#1484)
  docs/CHANGELOG.md
  docs/changelog_section_template.md
Due: tox-docs

refactor and add unit test
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

chore(forks): osaka tweak and fix blob schedule logic (#1438)
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_specs/static_state/expect_section.py
  tests/osaka/eip7692_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

lints
  tests/zkevm/__init__.py
  tests/zkevm/test_worst_bytecode.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
