Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

feat(consume): `consume direct` using evmone-statetest
  docs/running_tests/consume/direct.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/evmone.py
Due: tox, tox-docs

feat(benchmarks): add bloatnet marker support (#2169)
  docs/templates/base.md.j2
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/bloatnet/__init__.py
  tests/benchmark/conftest.py
  tests/benchmark/stateful/__init__.py
  tests/benchmark/stateful/bloatnet/__init__.py
  tests/benchmark/stateful/bloatnet/test_bloatnet.py
  tests/benchmark/stateful/bloatnet/test_multi_opcode.py
  tests/benchmark/stateful/conftest.py
Due: tox

✨ feat(EIP-7928): OOG: Intrinsic gas
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_oog.py
Due: tox

fix: BAL expectations for OOG 7928 tests
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_oog.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

🚧 wip(EIP-7928): OOG tests
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_oog.py
Due: tox

remove equivalent test cases as covered by opcode cases
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
Due: tox

🥢 nit: named parameters
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

feat(tests): add tests for P256 with x,y out of range
  tests/osaka/eip7951_p256verify_precompiles/scripts/find_low_p256_points.sage
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

chore(cli): erigon 7825 exception bump.
  src/ethereum_clis/clis/erigon.py
Due: tox

Add 7702 test case for BAL
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox-docs

chore(cli): erigon 7825 exception bump. (#2250)
  src/ethereum_clis/clis/erigon.py
Due: tox

feat(tests): add bpo basic tests (wip).
  tests/osaka/eip7892_bpo_hardforks/__init__.py
  tests/osaka/eip7892_bpo_hardforks/spec.py
  tests/osaka/eip7892_bpo_hardforks/test_bpo_fork_transition.py
Due: tox

feat(tests): add tests for P256 with x,y out of range (#2237)
  tests/osaka/eip7951_p256verify_precompiles/scripts/find_low_p256_points.sage
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Due: tox

Update tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/context_calls.py
Due: tox

chore**s**(src): use `--chain-id` in ProgramChainid (#2232)
  tests/frontier/scenarios/programs/context_calls.py
Due: tox

update xen tests
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

chore(consume): Mark all consume sync tests as flaky
  pyproject.toml
  src/pytest_plugins/consume/simulators/sync/conftest.py
  uv.lock
Due: tox

refactor: simplify consume sync logic
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_sync.py
Due: tox

chore: CHANGELOG entry
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

add test for repeated address in acl
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

ruff lint
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

chore(consume): mark sync tests flaky (#2252)
  docs/CHANGELOG.md
  pyproject.toml
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_sync.py
  src/pytest_plugins/consume/simulators/sync/conftest.py
  uv.lock
Due: tox, tox-docs, tox-changelog

feat(tests): test accessing slots in address that appears more than once in access list (#2253)
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

Temp: Gather opcode counts in fixtures
  src/ethereum_clis/cli_types.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
Due: tox

feat(cli): Add diff_opcode_counts command
  pyproject.toml
  src/cli/diff_opcode_counts.py
Due: tox

fix: Tox
  src/ethereum_clis/cli_types.py
  src/ethereum_test_specs/blockchain.py
Due: tox

fix imports
  src/cli/diff_opcode_counts.py
  src/ethereum_test_specs/base.py
Due: tox

fix comments
  src/cli/diff_opcode_counts.py
Due: tox

type(tests): convert create suicide during init
  tests/frontier/create/test_create_suicide_during_init.py
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInitFiller.json
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInit_ThenStoreThenReturnFiller.json
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInit_WithValueFiller.json
  tests/static/state_tests/stCreateTest/CREATE_ContractSuicideDuringInit_WithValueToItselfFiller.json
Due: tox

fix: Tighten up validation for empty lists on BALs
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

chore: CHANGELOG entry
  docs/CHANGELOG.md
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox, tox-docs, tox-changelog

chore: fix docstring after refactor
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox

Fixes, increase coverage
  tests/frontier/create/test_create_suicide_during_init.py
Due: tox

fix: Coverage script
  .github/workflows/coverage.yaml
Due: none

update xen claimrank test
  tests/benchmark/mainnet/test_state_xen.py
Due: tox

Add coveraged missed reason
  tests/frontier/create/test_create_suicide_during_init.py
Due: tox

✨ feat(tests): EIP-7928 Single-Opcode Success and OOG test cases (#2118)
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Due: tox, tox-docs, tox-changelog

✨ feat(test): test_bal_2930_account_listed_but_untouched
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip2930.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs

fix: issues after refactor; rename test file
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip2930.py
Due: tox

✨ feat(tests): EIP-7928 tests for EIP-2930:
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_eip2930_tx.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Due: tox, tox-docs
