Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

improvement
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

add more tests
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

refactor(tests): remove `secret_key` from acl test transaction
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

fix bug
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

selfdestruct in initcode
  tests/zkevm/test_worst_stateful_opcodes.py
Due: tox

LLM-autocomplete error fix
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

fix comment
  tests/zkevm/test_worst_compute.py
Due: tox

fix(execute): default to False if the option doesn't exist
  src/pytest_plugins/shared/helpers.py
Due: tox

fix: tox
  src/ethereum_test_specs/tests/test_fixtures.py
  whitelist.txt
Due: tox

coverage
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

fix: tox
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

fix docs
  docs/writing_tests/index.md
Due: tox-docs

fix(execute): default to False if the option doesn't exist (#1681)
  src/pytest_plugins/shared/helpers.py
Due: tox

tox again
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

refactor(fw): move TransactionType enum to ethereum_test_types module (#1673)
  docs/CHANGELOG.md
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/transaction_types.py
  tests/zkevm/test_worst_compute.py
  whitelist.txt
Due: tox, tox-docs

refactor(tests): remove `secret_key` from `test_access_list`'s transaction (#1674)
  docs/writing_tests/index.md
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox, tox-docs

feat(tests): add type 4 transaction edge case test (#1648)
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

test: use precompile as set code delegated address
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7212_secp256r1_precompiles/spec.py
  tests/osaka/eip7212_secp256r1_precompiles/test_p256verify_as_set_code_delegated_addr.py
Due: tox

wip
  src/ethereum_test_types/blob.py
  src/ethereum_test_types/blob_types.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
Due: tox

fixes
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/transaction_types.py
Due: tox

port stShiftCobinationsFiller
  tests/constantinople/eip145_bitwise_shift/__init__.py
  tests/constantinople/eip145_bitwise_shift/spec.py
  tests/constantinople/eip145_bitwise_shift/test_shift_combinations.py
  tests/static/state_tests/stShift/shiftCombinationsFiller.yml
Due: tox

fixed running unit tests on arm (don't let solc-select force install solc)
  src/ethereum_test_tools/tests/conftest.py
  src/pytest_plugins/solc/solc.py
  tox.ini
Due: tox

feat(fw|tests): change for eip-7918.
  src/ethereum_test_forks/forks/forks.py
  tests/cancun/eip4844_blobs/conftest.py
Due: tox

feat(tests): update existing 4844 tests to trigger reserve price.
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
Due: tox

feat(tests): add edge cases to reserve price trigger params.
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
Due: tox

minor optimization
  tests/constantinople/eip145_bitwise_shift/test_shift_combinations.py
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

refactor(forks): Pydantic-friendly `Fork` type
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_base.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_fixtures/transaction.py
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blobs.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox

fix(tests): Bad import
  tests/unscheduled/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
Due: tox

update spec sha
  tests/constantinople/eip145_bitwise_shift/spec.py
Due: tox

feat(docs): Generate EIP Checklists
  docs/filling_tests/eip_checklist.md
  docs/scripts/gen_test_case_reference.py
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  pyproject.toml
  src/cli/pytest_commands/__init__.py
  src/cli/pytest_commands/checklist.py
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  src/pytest_plugins/shared/execute_fill.py
Due: tox, tox-docs

fix(plugins): Tox, unit tests
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
Due: tox

fix(docs): Correctly include checklist gen in mkdocs flow
  docs/filling_tests/eip_checklist.md
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
Due: tox, tox-docs

fix(clis): Checklist command help
  src/cli/pytest_commands/checklist.py
Due: tox

fix(plugins/filler): remove unused import
  src/pytest_plugins/filler/filler.py
Due: tox

fix(docs): Outdated docs
  docs/filling_tests/eip_checklist.md
Due: tox-docs

fix(plugins): Collect-only parameter
  docs/scripts/gen_test_case_reference.py
  src/cli/pytest_commands/checklist.py
  src/pytest_plugins/filler/eip_checklist.py
  src/pytest_plugins/shared/helpers.py
Due: tox

Tweak pytest params
  pytest-execute.ini
Due: none

zkevm: add generic zero-param opcodes
  tests/zkevm/test_worst_compute.py
Due: tox
