Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs, tox-changelog

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint
        language: system
        files: \.md$
        pass_filenames: false
      - id: tox-changelog
        name: tox-changelog
        entry: uvx --with=tox-uv tox -e changelog
        language: system
        files: ^docs/CHANGELOG\.md$
        pass_filenames: false

Update tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_blocks.py
Due: tox

fix: review comments
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/ethereum_test_checklists/eip_checklist.py
Due: tox, tox-docs

feat(benchmark): add max block size test using access lists (#1932)
  tests/benchmark/test_worst_blocks.py
Due: tox

feat(checklist): Add `Modified Transaction Validity Constraint` (#1988)
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/ethereum_test_checklists/eip_checklist.py
Due: tox, tox-docs

chore(tests): fix pre alloc grouping remaining fails (#1975)
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox

fix(cli): Improve `modify_static_test_gas_limits` comments
  src/cli/modify_static_test_gas_limits.py
Due: tox

fix(clis,specs): Improve logging
  src/ethereum_clis/types.py
  src/ethereum_test_specs/state.py
Due: tox

feat(filler): Add `--optimize-gas-max-gas-limit` flag
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/filler.py
Due: tox

feat(test): add test for memory expansion on early revert in CALL (#1967)
  tests/frontier/opcodes/test_call.py
Due: tox

refactor: update comment
  tests/benchmark/test_worst_compute.py
Due: tox

tests: add extra modexp cases
  tests/benchmark/test_worst_compute.py
Due: tox

test: add extra ecpairing cases
  tests/benchmark/test_worst_compute.py
Due: tox

chore(benchmark): update gas limit configuration
  .github/configs/feature.yaml
Due: none

chore(tests): remove temp fix for block rlp type 4.
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox

chore(tests): remove temp fix for block rlp type 4. (#1995)
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Due: tox

chore: increate gas limit from 36m to 45m
  .github/scripts/fill_introduced_tests.sh
  .github/scripts/fill_prepatched_tests.sh
  .github/workflows/coverage.yaml
  src/ethereum_test_types/block_types.py
Due: tox

doc: add changelog description
  docs/CHANGELOG.md
Due: tox-docs, tox-changelog

chore: align gas limit with mainnet (#1994)
  .github/scripts/fill_introduced_tests.sh
  .github/scripts/fill_prepatched_tests.sh
  .github/workflows/coverage.yaml
  docs/CHANGELOG.md
  src/ethereum_test_types/block_types.py
Due: tox, tox-docs, tox-changelog

chore(benchmark): update gas limit configuration (#1983)
  .github/configs/feature.yaml
Due: none

fix(github): Set x-dist to auto for all evm impl
  .github/configs/evm-impl.yaml
Due: none

chore(tests): update max blob per tx test errors.
  tests/osaka/eip7594_peerdas/test_max_blob_per_tx.py
Due: tox

fix(github): Set x-dist to auto for all evm impl (#1996)
  .github/configs/evm-impl.yaml
Due: none

chore(ci|clis): updates for full release.
  .github/configs/evm-impl.yaml
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  src/ethereum_clis/clis/execution_specs.py
Due: tox

chore(ci): tweaks.
  .github/configs/feature.yaml
Due: none

chore(tests): update max blob per tx test errors. (#1997)
  tests/osaka/eip7594_peerdas/test_max_blob_per_tx.py
Due: tox

chore(ci): filter benchmark tests.
  .github/configs/feature.yaml
Due: none

chore(ci): preparation for next full release (#1954)
  .github/configs/evm-impl.yaml
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  src/ethereum_clis/clis/execution_specs.py
Due: tox

fix(specs/static): Add `pre_alloc_group` to untagged static tests
  src/ethereum_test_specs/static_state/state_static.py
Due: tox

fix(fill): Don't generate all formats for static tests
  src/cli/pytest_commands/fill.py
Due: tox

feat(fill): Disable `--generate-all-formats` for static tests (#1998)
  src/cli/pytest_commands/fill.py
  src/ethereum_test_specs/static_state/state_static.py
Due: tox

fix(tests): ModExpInput parser
  tests/byzantium/eip198_modexp_precompile/helpers.py
Due: tox

fix(tests): Fix guido-4-even
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
Due: none

fix: Print more info on modexp gas calc mismatch
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
Due: tox

fix: Tox
  tests/byzantium/eip198_modexp_precompile/helpers.py
Due: tox

chore: update boundary input case
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

feat: add fork transition test
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Due: tox

test: add extra invalid cases
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox

refactor(tests): simplify boundary modexp test cases
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Due: tox
