Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

Remove eip4750_functions/test_code_validation.py unreachable tests moved to new file
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Due: tox

Update exceptions
  src/ethereum_test_exceptions/exceptions.py
Due: tox

Consider container kind to determine if container is duplicated
  src/ethereum_test_specs/eof.py
Due: tox

Format code
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_minimal_valid_eof1_multiple_code_sections.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_type_section_size.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_unknown_section.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_unreachable_code_sections.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_stack_range_maximally_broad.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_underflow.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_embedded_container.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_embedded_container_invalid.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_returncontract.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_initcode_container.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_max_nested_containers.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_runtime_container.py
Due: tox

fix(tests): Log code
  tests/prague/eip6110_deposits/helpers.py
Due: tox

new(tests): Add EIP-6110 Sepolia Variant Contract test
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip6110_deposits/test_sepolia_contract.py
Due: tox

fix: parametrize for ABI (No-ABI test disabled)
  tests/prague/eip6110_deposits/test_modified_contract.py
Due: tox

fix: ABI encoding optional
  tests/prague/eip6110_deposits/helpers.py
Due: tox

feat(consume): add `test_case.fork` as a marker for each test (#1304)
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/help/tests/test_help.py
Due: tox, tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(consume): add nethermind support to consume direct
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/nethermind.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
  src/ethereum_clis/clis/nethermind.py
  whitelist.txt
Due: tox, tox-docs

fix(consume): fix test result detection for state tests with nethtest
  src/ethereum_clis/clis/nethermind.py
Due: tox

Apply suggestions from code review
  src/ethereum_clis/clis/nethermind.py
Due: tox

chore(clis): add comment providing a hint for state test traces
  src/ethereum_clis/clis/nethermind.py
Due: tox

fix(consume): fix-up after adding pr review commit
  src/ethereum_clis/clis/nethermind.py
Due: tox

fix(nethtest): revert id matching for compatibility with nethermind master
  src/ethereum_clis/clis/nethermind.py
Due: tox

chore(nethtest): raise an exception if stdout isn't valid json
  src/ethereum_clis/clis/nethermind.py
Due: tox

docs: improve changelog entry
  docs/CHANGELOG.md
Due: tox-docs

feat(clis,consume): add nethermind support to `consume direct` (#1250)
  docs/CHANGELOG.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/nethermind.py
  whitelist.txt
Due: tox, tox-docs

Change EELS dep version in other location
  pyproject.toml
Due: none

chore(deps): move from ethereum git to ethereum-execution package; bump resolver
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump execution-specs version used for test fixture generation
  .github/workflows/tox_verify.yaml
  eels_resolutions.json
Due: none

Bump EELS dependency
  pyproject.toml
Due: none

chore(deps): Bump EELS dependency (#1310)
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  eels_resolutions.json
  pyproject.toml
  uv.lock
Due: tox-docs

chore(fill): fix `--fork/from/until` for transition forks.
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_markers.py
Due: tox

chore(docs): update changelog.
  docs/CHANGELOG.md
Due: tox-docs

new(tests): EOF - EXT*CALL backfill test cases
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

new(tests): EOF - EXTDELEGATECALL blocking vs 7702
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

revert hack
  src/ethereum_test_specs/blockchain.py
  tests/verkle/eip7748/accounts.py
Due: tox

fix(consume): avoid unnecessary warning w/ `consume direct --markers`
  src/pytest_plugins/consume/direct/conftest.py
Due: tox

feat(consume): enable filtering of tests via fixture format marks
  src/pytest_plugins/consume/consume.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

chore: update whitelist
  whitelist.txt
Due: none

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

feat(consume): enable test case filtering by fixture format (#1314)
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  whitelist.txt
Due: tox, tox-docs

fix(consume): don't parametize tests for unsupported fixture formats
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/decorator.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Due: tox
