Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: uvx --with=tox-uv tox --parallel -e lint,typecheck
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
  language: system
  pass_filenames: false

fix(types): ensure `Environment` fields have even byte length (#1268)
  docs/CHANGELOG.md
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
Due: tox, tox-docs

eip7748: generalize test
  tests/verkle/eip7748/accounts.py
Due: tox

eip7748: fixes and more cases
  tests/verkle/eip7748/accounts.py
Due: tox

feat(make): add interactive test directory selection with enhanced UX
  src/cli/eest/make/commands/test.py
Due: tox

feat(make): add interactive test directory selection
  src/cli/eest/make/commands/test.py
Due: tox

refactor(cli): correct function name in test templates
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
Due: tox

feat(make): finalize test creation UX with PR feedback adjustments
  src/cli/eest/make/commands/test.py
Due: tox

feat(make): allow creation of a new test module within an existing tests subfolder
  src/cli/eest/make/commands/test.py
Due: tox

refactor(cli): update eest_make_test.mp4 with a new example
  docs/writing_tests/img/eest_make_test.mp4
Due: none

refactor(cli): update eest_make_test.mp4
  docs/writing_tests/img/eest_make_test.mp4
Due: none

feat(make): add more hints to user input prompts
  src/cli/eest/make/commands/test.py
Due: tox

chore(make): update docstrings so they pass ruff/lint as-is
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
Due: none

style(make): add more hints to input prompts
  src/cli/eest/make/commands/test.py
Due: tox

refactor(cli): update eest_make_test.mp4 with a bigger font
  docs/writing_tests/img/eest_make_test.mp4
Due: none

chore: define genesis base fork.
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/frontier/fork.py
  src/ethereum_test_forks/forks/paris/fork.py
  src/ethereum_test_specs/blockchain.py
Due: tox

enable problematic test case
  tests/verkle/eip7748/accounts.py
Due: tox

new(tests): add more RJUMPV validation tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

chore(ci): enable all precompiles in evmone build (#1262)
  .github/actions/build-evm-client/evmone/action.yaml
Due: none

chore(docs): reduce mp4 size
  docs/writing_tests/img/eest_make_test.mp4
Due: none

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(make): allow creation of a new test module within an existing tests subfolder (#1241)
  docs/CHANGELOG.md
  docs/writing_tests/img/eest_make_test.mp4
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
Due: tox, tox-docs

new(tests): add more RJUMPV validation tests (#1242)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

Add identity returndata tests and additional blake2 test cases
  tests/frontier/precompiles/test_identity_returndata_size.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/istanbul/eip152_blake2/test_blake2_delegatecall.py
Due: tox

new(tests): EOF - ensure EOFCREATE bumps nonce as EIP-161
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

fix(tests): tighter gas_limit
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

fix(tests): Address review comments
  tests/osaka/eip7692_eof_v1/eip4750_functions/helpers.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

doc: update parameter description
  tests/frontier/opcodes/test_calldataload.py
Due: tox

Apply suggestions from code review
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

fix(tests): apply code review suggestions
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

new(tests): EOF - ensure EOFCREATE bumps nonce as EIP-161 (#1270)
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

new(tests): EOF - ensure EOFCREATE memory and transfer (#1271)
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
Due: tox

feat(tests): add eip2537 bls12 audit test cases+.
  docs/CHANGELOG.md
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/vectors/pairing_check_bls.json
Due: tox, tox-docs

new(tests): EOF - CALLF/JUMPF/RETF and memory (#1273)
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

fix: `GethTransitionTool` did not init `TransitionTool`
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
Due: tox, tox-docs

Create CNAME
  CNAME
Due: none

new(tests): Add EIP-6110 Sepolia Variant Contract test
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip6110_deposits/test_sepolia_contract.py
Due: tox

fix(tests): Log code
  tests/prague/eip6110_deposits/helpers.py
Due: tox

fix(types): fix JSON Schema
  pyproject.toml
  src/ethereum_test_base_types/base_types.py
  uv.lock
Due: tox

fix: ABI encoding optional
  tests/prague/eip6110_deposits/helpers.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
