Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: uvx --with=tox-uv tox --parallel -e lint,typecheck,spellcheck
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: uvx --with=tox-uv tox --parallel -e spellcheck,markdownlint,mkdocs
        language: system
        files: \.md$
        pass_filenames: false

tests(zkevm): expand worst case modexp benchmarks
  tests/zkevm/test_worst_compute.py
Due: tox

chore(tests): extra params and refactor.
  docs/CHANGELOG.md
  tests/osaka/eip7907_meter_contract_code_size/__init__.py
  tests/osaka/eip7907_meter_contract_code_size/conftest.py
  tests/osaka/eip7907_meter_contract_code_size/helpers.py
  tests/osaka/eip7907_meter_contract_code_size/spec.py
  tests/osaka/eip7907_meter_contract_code_size/test_meter_contract_code_size.py
Due: tox, tox-docs

temp change.
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore: try fix initcode coverage.
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore: update fill params to include initcode tests.
  .github/configs/feature.yaml
Due: none

chore(forks|tests): temp squashed commit for release.
  docs/CHANGELOG.md
  src/ethereum_test_tools/code/generators.py
  tests/osaka/eip7907_meter_contract_code_size/__init__.py
  tests/osaka/eip7907_meter_contract_code_size/conftest.py
  tests/osaka/eip7907_meter_contract_code_size/helpers.py
  tests/osaka/eip7907_meter_contract_code_size/spec.py
  tests/osaka/eip7907_meter_contract_code_size/test_meter_contract_code_size.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox, tox-docs

chore: update feature params.
  .github/configs/feature.yaml
Due: none

use clone of coverage script
  .github/workflows/coverage.yaml
Due: none

refactor(zkevm): refactor blobhash opcode worst case
  tests/zkevm/test_worst_compute.py
Due: tox

refactor(tests): optimize blobhash test
  tests/zkevm/test_worst_compute.py
Due: tox

docs: add hive dev mode macos workaround.
  docs/running_tests/hive/dev_mode.md
Due: tox-docs

chore(docs): changelog.
  docs/CHANGELOG.md
Due: tox-docs

Update docs/running_tests/hive/dev_mode.md
  docs/running_tests/hive/dev_mode.md
Due: tox-docs

docs(consume,execute): add hive dev mode macOS workaround (#1786)
  docs/CHANGELOG.md
  docs/running_tests/hive/dev_mode.md
Due: tox-docs

remove eels dependency
  pyproject.toml
  src/ethereum_test_types/account_types.py
  src/ethereum_test_types/trie.py
  src/pytest_plugins/execute/rpc/hive.py
  uv.lock
Due: tox

feat(consume): add `--no-api-calls` flag for --input=<github-release-url>
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/releases.py
  src/pytest_plugins/consume/tests/test_input_no_api_calls.py
Due: tox

docs(consume): update consume cache docs for the `--no-api-calls` flag
  docs/running_tests/consume/cache.md
Due: tox-docs

docs(hive): align sub-section title style
  docs/running_tests/hive/dev_mode.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

chore(clis): add block rlp size limit errors (eip-7934).
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
Due: tox

chore(clis): add block rlp size limit errors (eip-7934). (#1789)
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
Due: tox

Apply suggestions from code review
  docs/CHANGELOG.md
  docs/running_tests/consume/cache.md
Due: tox-docs

zkevm: add CALLDATACOPY test
  tests/zkevm/test_worst_memory.py
Due: tox

tests(zkevm): port test case for ecadd precompile
  tests/zkevm/test_worst_compute.py
Due: tox

tests(zkevm): port test case for ecmul precompile
  tests/zkevm/test_worst_compute.py
Due: tox

tests(zkevm): port test case for ecpairing precompile
  tests/zkevm/test_worst_compute.py
Due: tox

add parameter naming
  tests/zkevm/test_worst_memory.py
Due: tox

zkevm: add CODECOPY test
  tests/zkevm/test_worst_memory.py
Due: tox

benchmarks: add RETURNDATACOPY test
  tests/zkevm/test_worst_memory.py
Due: tox

benchmarks: add MCOPY test
  tests/zkevm/test_worst_memory.py
Due: tox

nits
  tests/zkevm/test_worst_memory.py
Due: tox

nit
  tests/zkevm/test_worst_memory.py
Due: tox

use helper func
  tests/zkevm/test_worst_memory.py
Due: tox

refactor(consume): rename `hive_simulators` to `simulators`.
  pytest-framework.ini
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/simulators/__init__.py
  src/pytest_plugins/consume/simulators/conftest.py
  src/pytest_plugins/consume/simulators/engine/__init__.py
  src/pytest_plugins/consume/simulators/engine/conftest.py
  src/pytest_plugins/consume/simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/simulators/exceptions.py
  src/pytest_plugins/consume/simulators/rlp/__init__.py
  src/pytest_plugins/consume/simulators/rlp/conftest.py
  src/pytest_plugins/consume/simulators/rlp/test_via_rlp.py
  src/pytest_plugins/consume/simulators/ruleset.py
  src/pytest_plugins/consume/simulators/timing.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/simulators/helpers/__init__.py
Due: tox

refactor(consume): move helper modules to a new `helpers` sub-package
  src/cli/extract_config.py
  src/pytest_plugins/consume/simulators/conftest.py
  src/pytest_plugins/consume/simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/simulators/helpers/__init__.py
  src/pytest_plugins/consume/simulators/helpers/exceptions.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
  src/pytest_plugins/consume/simulators/helpers/timing.py
  src/pytest_plugins/consume/simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox
